.-sameheight {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.-pull-right {
  margin-left: auto;
}


// Color utils definitions

@each $colorName, $color in $colors {

  .-color-#{$colorName} {
    color: $color;
  }

  .-bg-#{$colorName} {
    background-color: $color;
  }

}
