<div class="panel sameheight-item">
	<div class="panel-body">

		<div class="panel-title-block">
			<h3 class="title">
				Button sizing
			</h3>
		</div>
		<section class="section">
        
            <div class="row">
               <div class="col-lg-6">
                  <p>
                     <button type="button" class="btn btn-primary btn-lg">Large button</button>
                     <button type="button" class="btn btn-default btn-lg">Large button</button>
                  </p>
                  <p>
                     <button type="button" class="btn btn-primary">Default button</button>
                     <button type="button" class="btn btn-default">Default button</button>
                  </p>
               </div>
               <div class="col-lg-6">
                  <p>
                     <button type="button" class="btn btn-primary btn-sm">Small button</button>
                     <button type="button" class="btn btn-default btn-sm">Small button</button>
                  </p>
                  <p>
                     <button type="button" class="btn btn-primary btn-xs">Extra small button</button>
                     <button type="button" class="btn btn-default btn-xs">Extra small button</button>
                  </p>
               </div>
            </div>
            
		</section>
	</div>
</div>