<div class="card sameheight-item">
	<div class="card-block">

		<div class="card-title-block">
			<h3 class="title">
				Button sizing
			</h3>
		</div>
		<section class="section">

            <p>Large buttons</p>
            <button type="button" class="btn btn-primary btn-lg">Primary</button>

            <button type="button" class="btn btn-secondary btn-lg">Secondary</button>

            <button type="button" class="btn btn-success btn-lg">Success</button>

            <button type="button" class="btn btn-info btn-lg">Info</button>

            <button type="button" class="btn btn-warning btn-lg">Warning</button>

            <button type="button" class="btn btn-danger btn-lg">Danger</button>
            <p></p>

            <p>Small buttons</p>
            <button type="button" class="btn btn-primary btn-sm">Primary</button>

            <button type="button" class="btn btn-secondary btn-sm">Secondary</button>

            <button type="button" class="btn btn-success btn-sm">Success</button>

            <button type="button" class="btn btn-info btn-sm">Info</button>

            <button type="button" class="btn btn-warning btn-sm">Warning</button>

            <button type="button" class="btn btn-danger btn-sm">Danger</button>
            <p></p>
            
            <p>Block buttons</p>
            <button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
            <button type="button" class="btn btn-secondary btn-sm btn-block">Block level button</button>
            
		</section>
	</div>
</div>