---
layout: auth/auth-layout
themeTitle: ModularAdmin
---
<div class="auth-container">
  <div class="card">
    <header class="auth-header">
      <h1 class="auth-title">
        {{> _common/logo/logo}}
        {{themeTitle}}
      </h1>
    </header>
    <div class="auth-content">
      <p class="text-xs-center">PASSWORD RECOVER</p>
      <p class="text-muted text-xs-center"><small>Enter your email address to recover your password.</small></p>
      <form id="reset-form"  action="/index.html" method="GET" novalidate="">
        <div class="form-group">
          <label for="email1" >Email</label>
          <input type="email" class="form-control underlined" name="email1" id="email1" placeholder="Your email address" required>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-block btn-primary">Reset</button>
        </div>
        <div class="form-group clearfix">
          <a class="pull-left" href="login.html">return to Login</a>
          <a class="pull-right" href="signup.html">Sign Up!</a>
        </div>
      </form>
    </div>
  </div>
  <div class="text-xs-center">
    <a href="index.html" class="btn btn-secondary rounded btn-sm">
      <i class="fa fa-arrow-left"></i> Back to dashboard
    </a>
  </div>
</div>