<div class="card card-block sameheight-item">
	<div class="title-block">
		<h3 class="title">
			Rounded Inputs
		</h3>	
	</div>
	<form >
	    <div class="form-group">
	        <label class="control-label">Input Text</label>			        
				<input type="text" class="form-control boxed rounded">
	    </div>
	    <div class="form-group">
	        <label class="control-label">Input Password</label>
	        <input type="password" class="form-control boxed rounded">
	    </div>
	    <div class="form-group">
	        <label class="control-label">Placeholder Input</label>
	        <input type="text" class="form-control boxed rounded" placeholder="Placeholder text">
	    </div>
	    <div class="form-group">
	        <label class="control-label">Disabled Input</label>
			<input type="text" disabled="disabled" class="form-control boxed rounded" placeholder="Disabled input text">
	    </div>
	    <div class="form-group">
	    	<label class="control-label">Static control</label>
	    	<p class="form-control-static boxed rounded">email@example.com</p>
	    </div>
	    <div class="form-group">
	        <label class="control-label">Readonly Input</label>
			<input type="text" readonly="readonly" class="form-control boxed rounded" value="Readonly input text">
	    </div>
	    <div class="form-group">
	        <label class="control-label">Textarea</label>
			<textarea rows="3" class="form-control boxed rounded"></textarea>
	    </div>
	</form>
</div>