<div class="card card-block sameheight-item">
	<div class="title-block">
		<h3 class="title">
			Select Types
		</h3>
	</div>
	<form role="form">
		<div class="form-group">
            <select class="form-control input-lg">
                <option value="">.input-lg</option>
            </select>
        </div>
        <div class="form-group">
            <select class="form-control">
                <option value="">Default select</option>
            </select>
        </div>
        <div class="form-group">
            <select class="form-control input-sm">
                <option value="">.input-sm</option>
            </select>
        </div>
        <div class="form-group">

            <select multiple="" class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
	</form>
</div>