/*=============================================
=              External Variables             =
=============================================*/

@import "bootstrap/scss/variables";

/*=============================================
=            Main Colors Definition           =
=============================================*/

$color1: #85CE36 !default;
$color2: #85CE36 !default;
$color3: #85CE36 !default;
$color4: #85CE36 !default;

$colorPrimary: $color1 !default;
$colorPrimary-light: lighten($colorPrimary, 10%) !default;
$colorPrimary-lighter: lighten($colorPrimary, 16%) !default;
$colorPrimary-dark: darken($colorPrimary, 10%) !default;
$colorPrimary-darker: darken($colorPrimary, 16%) !default;

$colorDivider: #d7dde4 !default;

$colorText: #4f5f6f !default;
$colorText-light: #7e8e9f !default;
$colorText-muted: #C2CCD6;
$colorText-inverse: #ffffff !default;
$colorText-passive: #c5c5c5 !default;

// /*=============================================
// =          Common Element Variables           =
// =============================================*/

// // Buttons
// $btn-radius: 25px !default;

// $btn-primary-color: $color-primary !default;
// $btn-primary-color-text: $color-text-inverse !default;


// // Links
// $link-color: #969696 !default;
// $link-transition: initial;
// $link-decoration: underline;

// $link-hover-color: darken($color-primary, 8%) !default;
// $link-hover-decoration: underline !default;

// App
$AppColorBg: #f0f3f6 !default;

// Header
$HeaderHeight: 70px !default;
$HeaderHeight-xs: 50px !default;
$HeaderColorBg: #d7dde4 !default;

// Sidebar
$SidebarWidth: 230px !default;

// Footer
$FooterHeight: 50px !default;
$FooterColorBg: #fff !default;

// Sidebar
$SidebarColorBg: darken(#4f5f6f, 10%) !default;
$SidebarColorText: fade-out($colorText-inverse, 0.5) !default;

// Sidebar Nav
$SidebarNavColorText: fade-out($colorText-inverse, 0.5) !default;
$SidebarNavColorText-active: $colorText-inverse !default;
$SidebarNavColorBg: $SidebarColorBg !default;
$SidebarNavColorBg-active: darken($SidebarColorBg, 6%) !default;

// Page
$PagePaddingVertical-xl: 35px !default;
$PagePaddingHorizontal-xl: 40px !default;

$PagePaddingVertical-lg: 30px !default;
$PagePaddingHorizontal-lg: 35px !default;

$PagePaddingVertical-md: 25px !default;
$PagePaddingHorizontal-md: 20px !default;

$PagePaddingVertical-sm: 20px !default;
$PagePaddingHorizontal-sm: 20px !default;

$PagePaddingVertical-xs: 15px !default;
$PagePaddingHorizontal-xs: 10px !default;

// Card
$CardPaddingHorizontal: 15px !default;
$CardPaddingHorizontal-xl: 20px !default;
$CardPaddingHorizontal-sn: 10px !default;
$cardMarginBottom: 10px !default;

$CardColorBg: fade-out(#fff, 0.9) !default;


// // Dropdowns
// $dropbown-color-border: fade-out($color-text-light, 0.9) !default;
// $dropdown-link-hover-color-bg: #f5f5f5 !default;




// // Card
// $card-padding-x: 15px !default;
// $card-padding-x-xl: 20px !default;
// $card-padding-x-sm: 10px !default;

// $card-margin-bottom: 10px;

// // Item list
// $item-list-color-border: lighten($color-divider, 6%) !default;

// // Charts
// $chart-color-primary: $color-primary !default;
// $chart-color-secondary: lighten($chart-color-primary, 10%) !default;



// /* ***************************************************
// *     Page Specific Element Variables
// ****************************************************** */

// // Dashboard
// $dashboard-stat-icon-color: #BDBDBD !default;
