{{#extend "app/app-layout"}}
	{{#content "body"}}
	
		<div class="title-block">
			<h3 class="title">
				Error: 500
			</h3>
			<p class="subtitle">
				Server Error
			</p>
		</div>

		<section class="section">
			<div class="error-panel error-500">
				<div class="error-container">
					<h3 class="error-title">
						<i class="fa fa-exclamation-triangle"></i> 500
					</h3>
					<p>OOPS, SOMETHING WENT WRONG.</p>
				</div>
			</div>
		</section>

	{{/content}}
{{/extend}}