<div class="card card-block sameheight-item">
	<div class="title-block" >
		<h3 class="title">
			Control Sizing
		</h3>
	</div>
	<form role="form">
		<div class="form-group">
			<input class="form-control form-control-lg" type="text" placeholder=".form-control-lg">
		</div>
		<div class="form-group">
			<input class="form-control" type="text" placeholder="Default input">
		</div>
		<div class="form-group">
			<input class="form-control form-control-sm" type="text" placeholder=".form-control-sm">
		</div>
		<div class="form-group">
			<select class="form-control form-control-lg">
				<option>Option one</option>
				<option>Option two</option>
				<option>Option three</option>
				<option>Option four</option>
			</select>
		</div>
		<div class="form-group">
			<select class="form-control">
				<option>Option one</option>
				<option>Option two</option>
				<option>Option three</option>
				<option>Option four</option>
			</select>
		</div>
		<div class="form-group">
			<select class="form-control form-control-sm">
				<option>Option one</option>
				<option>Option two</option>
				<option>Option three</option>
				<option>Option four</option>
			</select>
		</div>
	</form>
</div>