---
dirname: UIComponents
pagename: UIComponentsTypography
layout: App/App.layout
---
<article class="Page UIComponentsTypography" id="UIComponentsTypography">
  <div class="PageContainer">

    <header class="PageHeader">
      <h1 class="PageTitle">
        Typography
      </h1>
    </header>

    <div class="row">
      <div class="col">
        <div class="Card">
          Hello
        </div>
      </div>
      <div class="col">
        <div class="Card">
          Hello
        </div>
      </div>
    </div>

  </div>
</article>
