<header class="header">
	<div class="header-block header-block-search">
		<form role="search">
			<div class="input-container">
				<i class="fa fa-search"></i>
				<input type="search" placeholder="Search">
				<div class="underline"></div>
			</div>
		</form>
	</div>

	{{!-- <div class="header-block header-block-profile">
		<ul class="nav-profile">
			<li class="notifications">
				<a href="">
					<i class="fa fa-bell-o"></i>
					<span class="counter">8</span>
				</a>
			</li>
			<li class="profile dropdown">
				<a href="">
					<div class="img">
						J
					</div>

					<span class="name">

					</span>

					<span class="arrow">
						<i class="fa fa-angle-down"></i>
					</span>
				</a>
			</li>
		</ul>
	</div> --}}
</header>