.header {

	@line-height: @header-height - 30px;

	background-color: @color-divider;
	height: @header-height;
	position: absolute;
	left: @sidebar-width;
	right: 0;
	transition: left 0.3s ease;
	z-index: 10;

	.clearfix();
	.accelerate();


	.header-block {
		padding: 15px;
		line-height: @line-height;
		float: left;

		@media @xs {
			padding: 5px;
			line-height: @header-height-xs - 10px;
		}
	}

	.collapse-btn {
		vertical-align: initial;
	}

	@media @xs {
		height: @header-height-xs;
		left: @sidebar-width;
		width: 100%;
	}

	@media @sm {
		left: @sidebar-width;
		width: 100%;
	}

	.sidebar-collapsed > & {
		@media @xs {
			left: 0;
		}

		@media @sm {
			left: 0;
		}
	}
	
}