.header {
	background-color: $color-divider;
	height: $header-height;
	position: absolute;
	left: $sidebar-width;
	right: 0;
	transition: left 0.3s ease;
	z-index: 10;

	display: flex;
	align-items: center;
	justify-content: space-between;


	@include media-down(md) {
		left: 0;
	}

	@include media-down(sm) {
		left: 0;
		height: $header-height-xs;
	}

	.header-fixed & {
		position: fixed;
	}

	.header-block {
		@include media-down(sm) {
			padding: 5px;
		}
	}
}