.header {

	@line-height: @header-height - 30px;

	background-color: @color-divider;
	height: @header-height;
	position: absolute;
	left: @sidebar-width;
	right: 0;
	transition: left 0.3s ease;
	z-index: 10;

	.clearfix();
	.accelerate();


	.header-block {
		padding: 15px;
		line-height: @line-height;
	}

	@media @xs {
		left: 0;
	}

	@media @sm {
		left: 0;
	}

	.sidebar-collapsed > & {
		left: 0;

		@media @xs {
			left: @sidebar-width;
		}

		@media @sm {
			left: @sidebar-width;
		}
	}

	.sidebar-opened > & {
		left: @sidebar-width;

		@media @xs {
			left: 0;
		}

		@media @sm {
			left: 0;
		}
	}

	
}