<header class="header">

	<div class="header-block header-block-collapse visible-xs visible-sm" >
		<button class="btn btn-primary collapse-btn" id="sidebar-collapse-btn">
			<i class="fa fa-bars"></i>
		</button>
	</div>
	
	{{> app/_common/header/search/search}}

	{{> app/_common/header/nav/nav}}

</header>