.items-search {
	float: right;
	
	.search-button {
		margin: 0;
	}
}


.item-check {
	margin-bottom: 0;
}

.items-list {
	list-style: none;
	padding: 0;

	.items-list-header {
		font-weight: bold;
		border-bottom: 1px solid @color-divider;
		padding-bottom: 0;

		.col {
			vertical-align: middle;
		}
	}

	li {
		display: table;
		width: 100%;
		border-bottom: 1px solid @color-divider;
		position: relative;
		transition: all 0.3s ease;

		&:nth-child(2n) {
			background-color: lighten(@color-divider, 12%);
		}



		&:hover {
			padding-top: 25px;

			&:first-child {
				padding-top:0;
			}

			.action-row {
				display: table;
			}
		}
	}

	.action-row {
		position: absolute;
		top: 0;
		display: none;
		width: 100%;
    	border-bottom: 1px solid @color-divider;
    	padding-top: 5px;
    	padding-bottom: 2px;
    	padding-left: 20px;
    	padding-right: 5px;

		.action-title {
			display: table-cell;
			font-weight: bold;
		}

		.action-buttons {
			display: table-cell;
			text-align: right;

			a {

				&:before {
					height: 0;
    				background-color: transparent;
				}

				&:after {
					content: "|";
					color: #4f5f6f;
					margin: 5px;
				}

				&:last-child:after {
					content: "";
					margin: 0;
				}

				&:hover {
					&.action-edit {
						color: @color-warning;
					}

					&.action-delete {
						color: @color-danger;
					}
				}
			}
		}

		
	}

	.col {
		display: table-cell;
		vertical-align: top;
		// padding-top: 10px;
		// padding-bottom: 10px;
		padding: 10px;
	}

	.col-check {
		padding-left: 20px;
		width: 20px;
		text-align: center;

		.checkbox + span {
			padding-right: 0;

			&:before {
				width: 20px;
			}
		}
	}

	.col-img {
		width: 50px;
	}

	.col-title {
		
	}

	.col-stats {
		width: 20%;
	}

	.col-author {
		width: 15%;
	}

	.col-category {
		width: 15%;
	}

	.col-date {
		width: 15%;
	}

	.img {
		width: 40px; 
		height: 40px; 
		background-color: #efefef;
		.bg-cover();
	}

}