---
page: items-list
---
{{#extend "app/app-layout"}}
	{{#content "body"}}
	
		<div class="title-block">
			<h3 class="title">
				Items
			</h3>
			<p class="subtitle">
				List of sample items for crud operations
			</p>
		</div>

		<section class="section">
			<div class="panel">
				<div class="panel-body">

				</div>
			</div>
		</section>

	{{/content}}
{{/extend}}