<div class="card card-block">
	<div class="title-block">
		<h3 class="title">
			Checkboxe Types
		</h3>
	</div>
	<form role="form">
		<div class="form-group">
            <label class="control-label">Checkboxes</label>
            <div>
                <label>
                    <input class="checkbox" type="checkbox">
                    <span>Option one</span>
                </label>
            </div>
            <div>
                <label>
                    <input class="checkbox" type="checkbox" checked="checked">
                    <span>Option two checked</span>
                </label>
            </div>
            <div>
                <label>
                    <input class="checkbox" type="checkbox" disabled="disabled" checked="checked">
                    <span>Option three checked and disabled</span>
                </label>
            </div>
            <div>
                <label>
                    <input class="checkbox" type="checkbox" disabled="disabled" >
                    <span>Option four disabled</span>
                </label>
            </div>
        </div>
        <div class="form-group">
             <label class="control-label">Inline Checkboxes</label>
             <div>
                 <label>
                    <input class="checkbox" type="checkbox">
                    <span>a</span>
                </label>
                <label>
                    <input class="checkbox" type="checkbox">
                    <span>b</span>
                </label>
                <label>
                    <input class="checkbox" type="checkbox">
                    <span>c</span>
                </label>
             </div>
        </div>
        <div class="form-group">
             <label class="control-label">Rounded Checkboxes</label>
             <div>
                 <label>
                    <input class="checkbox rounded" checked="checked" type="checkbox">
                    <span>Checked</span>
                </label>
                <label>
                    <input class="checkbox rounded" type="checkbox">
                    <span>Unchecked</span>
                </label>
             </div>
        </div>
	</form>
</div>