{{#extend "app/app-layout"}}
	{{#content "body"}}
	
		<div class="title-block">
			<h3 class="title">
				Error: 404
			</h3>
			<p class="subtitle">
				We Couldn’t Find This Page
			</p>
		</div>

		<section class="section">
			<div class="error-panel error-404">
				<div class="error-container">
					<h3 class="error-title">
						<i class="fa fa-exclamation-triangle"></i> 404
					</h3>
					<p>OOPS, PAGE NOT FOUND</p>
				</div>
			</div>
		</section>

	{{/content}}
{{/extend}}