<div class="panel sameheight-item">
	<div class="panel-body">

		<div class="panel-title-block">
			<h3 class="title">
				Button labeled
			</h3>
		</div>
		<section class="section">
        
            <!-- Success button with label -->
            <button type="button" class="btn btn-labeled btn-success">
                <span class="btn-label"><i class="fa fa-check"></i></span> Success
            </button>

            <!-- Danger button with label -->
            <button type="button" class="btn btn-labeled btn-danger">
                <span class="btn-label"><i class="fa fa-times"></i></span> Danger
            </button>

            <!-- Info button with label -->
            <button type="button" class="btn btn-labeled btn-info">
                <span class="btn-label"><i class="fa fa-exclamation"></i></span> Info
            </button>

            <!-- Warning button with label -->
            <button type="button" class="btn btn-labeled btn-warning">
                <span class="btn-label"><i class="fa fa-warning"></i></span> Warning
            </button>

            <br>
            <br>

            <!-- Standard button with label -->
            <button type="button" class="btn btn-labeled btn-default">
                <span class="btn-label"><i class="fa fa-arrow-left"></i></span> Left
            </button>
            <!-- Standard button with label on the right side -->
            <button type="button" class="btn btn-labeled btn-default">
                Right <span class="btn-label btn-label-right"><i class="fa fa-arrow-right"></i></span>
            </button>
		</section>
	</div>
</div>