<div class="header-block header-block-search hidden-sm-down">
	<form role="search">
		<div class="input-container">
			<i class="fa fa-search"></i>
			<input type="search" placeholder="Search">
			<div class="underline"></div>
		</div>
	</form>
</div>