@import 'bootstrap/scss/variables';
@import '_main/variables.scss';
@import 'bootstrap/scss/mixins.scss';

.header .header-block-search {
	$line-height: $header-height - 30px;

	float: left;
	padding-left: $content-padding-x-md;

	// @media $xs {
	// 	padding-left: $content-padding-x-xs;
	// }

	// @media $sm {
	// 	padding-left: $content-padding-x-sm;
	// }

	// @media $md {
	// 	padding-left: $content-padding-x-md;
	// }

	// @media $lg {
	// 	padding-left:  $content-padding-x-lg;
	// }

	& > form {
		float: right;

		// $media $xs {
		// 	padding-left: 0;
		// }
	} 

	.input-container {
		position: relative;
		color: $color-text-light;

		i {
			position: absolute;
			pointer-events: none;
			display: block;
			height: $line-height;
			line-height: $line-height;
			left: 0;
		}

		input {
			background-color: inherit;
			border: none;
			padding-left: 25px;

			// @media $xs {
			// 	max-width: 140px;
			// }
		}

		// .underline {
		// 	&:extend(.underline-animation);
		// }


		input:focus + .underline {
			transform: scaleX(1);
		}

	}
}