.header .header-block-search {
	$line-height: $header-height - 30px;

	float: left;
	padding-left: $content-padding-x-md;

	@include media-down(sm) {
		padding-left: $content-padding-x-xs;
	}

	@include media(md) {
		padding-left: $content-padding-x-sm;
	}

	@include media(lg) {
		padding-left: $content-padding-x-md;
	}

	@include media(xl) {
		padding-left:  $content-padding-x-lg;
	}

	& > form {
		float: right;

		@include media-down(sm) {
			padding-left: 0;
		}
	} 

	.input-container {
		position: relative;
		color: $color-text-light;

		i {
			position: absolute;
			pointer-events: none;
			display: block;
			height: $line-height;
			line-height: $line-height;
			left: 0;
		}

		input {
			background-color: inherit;
			border: none;
			padding-left: 25px;

			@include media-down(sm) {
				max-width: 140px;
			}
		}

		// .underline {
		// 	&:extend(.underline-animation);
		// }


		input:focus + .underline {
			transform: scaleX(1);
		}

	}
}