<div class="card sameheight-item" data-exclude="xs,sm">
	<div class="card-header">
		<div class="header-block">
	        <h3 class="title">
	            Sales by countries
	        </h3>
	    </div>
	</div>
    <div class="card-block">
        <div id="dashboard-sales-map" style="width: 100%; height: 400px;"></div>
    </div>
</div>