.dashboard-page #dashboard-sales-map {

	.jqvmap-zoomin,
	.jqvmap-zoomout {
		background-color: $color-primary;
		height: 20px;
		width: 20px;
		line-height: 14px;
	}

	.jqvmap-zoomout {
		top: 32px;
	}
}