{{!-- Notifications --}}

<li class="notifications new">
	<a href="" data-toggle="dropdown">
		<i class="fa fa-bell-o"></i>
		<sup>
			<span class="counter">8</span>
		</sup>
	</a>

	<div class="dropdown-menu notifications-dropdown-menu">

		<ul class="notifications-container">
			<li>
				<a href="" class="notification-item">
					<div class="img-col">

					</div>
					<div class="body-col">

					</div>
				</a>
			</li>
		</ul>

		<footer>
			<ul>
				<li>
					<a href="">
						View All
					</a>
				</li>
			</ul>
		</footer>
	</div>
</li>
