.pagination {
	margin-top: 0;

	.page-item {
		.page-link {
			color: $color-primary;
		}

		&.active {
			.page-link,
			.page-link:focus,
			.page-link:hover {
				color: #fff;
				border-color: $color-primary;
				background-color: $color-primary;
			}
		}
	}
}