<div class="Customize">
  <header class="CustomizeHeader">
    <h4 class="Title">
      Customize Theme
    </h4>
    <a
      href=""
      id="CustomizeDismissButton"
      class="Button -dismiss CustomizeDismissButton">
      <i class="fa fa-times Icon"></i>
    </a>
  </header>
  <div class="CustomizeContent">


  </div>
</div>
