$flot-chart-height: 225px;
$flot-chart-width: 225px;

.flot-chart {
	display: block;
	height: $flot-chart-height;

	.flot-chart-content {
		width: 100%;
		height: 100%;
	}

	.flot-chart-pie-content {
		width: $flot-chart-width;
		height: $flot-chart-height;
		margin: auto;
	}
}