---
layout: app/app-layout
pagename: screenful
---
<div class="title-block">


	<h1 class="title">
		Agile Metrics
	</h1
	<p class="title-description">Supercharge your teamwork with <a href="https://screenful.com" target="_blank">Screenful</a>! </p>

</div>


<section class="section">

	{{!-- <div class="card"> --}}
		{{!-- <div class="card-block"> --}}

			<h3 class="subtitle">This project is proudly supported by</h3>

			<a href="https://screenful.com" target="_blank">
				<div class="screenful-logo"></div>
			</a>

			<p class="description">
				Screenful is the easiest way to <strong>visualise and share your project progress</strong> using data from your <strong>existing tools</strong>.<br>
				Get a quick overview of your team's status on your smartphone or tablet. <a href="https://screenful.com" target="_blank">Learn more</a>
			</p>


		{{!-- </div> --}}
	{{!-- </div> --}}

	{{!----------- Friendly Apps Start-----------}}

	<div class="separator"></div>

	<div class="container integration-block">
		<h3 class="integration-title">Visual dashboards and team status reports</h3>
		<div class="row">

			<div class="col-md">
				<a href="https://screenful.com/dashboard-for-trello/">
					<img class="integration-logo" src='https://static1.squarespace.com/static/5303cdc2e4b01fb736d82734/5a5df4399140b7de43b55dbe/5a5df43ac8302520d4800cfc/1516203559727/Logo+Trello.png?format=300w'>
				</a>
			</div>
			<div class="col-md">
				<a href="https://screenful.com/dashboard-for-jira/">
					<img class="integration-logo" src='https://static1.squarespace.com/static/5303cdc2e4b01fb736d82734/5a5df4399140b7de43b55dbe/5a5df43a4192027395fe38e7/1516203559724/Logo+Jira.png?format=300w'>
				</a>
			</div>
			<div class="col-md">
				<a href="https://screenful.com/dashboard-for-github/">
					<img class="integration-logo" src='https://static1.squarespace.com/static/5303cdc2e4b01fb736d82734/5a5df4399140b7de43b55dbe/5a5df439e2c483c808155451/1516203559722/Logo+Github.png?format=300w'>
				</a>
			</div>
			<div class="col-md">
				<a href="https://screenful.com/dashboard-for-pivotal-tracker/">
					<img class="integration-logo" src='https://static1.squarespace.com/static/5303cdc2e4b01fb736d82734/5a5df4399140b7de43b55dbe/5a5df43a24a694d7b88631f9/1516203559726/Logo+Pivotal.png?format=300w'>
				</a>
			</div>
			<div class="col-md">
				<a href="https://screenful.com/dashboard-for-asana/">
					<img class="integration-logo" src='https://static1.squarespace.com/static/5303cdc2e4b01fb736d82734/5a5df4399140b7de43b55dbe/5a5df439c8302520d4800cf9/1516203559719/Logo+Asana.png?format=300w'>
				</a>
			</div>

		</div>
		<h6 class="subtitle">Click the logo to learn how it works with your tool of choice!</h6>
	</div>

	{{!----------- Friendly Apps End-----------}}

	{{!----------- Benefits Start -----------}}

	<div class="separator"></div>

	<h3 class="benefits-title">Make better decisions based on facts</h3>

	<div class="row">

		<div class="col-md-6 screen-colum">

			<div class="screen-item">
				<a href="https://screenful.com/tour/timing-screen">
					<img class="ex-pic" alt="Timing Screen" title="Timing Screen" src='https://static1.squarespace.com/static/5303cdc2e4b01fb736d82734/t/5a5648f5652dea4f3daffdf4/1515604231261/Screen+Shot+2018-01-10+at+19.08.24.png?format=750w'>
				</a>
				<div class="description">
					<a href="https://screenful.com/tour/timing-screen">
						<h3 class="title">Track your lead and cycle times</h3>
					</a>
					<ul>
						<li>What is your average lead time for resolving bug/ticket/story?</li>
						<li>How quickly tasks are resolved after work is started?</li>
						<li>Identify bottlenecks in your workflow.</li>
					</ul>
				</div>
			</div>

		</div>



		<div class="col-md-6 screen-colum">

			<div class="screen-item">
				<a href="https://screenful.com/tour/sprint-burndown-chart">
					<img class="ex-pic" alt="Sprint Burndown" title="Sprint Burndown" src='https://static1.squarespace.com/static/5303cdc2e4b01fb736d82734/t/5a60d6c90d9297648ea5088e/1516295888512/Sprint.png?format=750w'>
				</a>
				<div class="description">
					<a href="https://screenful.com/tour/sprint-burndown-chart">
						<h3 class="title">Track your sprint progress with a burndown chart</h3>
					</a>
					<ul>
						<li>Are you ahead or behind the target?</li>
						<li>How many tasks are still not started?</li>
						<li>Is your team's velocity stable?</li>
						<li>A better sprint burndown chart for your team.</li>
					</ul>
				</div>
			</div>

		</div>

		<div class="col-md-6 screen-colum">

			<div class="screen-item">
				<a href="https://screenful.com/tour/milestone-burnup-chart">
					<img class="ex-pic" alt="Milestone Burnup Chart" title="Milestone Burnup Chart" src='https://static1.squarespace.com/static/5303cdc2e4b01fb736d82734/t/59c8cf7ac534a585d422227f/1506332547137/Milestone+burnup.png?format=750w'>
				</a>
				<div class="description">
					<a href="https://screenful.com/tour/milestone-burnup-chart">
						<h3 class="title">Monitor the progress of your milestones</h3>
					</a>
					<ul>
						<li>How much of work is done vs still todo?</li>
						<li>How scope changes affect the projected delivery dates?</li>
						<li>What is the most likely delivery date based on recent velocity?</li>
					</ul>
				</div>
			</div>

		</div>

		<div class="col-md-6 screen-colum">

			<div class="screen-item">
				<a href="https://screenful.com/tour/task-status-screen/">
					<img class="ex-pic" alt="Task Status" title="Task Status" src='https://static1.squarespace.com/static/5303cdc2e4b01fb736d82734/t/59c8d01680bd5e5bb9d9e5d2/1506332699868/Task+status.png?format=750w'>
				</a>
				<div class="description">
					<a href="https://screenful.com/tour/task-status-screen/">
						<h3 class="title">Gain a bird's-eye view on your projects</h3>
					</a>
					<ul>
						<li>Are there any overdue tasks?</li>
						<li>Does everyone has enough work assigned?</li>
						<li>What has been recently completed?</li>
						<li>How many tasks were created or completed within last 7 days?</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="col-md-6 screen-colum">

			<div class="screen-item">
				<a href="https://screenful.com/tour/open-tasks-chart">
					<img class="ex-pic" alt="Open Tasks chart" title="Open Tasks chart" src='https://static1.squarespace.com/static/5303cdc2e4b01fb736d82734/t/59c8d039e45a7c0f49e400e8/1506332735484/Open+tasks.png?format=750w'>
				</a>
				<div class="description">
					<a href="https://screenful.com/tour/open-tasks-chart">
						<h3 class="title">Track your work in progress</h3>
					</a>
					<ul>
						<li>How many open tasks there are per label/workflow state/assignee?</li>
						<li>How much work is assigned to each individual?</li>
						<li>Is your work piling up?</li>
					</ul>
				</div>
			</div>

		</div>

		<div class="col-md-6 screen-colum">

			<div class="screen-item">
				<a href="https://screenful.com/tour/completed-tasks-chart">
					<img class="ex-pic" alt="Completed Tasks chart" title="Completed Tasks chart" src='https://static1.squarespace.com/static/5303cdc2e4b01fb736d82734/t/59c8d026f09ca4eb6e4e4543/1506332717164/Completed+tasks.png?format=750w'>
				</a>
				<div class="description">
					<a href="https://screenful.com/tour/completed-tasks-chart">
						<h3 class="title">Track your completed work</h3>
					</a>
					<ul>
						<li>How much work did you get done?</li>
						<li>How is your time distributed between different activities?</li>
						<li>What is the trend - are you working more on activities that create value?</li>
					</ul>
				</div>
			</div>

		</div>

		<div class="col-md-6 screen-colum">

			<div class="screen-item">
				<a href="https://screenful.com/tour/team-status-screen">
					<img class="ex-pic" alt="Team Status screen" title="Team Status screen" src='https://static1.squarespace.com/static/5303cdc2e4b01fb736d82734/t/59c8ce8cf43b55ff86c995d9/1506332307686/Team+Status.png?format=750w'>
				</a>
				<div class="description">
					<a href="https://screenful.com/tour/team-status-screen">
						<h3 class="title">See what each team member is currently working on</h3>
					</a>
					<ul>
						<li>Which tasks are currently in progress?</li>
						<li>Who's working on what?</li>
						<li>What has been recently completed?</li>
						<li>Pick your own lists. </li>
					</ul>
				</div>
			</div>

		</div>

		<div class="col-md-6 screen-colum">

			<div class="screen-item">
				<a href="https://screenful.com/blog/introducing-custom-chart-create-any-chart-from-your-task-data">
					<img class="ex-pic" alt="Custom Chart" title="Custom Chart" src='https://static1.squarespace.com/static/5303cdc2e4b01fb736d82734/t/5a04e16bc83025b2026d7cea/1510269306653/Screen+Shot+2017-11-09+at+23.07.49.png?format=750w'>
				</a>
				<div class="description">
					<a href="https://screenful.com/blog/introducing-custom-chart-create-any-chart-from-your-task-data">
						<h3 class="title">Create custom charts</h3>
					</a>
					<ul>
						<li>Create charts from your task data</li>
						<li>Tasks or story points done, lead & cycle times, pick the metric you want to see</li>
						<li>Group by label, assignee, source board, or by any other property.</li>
					</ul>
				</div>
			</div>

		</div>

	</div>

	{{!----------- Benefits End -----------}}

</section>

