---
layout: app/app-layout
pagename: screenful
---
<div class="title-block">


	<h1 class="title">
		Team Metrics
	</h1
	<p class="title-description">Supercharge your teamwork with <a href="https://screenful.com" target="_blank">Screenful</a>! </p>

</div>


<section class="section">

	{{!-- <div class="card"> --}}
		{{!-- <div class="card-block"> --}}

			<h3 class="subtitle">This project is proudly supported by</h3>

			<a href="https://screenful.com" target="_blank">
				<div class="screenful-logo"></div>
			</a>

			<p class="description">
				Screenful is the easiest way to <strong>visualise and share your project progress</strong> using data from your <strong>existing tools</strong>.<br>
				Get a quick overview of your team's status on your smartphone or tablet. <a href="https://screenful.com" target="_blank">Learn more</a>
			</p>


		{{!-- </div> --}}
	{{!-- </div> --}}
</section>

