@import 'bootstrap/scss/mixins';

// /*****************************************
// *		Triangle Creation Mixin
// ******************************************/

// @mixin triangle-base() {
//     content: '';
//     display: block;
//     width: 0;
//     height: 0;
//     -moz-transform: scale(.9999);
// }
// @mixin triangle($direction, $size, $color) {
//     @include triangle($direction, $size * 2, $size, $color);
// }
// @mixin triangle($direction, $width, $height, $color) when ($direction = up) {
//     @include triangle-base();
//     border-left: ($width / 2) solid transparent;
//     border-right: ($width / 2) solid transparent;
//     border-bottom: $height solid $color;
// }
// @mixin triangle($direction, $width, $height, $color) when ($direction = down) {
//     @include triangle-base();
//     border-left: ($width / 2) solid transparent;
//     border-right: ($width / 2) solid transparent;
//     border-top: $height solid $color;
// }
// @mixin triangle($direction, $width, $height, $color) when ($direction = left) {
//     @include triangle-base();
//     border-top: ($width / 2) solid transparent;
//     border-bottom: ($width / 2) solid transparent;
//     border-right: $height solid $color;
// }
// @mixin triangle($direction, $width, $height, $color) when ($direction = right) {
//     @include triangle-base();
//     border-top: ($width / 2) solid transparent;
//     border-bottom: ($width / 2) solid transparent;
//     border-left: $height solid $color;
// }


/*****************************************
*       Background-image: cover mixin
******************************************/

@mixin bg-cover() {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*****************************************
*       Media Query Mixins
******************************************/

// Specified breakpoint
@mixin media($name) {
	@include media-breakpoint-only($name) {
		@content;
	};
}

// Larger than specified breakpoint
@mixin media-up($name) {
	@include media-breakpoint-up($name) {
		@content;
	};
}

// smaller than specified breakpoint
@mixin media-down($name) {
	@include media-breakpoint-down($name) {
		@content;
	};
}

// /******************************************
// *           Placeholder
// *******************************************/
@mixin placeholder() {
	&::-webkit-input-placeholder { /* WebKit, Blink, Edge */
		@content;
	}
	&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		@content;
	}
	&::-moz-placeholder { /* Mozilla Firefox 19+ */
		@content;
	}
	&:-ms-input-placeholder { /* Internet Explorer 10-11 */
		@content;
	}
}


// /******************************************
// *           Hardware Acceleration
// *******************************************/

@mixin accelerate() {
    transform: translate3d(0, 0, 0);
}