.card {
	background-color: #fff;
	box-shadow: 1px 1px 5px fade-out($color-text-light, 0.9);
	
	margin-bottom: 10px;
	border-radius: 0;

	.card-header {
		background-image: none;
		color: #fff;
		border-radius: 0;
	}

	&.card-default {

		& > .card-header {
			background-color: #fff;
			color: inherit;
		}
	}

	&.card-primary {
		border-color: $color-primary;
		& > .card-header {
			background-color: $color-primary;
			border-color: $color-primary;
		}
	}

	&.card-success {
		& > .card-header {
			background-color: $color-success;
		}
	}

	&.card-info {
		& > .card-header {
			background-color: $color-info;
		}
	}

	&.card-warning {
		& > .card-header {
			background-color: $color-warning;
		}
	}

	&.card-danger {
		& > .card-header {
			background-color: $color-danger;
		}
	}

	&.card-inverse {
		& > .card-header {
			background-color: $color-inverse;
		}
	}

	.title-block,
	.card-title-block {
		padding-bottom: 0;
		margin-bottom: 20px;
		border: none;

		@include clearfix();
	}

	.section {
		margin-bottom: 20px;
	}

	.example,
	.section.demo {
		margin-bottom: 40px;
	}
}


.card-block {
	padding: 15px;

	@include media(xl) {
		padding: 20px;
	}

	@include media-down(sm) {
		padding: 10px;
	}
}

.card-footer {
	background-color: #fafafa;
}
