.row {
	.col {
		padding-left: $grid-gutter-width-base/2;
		padding-right: $grid-gutter-width-base/2;
		float: left;
	}
}


.row-sm {
	margin-left: -10px;
	margin-right: -10px;

	[class^='col'] {
		padding-left: 10px;
		padding-right: 10px;
	}
}


.title-block {
	padding-bottom: 15px;
	margin-bottom: 30px;
	border-bottom: 1px solid $color-divider;

	@include clearfix();

	@include media-down(sm) {
		margin-bottom: 20px;
	}
}


.subtitle-block {
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: 1px dashed lighten($color-divider, 3%);
}

.section {
	display: block;
	margin-bottom: $content-padding-y-md - $card-margin-bottom;


	@include media(xl) {
		margin-bottom: $content-padding-y-xl - $card-margin-bottom;
	}

	@include media(lg) {
		margin-bottom: $content-padding-y-lg - $card-margin-bottom;
	}

	@include media(md) {
		margin-bottom: $content-padding-y-md - $card-margin-bottom;
	}

	@include media-down(sm) {
		margin-bottom: $content-padding-y-sm - $card-margin-bottom;
	}


	&:last-of-type {
		margin-bottom: 0;
	}
}

.box-placeholder {
    margin-bottom: 15px;
    padding: 20px;
    border: 1px dashed #ddd;
    background: #fafafa;
    color: #444;
    cursor: pointer;
}
