.underline-animation {
	position: absolute;
	top: auto;
	bottom: 1px;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: $color-primary;
	content: '';
	transition: all 0.2s;
	backface-visibility: hidden;
	transform: scaleX(0);
}

.bar {
	// background-color: $color-primary !important;
}


.stat-chart {
	border-radius: 50%;
}

.stat {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	margin-right: 10px;

	.value {
		font-size: 20px;
		line-height: 24px;
		overflow: hidden;
		text-overflow: ellipsis;
		font-weight: 500;
	}

	.name {
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&.lg {
		.value {
			font-size: 26px;
			line-height: 28px;
		}

		.name {
			font-size: 16px;
		}
	}
}

.list-icon {

	[class^='col'] {
		cursor: pointer;
		
		em {
			font-size: 14px;
			width: 40px;
			vertical-align: middle;
			margin: 0;
			display: inline-block;
			text-align: center;
			-webkit-transition: all 1s;
			-o-transition: all 1s;
			transition: all 1s;
			line-height: 30px;
		}

		&:hover {
			em {
				transform: scale(2,2);
			}
		}
	}
}


.well {
	background-image: none;
	background-color: #fff;
}

.jumbotron {
	background-image: none;
	background-color: #fff;
	padding: 15px 30px;

	&.jumbotron-fluid {
		padding-left: 0;
		padding-right: 0;
	}
}

.rounded {
	border-radius: $border-radius;
}

.rounded-l {
	border-radius: $border-radius-lg;
}

.rounded-s {
	border-radius: $border-radius-sm;
}

.jqstooltip {
	height: 25px !important;
	width: auto !important;
	border-radius: $border-radius-sm;
}