.title {
	font-size: 21px;
	font-weight: bold;
	margin: 0;

	// Title large
	&.l {
		font-size: 23px;
	}

	&.s {
		font-size: 18px;
	}

	.panel & {
		font-size: 18px;
	}
}

.subtitle,
.title-description {
	margin: 0;
	font-size: 14px;
	font-weight: normal;
	color: $color-text-light;

	// Small 
	&.s {
		font-size: 13px;
	}
}

.subtitle {
	@include media-down(sm) {
		display: none;
	}
}

.text-primary {
	color: $color-primary;
}

.text-muted {
	color: lighten($color-text-light, 10%)
}

pre {
	padding: 0;
	border: none;
	background: none;
}