<div class="card card-block sameheight-item">
	<div class="title-block">
		<h3 class="title">
			Basic Forms
		</h3>
	</div>
	<form role="form">
		<div class="form-group">
			<label  for="exampleInputEmail1">Email address</label>
			<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
		</div>
		<div class="form-group">
			<label  for="exampleInputPassword1">Password</label>
			<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
	</form>
</div>