---
dirname: TablesAndLists # output dirname
pagename: ResponsiveLists
layout: Dashboard/Dashboard.layout
---

<article class="Page ResponsiveLists">
  <div class="PageContainer">
     ths is ResponsiveLists page
  </div>
</article>
