.btn {
	background-image: none;
	border-radius: 0;
	margin-bottom: 5px;

	&.btn-primary {
		@include button-variant( $btn-primary-color-text, $color-primary, $color-primary);
	}

	&.btn-secondary {
		@include button-variant( $color-text, #fff, $color-divider );	
	}

	&.btn-success {
		@include button-variant( $color-text-inverse, $color-success, $color-success);
	}

	&.btn-info {
		@include button-variant( $color-text-inverse, $color-info, $color-info);
	}

	&.btn-warning {
		@include button-variant( $color-text-inverse, $color-warning, $color-warning);
	}

	&.btn-danger {
		@include button-variant( $color-text-inverse, $color-danger, $color-danger);
	}

	// Remove all backgrounds
	&.btn-primary-outline {
		@include button-outline-variant($color-primary);
	}

	&.btn-secondary-outline {
		@include button-outline-variant($color-divider);
	}

	&.btn-info-outline {
		@include button-outline-variant($color-info);
	}

	&.btn-success-outline {
		@include button-outline-variant($color-success);
	}

	&.btn-warning-outline {
		@include button-outline-variant($color-warning);
	}

	&.btn-danger-outline {
		@include button-outline-variant($color-danger);
	}

	&.btn-pill-left,
	&.btn-pill-right,
	&.btn-oval {
		&:focus {
			outline: none;
    		outline-offset: initial;
		}	
	}

	&.btn-pill-left {
		border-top-left-radius: $btn-radius;	
		border-bottom-left-radius: $btn-radius;
	}

	&.btn-pill-right {
		border-top-right-radius: $btn-radius;	
		border-bottom-right-radius: $btn-radius;
	}

	&.btn-oval {
		border-radius: $btn-radius;
	}

	&.btn-link {
		text-decoration: none;
	}

	strong {
		font-weight: 600;
	}

}

.btn-group {
	.dropdown-menu {
		& > li:last-child {
			a:hover:before {
				height: 0px;
				transform: scaleX(0)
			}
		}
	}
}