<div class="card sameheight-item">
	<div class="card-block">

		<div class="card-title-block">
			<h3 class="title">
				Outline buttons
			</h3>
		</div>
		<section class="section">
        
            <button type="button" class="btn btn-primary-outline">Primary</button>

            <button type="button" class="btn btn-secondary-outline">Secondary</button>

            <button type="button" class="btn btn-success-outline">Success</button>

            <button type="button" class="btn btn-info-outline">Info</button>

            <button type="button" class="btn btn-warning-outline">Warning</button>

            <button type="button" class="btn btn-danger-outline">Danger</button>
            
		</section>
	</div>
</div>