.Footer {
  --footer-color-bg: $FooterColorBg;

  width: 100%;
  align-items: center;
  justify-content: space-between;

  background-color: $FooterColorBg;
  background-color: var(--footer-color-bg);
}
