<div class="sameheight-item projects" data-exclude="xs">
	<div class="item">
		<div class="card">
			<div class="card-block">
				<br><br>
			</div>
		</div>
	</div>

	<div class="item">
		<div class="card">
			<div class="card-block">
				<br><br>
			</div>
		</div>
	</div>

	<div class="item">
		<div class="card">
			<div class="card-block">
				<br><br>
			</div>
		</div>
	</div>

	<div class="item">
		<div class="card">
			<div class="card-block">
				<br><br>
			</div>
		</div>
	</div>
</div>