---
layout: App/App.layout
titleSeparator: ''
---
<article class="Page">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-5 -sameheight">

      <div class="Card Stats">
        <div class="CardBlock">

          <div class="TitleBlock">
            <h4 class="Title">Stats</h4>
            <p class="TitleDescription">
              Website metrics for your awesome project
            </p>
          </div>

          <div class="row -condense">

            <div class="col-xs-12 col-sm-6 stat-col">
              <div class="stat-icon">
                <i class="fa fa-rocket"></i>
              </div>
              <div class="stat">
                <div class="value">
                  5407
                </div>
                <div class="name">
                  Active items
                </div>
              </div>
              <progress class="progress stat-progress" value="75" max="100">
                <div class="progress">
                  <span class="progress-bar" style="width: 75%;"></span>
                </div>
              </progress>
            </div>

            <div class="col-xs-12 col-sm-6 stat-col">
              <div class="stat-icon">
                <i class="fa fa-shopping-cart"></i>
              </div>
              <div class="stat">
                <div class="value">
                  78464
                </div>
                <div class="name">
                  Items sold
                </div>
              </div>
              <progress class="progress stat-progress" value="25" max="100">
                <div class="progress">
                  <span class="progress-bar" style="width: 25%;"></span>
                </div>
              </progress>
            </div>

            <div class="col-xs-12 col-sm-6  stat-col">
              <div class="stat-icon">
                <i class="fa fa-line-chart"></i>
              </div>
              <div class="stat">
                <div class="value">
                  $80.560
                </div>
                <div class="name">
                  Monthly income
                </div>
              </div>
              <progress class="progress stat-progress" value="60" max="100">
                <div class="progress">
                  <span class="progress-bar" style="width: 60%;"></span>
                </div>
              </progress>
            </div>



            <div class="col-xs-12 col-sm-6  stat-col">
              <div class="stat-icon">
                <i class="fa fa-users"></i>
              </div>
              <div class="stat">
                <div class="value">
                  359
                </div>
                <div class="name">
                  Total users
                </div>
              </div>
              <progress class="progress stat-progress" value="34" max="100">
                <div class="progress">
                  <span class="progress-bar" style="width: 34%;"></span>
                </div>
              </progress>
            </div>


            <div class="col-xs-12 col-sm-6  stat-col">
              <div class="stat-icon">
                <i class="fa fa-list-alt"></i>
              </div>
              <div class="stat">
                <div class="value">
                  59
                </div>
                <div class="name">
                  Tickets closed
                </div>
              </div>
              <progress class="progress stat-progress" value="49" max="100">
                <div class="progress">
                  <span class="progress-bar" style="width: 49%;"></span>
                </div>
              </progress>
            </div>

            <div class="col-xs-12 col-sm-6 stat-col">
              <div class="stat-icon">
                <i class="fa fa-dollar"></i>
              </div>
              <div class="stat">
                <div class="value">
                  $780.064
                </div>
                <div class="name">
                  Total income
                </div>
              </div>
              <progress class="progress stat-progress" value="15" max="100">
                <div class="progress">
                  <span class="progress-bar" style="width: 15%;"></span>
                </div>
              </progress>
            </div>



          </div>

        </div>
      </div>

    </div>

    <div class="col-sm-12 col-md-6 col-lg-7 -sameheight">
      <div class="Card">

        <div class="CardHeader -bordered -sm">
          <div class="HeaderBlock">
            <h4 class="Title">History</h4>
          </div>
        </div>
        <div class="CardBlock">
          This is Chart content
        </div>

      </div>
    </div>


  </div>
  <div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

  </div>
</article>
