---
layout: App/App.layout
titleSeparator: ''
---
<article class="Page">
  <div class="row">
    <div class="col">

      <div class="Card">

        This Is Card <br> <br><br>

      </div>

    </div>

    <div class="col">
      <div class="Card">

        This Is Another Card

      </div>
    </div>
  </div>
</article>
