---
layout: App/App.layout
titleSeparator: ''
---
<article class="Page Dashboard">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-5 -sameheight">
      {{> App/Dashboard/Stats/Stats}}
    </div>

    <div class="col-sm-12 col-md-6 col-lg-7 -sameheight">
      {{> App/Dashboard/History/History}}
    </div>
  </div>
</article>
