---
layout: App/App.layout
titleSeparator: ''
items:
  - title: 12 Myths Uncovered About IT & Software
    img: https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg
    author: Meadow Katheryne
    category: Software
    date: 21 SEP 10:45
    sales: 4958
  - title: 50% of things doesn't really belongs to you
    img: https://s3.amazonaws.com/uifaces/faces/twitter/_everaldo/128.jpg
    author: Alexander Sargssyan
    category: Software
    date: 21 SEP 10:40
    sales: 192
  - title: Vestibulum tincidunt amet laoreet mauris sit sem aliquam cras maecenas vel aliquam.
    img: https://s3.amazonaws.com/uifaces/faces/twitter/eduardo_olv/128.jpg
    author: Angela Blaine
    category: Software
    date: 20 SEP 18:14
    sales: 2143
  - title: 10 tips of Object Oriented Design
    img: https://s3.amazonaws.com/uifaces/faces/twitter/why_this/128.jpg
    author: Marcus Ulupus
    category: Software
    date: 20 SEP 15:37
    sales: 124
  - title: Sometimes friend tells it is cold
    img: https://s3.amazonaws.com/uifaces/faces/twitter/w7download/128.jpg
    author: Grdon Mrdon
    category: Software
    date: 20 SEP 13:42
    sales: 10214
  - title: New ways of conceptual thinking
    img: https://s3.amazonaws.com/uifaces/faces/twitter/pankogut/128.jpg
    author: Tiko Charbaxo
    category: Software
    date: 20 SEP 09:10
    sales: 3217
---
<article class="Page Dashboard">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-5 -sameheight">
      {{> App/Dashboard/Stats/Stats}}
    </div>

    <div class="col-sm-12 col-md-6 col-lg-7 -sameheight">
      {{> App/Dashboard/History/History}}
    </div>

    <div class="col-xl-8 -sameheight">
      {{> App/Dashboard/Items/Items}}
    </div>

    <div class="col-xl-4 -sameheight">
      {{> App/Dashboard/SalesBreakdown/SalesBreakdown}}
    </div>
  </div>
</article>
