<div class="card card-block sameheight-item">
	<div class="title-block">
		<h3 class="title">
			Inline Forms
		</h3>
	</div>
	<form class="form-inline">
		<div class="form-group">
			<label for="exampleInputEmail3">Email address</label>
			<input type="email" class="form-control" id="exampleInputEmail3" placeholder="Enter email">
		</div>
		<div class="form-group">
			<label for="exampleInputPassword3">Password</label>
			<input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password">
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox"> Remember me
			</label>
		</div>
		<button type="submit" class="btn btn-primary">Sign in</button>
	</form>
</div>