.dashboard-page .items {
	.item-list {

		// Common case styles

		.item-col-title {
			flex-grow: 3 * $item-list-col-grow;	
		}

		.item-col-date {
			text-align: right;	
		}

		@include media(xl) {
			.item-col-date {
				flex-grow: $item-list-col-grow + 1;	
			}
		}


		// Large mobile view

		@include media-down(sm) {
			.item-row {
				padding: 0;
			}

			.item-col {
				padding-left: $item-list-padding-x;
				padding-right: $item-list-padding-x;
			}

			.item-col-img {
				padding-left: $item-list-padding-x;
				flex-basis: 40 + 2 * $item-list-padding-x;
				padding-right: 0;
			}

			.item-col-stats {
				text-align: center;
			}
		}

		@include media(sm) {
			.item-col-title {
				flex-basis: 100%;
				border-bottom: 1px solid $item-list-color-border;
			}

			.item-col:not(.item-col-title):not(.item-col-img) {
				position: relative;
				padding-top: 35px;
			}

			.item-heading {
				position: absolute;
				height: 30px;
				width: 100%;
				left: 0;
				top: 5px;
				line-height: 30px;
				padding-left: $item-list-padding-x;
				padding-right: $item-list-padding-x;
			}
		}

		@include media(xs) {

			.item-col {
				border-bottom: 1px solid $item-list-color-border;
			}

			.item-col-img {
				flex-basis: 50px;
				order: -5;
			}

			.item-col-title {
				flex-basis: calc(100% - 50px);
			}

			.item-col:not(.item-col-title):not(.item-col-img) {
				flex-basis: 100%;
				text-align: left;

				.item-heading {
					text-align: left;
				}
			}


			.item-col-date {
				border: none;
			}
		}
	}
}