<div class="card sameheight-item items" data-exclude="xs">
	<div class="card-block">
		<div class="title-block">
			<h3 class="title">
				Items
			</h3>
		</div>
	</div>


	<ul class="items-list striped">
		{{#each items}}
			<li class="item">
				<div class="item-row">
					<div class="item-col fixed item-col-img">
						<a href="">
							<div class="item-img rounded" style="background-image: url({{this.img}})"></div>
						</a>
					</div>
					<div class="item-col">
						<div class="item-title-block">
							<a href="">
								<h4 class="item-title">
									{{this.title}}
								</h4>
							</a>
						</div>
						<div class="item-footer item-date-block text-xs-right small">
							<a href="#">
								<i class="fa fa-comment"></i> 13
							</a> | 
							{{this.date}}
						</div>
					</div>
				</div>
			</li>
		{{/each}}
	</ul>

</div>