<div class="card sameheight-item items" data-exclude="xs,sm,lg">
	<div class="card-header bordered">
		<div class="header-block">
			<h3 class="title">
				Items
			</h3>
			<a href="item-editor.html" class="btn btn-primary btn-sm rounded">
				Add new
			</a>
		</div>
		<div class="header-block pull-right">
			<label class="search">
				<input class="search-input" placeholder="search...">
				<i class="fa fa-search search-icon"></i>
			</label>
			<div class="pagination">
				<a href="" class="btn btn-primary btn-sm rounded">
					<i class="fa fa-angle-up"></i>
				</a>
				<a href="" class="btn btn-primary btn-sm rounded">
					<i class="fa fa-angle-down"></i>
				</a>
			</div>
		</div>
	</div>
	<ul class="item-list striped">
		<li class="item item-list-header hidden-sm-down">
			<div class="item-row">
				<div class="item-col item-col-header fixed item-col-img xs"></div>
				<div class="item-col item-col-header item-col-title">
					<div>
						<span>Name</span>
					</div>
				</div>
				<div class="item-col item-col-header item-col-sales">
					<div>
						<span>Sales</span>
					</div>
				</div>
				<div class="item-col item-col-header item-col-stats">
					<div class="no-overflow">
						<span>Stats</span>
					</div>
				</div>
				<div class="item-col item-col-header item-col-date">
					<div>
						<span>Published</span>
					</div>
				</div>
			</div>
		</li>
		{{#each items}}
			<li class="item">	
				<div class="item-row">
					<div class="item-col fixed item-col-img xs">
						<a href="">
							<div class="item-img xs rounded" style="background-image: url({{this.img}})"></div>
						</a>
					</div>
					<div class="item-col item-col-title no-overflow">
						<div>
							<a href="" class="">
								<h4 class="item-title no-wrap">
									{{this.title}}
								</h4>
							</a>
						</div>
					</div>
					<div class="item-col item-col-sales">
						<div class="item-heading">Sales</div>
						<div>
							{{this.sales}}
						</div>
					</div>
					<div class="item-col item-col-stats">
						<div class="item-heading">Stats</div>
						<div class="no-overflow">
							<div class="item-stats sparkline" data-type="bar"></div>	
						</div>
					</div>
					<div class="item-col item-col-date">
						<div class="item-heading">Published</div>
						<div>
							{{this.date}}
						</div>
					</div>
				</div>
			</li>
		{{/each}}
	</ul>
</div>