<div class="card sameheight-item items" data-exclude="xs">
	<div class="card-header bordered">
		<div class="header-block">
			<h3 class="title">
				Items
			</h3>
			<a href="" class="btn btn-primary btn-sm rounded items-btn">
				Add new
			</a>
		</div>
		<div class="header-block pull-right">
			<label class="search">
				<i class="fa fa-search"></i>
				<input class="search-input" placeholder="search...">
			</label>
			<div class="pagination">
				<a href="" class="btn btn-primary btn-sm items-btn rounded">
					<i class="fa fa-angle-up"></i>
				</a>
				<a href="" class="btn btn-primary btn-sm items-btn rounded">
					<i class="fa fa-angle-down"></i>
				</a>
			</div>
		</div>
	</div>
	<ul class="items-list striped">
		{{#each items}}
			<li class="item">
				<div class="item-row">
					<div class="item-col fixed item-col-img lg">
						<a href="">
							<div class="item-img lg rounded" style="background-image: url({{this.image}})"></div>
						</a>
					</div>
					<div class="item-col">
						<div class="row">
							<div class="col-sm-8">
								<div class="item-title-block">
									<a href="">
										<h4 class="item-title">
											{{this.title}}
										</h4>
									</a>
								</div>
								<div class="item-content small">
									<p class="item-description ">{{this.description}}</p>
								</div>
							</div>
							<div class="col-sm-4">
								<p>Last change</p>
								{{this.date}}
							</div>
						</div>
					</div>
				</div>
			</li>
		{{/each}}
	</ul>
</div>