.dashboard-page .items {

	.card-header {

		.title {
			padding-right: 0px;
			margin-right: 5px;
		}

		.search {
			color: $color-text-light;
			margin: 0;
		}

		.search-input {
			border: none;
			background-color: inherit;
			width: 100px;
		}

		.pagination {
			display: inline-block;
			margin: 0;
		}
	}

	.item-description {
		margin-bottom: 0;

		@include media-down(sm) {
			margin-bottom: 1rem;
		}
	}

}