// Tweaking dashboard items panel

.dashboard-page .items {
	.panel-body {
		padding-bottom: 0;
	}

	.items-list {

		.col-img {

			flex: 0 0 70px;
			width: 70px;
			padding-left: 10px;

			@include media(xl) {
				padding-left: 20px;
			}

			@include media-down(sm) {
				padding-left: 10px;
			}
		}

		.col-date {
			padding-left: 0;
			width: 60px;
			text-align: right;
		}
	}
}