<div class="Card History">

  <div class="CardHeader -bordered -sm">
    <div class="HeaderBlock">
      <h4 class="Title">History</h4>
    </div>

    <ul class="TabNav -pull-right">
      <li class="TabNavItem -active">
        <a
          href="#DashboardHistoryAudienceTab">
          Audience
        </a>
      </li>
      <li class="TabNavItem">
        <a
          href="#DashboardHistoryDownloadsTab">
          Downloads
        </a>
      </li>
    </ul>

  </div>
  <div class="CardBlock">

    <div class="TabContent" id="DashboardHistoryTabContent">
      <div
        class="TabPane -active"
        id="DashboardHistoryAudienceTab">

        <p class="TitleDescription">
          Audience history last 7 days
        </p>

        <div id="DashboardHistoryAudienceChart"></div>
      </div>
      <div
        class="TabPane"
        id="DashboardHistoryDownloadsTab">

        <p class="TitleDescription">
          Number of downloads last 10 days
        </p>

        <div id="DashboardHistoryDownloadsChart"></div>
      </div>
    </div>


  </div>

</div>
