<div class="Card">

  <div class="CardHeader -bordered -sm">
    <div class="HeaderBlock">
      <h4 class="Title">History</h4>
    </div>
  </div>
  <div class="CardBlock">
    This is Chart content
  </div>

</div>
