<div class="Card History">

  <div class="CardHeader -bordered -sm">
    <div class="HeaderBlock">
      <h4 class="Title">History</h4>
    </div>
  </div>
  <div class="CardBlock">

    <p class="TitleDescription">
      Audience history last 30 days
    </p>

    <div id="DashboardHistoryVisitsChart"></div>

    {{!-- <canvas
      id="DashboardHistoryVisitsChart"></canvas> --}}

    {{!-- <div class="tab-content">
      <div role="tabpanel" class="tab-pane active fade in" id="visits">
        <p class="title-description">
          Number of unique visits last 30 days
        </p>

        <div id="dashboard-visits-chart"></div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="downloads">
        <p class="title-description">
          Number of downloads last 30 days
        </p>

        <div id="dashboard-downloads-chart"></div>
      </div>
    </div> --}}


  </div>

</div>
