//=============================================
//=             External Variables            =
//=============================================

@import "bootstrap/scss/variables";

//=============================================
//=              Internal Variables           =
//=============================================

// This line will be replaced by computed value of
// exported SCSS string value of './theme.js'
<--themeSCSS-->


// Define any SASS-only specific variables below this line

// $someVar: value;
