<div class="card card-block sameheight-item">
	<div class="title-block">
		<h3 class="title">
			Column sizing
		</h3>
	</div>
	<form role="form">
		<div class="row form-group">
			<div class="col-xs-6">
				<input type="text" class="form-control" placeholder=".col-xs-6">
			</div>
			<div class="col-xs-6">
				<input type="text" class="form-control" placeholder=".col-xs-6">
			</div>
		</div>
		<div class="row form-group">
			<div class="col-xs-2">
				<input type="text" class="form-control" placeholder=".col-xs-2">
			</div>
			<div class="col-xs-3">
				<input type="text" class="form-control" placeholder=".col-xs-3">
			</div>
			<div class="col-xs-7">
				<input type="text" class="form-control" placeholder=".col-xs-7">
			</div>
		</div>
		<div class="row form-group">
			<div class="col-xs-2">
				<input type="text" class="form-control" placeholder=".col-xs-2">
			</div>
			<div class="col-xs-2 col-xs-offset-1">
				<input type="text" class="form-control" placeholder=".col-xs-2">
			</div>
			<div class="col-xs-2 col-xs-offset-2">
				<input type="text" class="form-control" placeholder=".col-xs-2">
			</div>
			<div class="col-xs-2 col-xs-offset-1">
				<input type="text" class="form-control" placeholder=".col-xs-2">
			</div>
		</div>
		<div class="row form-group">
			<div class="col-xs-3">
				<input type="text" class="form-control" placeholder=".col-xs-3">
			</div>
			<div class="col-xs-4 col-xs-offset-1">
				<input type="text" class="form-control" placeholder=".col-xs-4">
			</div>
			<div class="col-xs-3 col-xs-offset-1">
				<input type="text" class="form-control" placeholder=".col-xs-3">
			</div>
		</div>
		<div class="row form-group">
			<div class="col-xs-4">
				<input type="text" class="form-control" placeholder=".col-xs-4">
			</div>
			<div class="col-xs-3 col-xs-offset-3">
				<input type="text" class="form-control" placeholder=".col-xs-3">
			</div>
			<div class="col-xs-2">
				<input type="text" class="form-control" placeholder=".col-xs-2">
			</div>
		</div>
		<div class="row form-group">
			<div class="col-xs-3">
				<input type="text" class="form-control" placeholder=".col-xs-3">
			</div>
			<div class="col-xs-3">
				<input type="text" class="form-control" placeholder=".col-xs-3">
			</div>
			<div class="col-xs-5 col-xs-offset-1">
				<input type="text" class="form-control" placeholder=".col-xs-5">
			</div>
		</div>
	</form>
</div>