#modal-media {
	.modal-body {
		min-height: 250px;

	}
	
	.modal-tab-content {
        min-height: 300px;    
    }

	.images-container {
		padding: 15px;
		text-align: center;

		.image-container {
			margin: 0 auto 10px auto;
			cursor: pointer;
			transition: all 0.3s ease;
			display: inline-block;
			float: none;

			&:hover {
				border-color: fade-out($color-primary, 0.5);
			}

			&.active {
				border-color: fade-out($color-primary, 0.5);	
			}
		}
	}

	.upload-container {
		padding: 15px;	

		.dropzone {
			position: relative;
			border: 2px dashed $color-primary;
			height: 270px;

			.dz-message-block {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translateY(-50%) translateX(-50%);

				.dz-message {
					margin: 0;
					font-size: 24px;
					color: $color-primary;
					width: 230px;
				}
			}
		}
	}

}