<div class="modal fade" id="modal-media">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title">Media Library</h4>
			</div>
			<div class="modal-body modal-tab-container">

				<ul class="nav nav-tabs modal-tabs" role="tablist">
		            <li class="nav-item">
		            	<a class="nav-link" href="#gallery" data-toggle="tab" role="tab">Gallery</a>
		            </li>
		            <li class="nav-item">
		            	<a class="nav-link active" href="#upload" data-toggle="tab" role="tab">Upload</a>
		            </li>
		        </ul>

		        <div class="tab-content modal-tab-content">
		        	<div class="tab-pane fade" id="gallery" role="tabpanel">
		        		<div class="images-container">
		        			<div class="row">
								{{#each gallery}}
									<div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
										<div class="image-container">
											<div class="image" style="background-image:url('{{this.url}}')"></div>
										</div>
									</div>
								{{/each}}
							</div>
						</div>
		        	</div>
		        	<div class="tab-pane fade active in" id="upload" role="tabpanel">
		        		<div class="upload-container">
			        		<div id="dropzone">
								<form action="/" method="POST" enctype="multipart/form-data" class="dropzone needsclick dz-clickable" id="demo-upload">
									<div class="dz-message-block">
										<div class="dz-message needsclick">
											Drop files here or click to upload.
										</div>
									</div>
								</form>
							</div>
						</div>
		        	</div>
		        </div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Insert Selected</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->