<aside class="AppSidebar">

  {{> Dashboard/_common/AppSidebar/SidebarHeader}}

  <div class="SidebarContent">

    {{> Dashboard/_common/AppSidebar/SidebarNav}}

  </div>

  {{> Dashboard/_common/AppSidebar/SidebarFooter}}

</aside>
