.DashboardFooter {

  $FooterPaddingHorizontal: 35px;

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 $FooterPaddingHorizontal;

  background-color: var(--DashboardFooterColorBg);
  box-shadow: var(--DashboardFooterShadow);

  .-rtl & {
    // flex-direction: row-reverse;
  }

  @include media-down(sm) {

    justify-content: center;
    flex-direction: row-reverse;

    .FooterGithubBtn {
      padding-left: 15px;
    }

    .-author {
      display: none;
    }
  }

}
