<footer class="Footer DashboardFooter">

  <div class="Footer -buttons">
    <iframe class="FooterGithubBtn"
      src="https://ghbtns.com/github-btn.html?user=modularcode&repo=modular-admin-html&type=star&count=true"
      frameborder="0" scrolling="0" width="140px" height="20px">
    </iframe>
  </div>

  <div class="Footer -author">
    created by
    <a href="https://github.com/modularcode">
      ModularCode
    </a>
    |
    <a href="https://github.com/modularcode/modular-admin-html#get-in-touch">
     get in touch
    </a>
  </div>

</footer>
