$color-primary: #4bcf99;

// $link-color: darken($color-primary, 5%);
$link-color: #969696;
$link-transition: initial;
$link-decoration: underline;

$link-hover-color: darken($color-primary, 8%);
$link-hover-decoration: underline;