{{#extend "auth/auth-layout"}}
	{{#content "body"}}
	
			<div class="error-panel center">
				<div class="error-container">
				    <h1 class="error-title">500</h1>
				    <h2 class="error-sub-title">Internal Server Error.</h2><br>
				    <p>Why not try refreshing your page? or you can contact support</p>
				    <a class="btn btn-primary" href="index.html"><i class="fa fa-angle-left"></i> Back to Dashboard</a>
				</div>
			</div>

	{{/content}}
{{/extend}}