<div class="card card-block sameheight-item">
	<div class="title-block">
		<h3 class="title">
			Default Bootstrap Inputs
		</h3>
	</div>
	<form role="form">
		<fieldset class="form-group">
			<label class="control-label" for="formGroupExampleInput">Input Text</label>
			<input type="text" class="form-control" id="formGroupExampleInput">
		</fieldset>
		<fieldset class="form-group">
			<label class="control-label" for="formGroupExampleInput2">Input Password</label>
			<input type="password" class="form-control" id="formGroupExampleInput2">
		</fieldset>
		<fieldset class="form-group">
			<label class="control-label" for="formGroupExampleInput3">Placeholder input</label>
			<input type="text" class="form-control" id="formGroupExampleInput3" placeholder="Placeholder text">
		</fieldset>
		<fieldset class="form-group">
			<label class="control-label" for="formGroupExampleInput4">Disabled input</label>
			<input type="text" disabled="disabled" class="form-control" id="formGroupExampleInput4" placeholder="Disabled input text">
		</fieldset>
		<fieldset class="form-group">
			<label class="control-label" for="formGroupExampleInput5">Static control</label>
			<p class="form-control-static" id="formGroupExampleInput5">email@example.com</p>
		</fieldset>
		<fieldset class="form-group">
			<label class="control-label" for="formGroupExampleInput6">Readonly input</label>
			<input type="text" readonly="readonly" class="form-control" id="formGroupExampleInput6" value="Readonly input text">
		</fieldset>
		<fieldset class="form-group">
			<label class="control-label" for="formGroupExampleInput7">Textarea</label>
			<textarea rows="3" class="form-control"id="formGroupExampleInput7"></textarea>
		</fieldset>
	</form>
</div>