@media only screen and (max-width: 800px) {
	
	.table-flip-scroll .cf:after { 
		visibility: hidden; 
		display: block; 
		font-size: 0; 
		content: " "; 
		clear: both; 
		height: 0;
	}

	.table-flip-scroll * html .cf { 
		zoom: 1; 
	}
	.table-flip-scroll *:first-child+html .cf { 
		zoom: 1; 
	}
	
	.table-flip-scroll table { 
		width: 100%; 
		border-collapse: collapse; 
		border-spacing: 0; 
	}

	.table-flip-scroll th,
	.table-flip-scroll td { 
		margin: 0; 
		vertical-align: top;
	}
	.table-flip-scroll th { 
		text-align: left;
	}
	
	.table-flip-scroll table { 
		display: block; 
		position: relative; 
		width: 100%;
	}
	.table-flip-scroll thead { 
		display: block;
		float: left;
	}
	.table-flip-scroll tbody { 
		display: block; 
		width: auto; 
		position: relative; 
		overflow-x: auto;
		overflow-y: hidden; 
		white-space: nowrap;
	}
	.table-flip-scroll thead tr { 
		display: block;
	}
	.table-flip-scroll th { 
		display: block; 
		text-align: right;
	}
	.table-flip-scroll tbody tr { 
		display: inline-block; 
		vertical-align: top;
	}
	.table-flip-scroll td { 
		display: block; 
		min-height: 1.25em; 
		text-align: left;
	}


	/* sort out borders */

	.table-flip-scroll th { 
		border-bottom: 0; 
		border-left: 0;
	}
	.table-flip-scroll td { 
		border-left: 0; 
		border-right: 0; 
		border-bottom: 0;
	}
	.table-flip-scroll tbody tr { 
		border-left: 1px solid #babcbf;
	}
	.table-flip-scroll th:last-child,
	.table-flip-scroll td:last-child { 
		border-bottom: 1px solid #babcbf;
	}
}