.card {
	background-color: #fff;
	box-shadow: 1px 1px 5px fade-out($color-text-light, 0.9);

	.card {
		box-shadow: none;
	}
	
	margin-bottom: 10px;
	border-radius: 0;
	border: none;

	.card-header {
		background-image: none;
		background-color: #ffffff;
		color: #fff;
		border-radius: 0;
		min-height: 35px;

		.title {
			float: left;
			color: #4f5f6f;
			padding: 10px 18px;
		}

		&.with-nav-tabs {
			padding: 0;
		}

		.nav-tabs {
			border-color: transparent;

            .nav-item {
            	margin-left: 0;

                .nav-link {
                	color: #4f5f6f;
                	opacity: 0.7;
                    padding: 6px 10px;
                    border-radius: 0;
                    font-size: 14px;

                    &.active {
	                	border-top-color: #59c2e6 ;
	                	opacity: 1;

	                	&:hover,
	                	&:focus {
	                		opacity: 1;
	                		background-color: #fff;
	                		border-color: #ddd #ddd transparent;
	                		border-top-color: #59c2e6 ;
	                	}
	                }

	                &:hover,
	                &:focus {
	                	opacity: 1;
	                	background-color: transparent;
	                	border-color: transparent;
	                }
                }
            }
        }
	}

	&.card-default {

		& > .card-header {
			background-color: #fff;
			color: inherit;
		}
	}

	&.card-primary {
		border-color: $color-primary;
		& > .card-header {
			background-color: $color-primary;
			border-color: $color-primary;
		}
	}

	&.card-success {
		& > .card-header {
			background-color: $color-success;
		}
	}

	&.card-info {
		& > .card-header {
			background-color: $color-info;
		}
	}

	&.card-warning {
		& > .card-header {
			background-color: $color-warning;
		}
	}

	&.card-danger {
		& > .card-header {
			background-color: $color-danger;
		}
	}

	&.card-inverse {
		& > .card-header {
			background-color: $color-inverse;
		}
	}

	.title-block,
	.card-title-block {
		padding-bottom: 0;
		margin-bottom: 20px;
		border: none;

		@include clearfix();
	}

	.section {
		margin-bottom: 20px;
	}

	.example,
	.section.demo {
		margin-bottom: 20px;
	}
}


.card-block {
	padding: 15px;

	.tab-content {
		padding: 0;
		border-color: transparent;
	}

	@include media(xl) {
		padding: 20px;
	}

	@include media-down(sm) {
		padding: 10px;
	}
}

.card-footer {
	background-color: #fafafa;
}
