---
dirname: UIComponents
pagename: UIComponentsGrid
layout: Dashboard/Dashboard.layout
---
<article class="Page UIComponentsGrid" id="UIComponentsGrid">
  <div class="PageContainer">

    <header class="PageHeader">
      <h1 class="PageTitle">
        Grid
      </h1>
      <p class="TitleDescription>">Responsive design</p>
    </header>

    <section class="Section">

      <h3 class="SubTitle">This project including Bootstrap 4 Beta 3 front-end component library.</h3>

      <a href="https://getbootstrap.com/">
        <div class="BootstrapLogo"></div>
      </a>

      <p class="Description">
        Bootstrap is an open source toolkit for developing with HTML,
        CSS, and JS. Quickly prototype your ideas or build your entire app with our Sass
        variables and mixins,</br>responsive grid system, extensive prebuilt components,
        and powerful plugins built on jQuery.
        <a href="https://getbootstrap.com/">Learn more</a>
      </p>

    </section>

</article>
