---
dirname: UIComponents
pagename: UIComponentsGrid
layout: Dashboard/Dashboard.layout
---
<article class="Page UIComponentsGrid" id="UIComponentsGrid">
  <div class="PageContainer">

    <header class="PageHeader">
      <h1 class="PageTitle">
        Grid
      </h1>
      <p class="TitleDescription>">Responsive design</p>
    </header>

    <section class="Section">

      <h3 class="SubTitle">This project including Bootstrap 4 grid.</h3>

      <a href="http://getbootstrap.com/docs/4.0/layout/grid/" target="_blank">
        <div class="BootstrapLogo"></div>
      </a>

      <p class="Description">
        <a href="http://getbootstrap.com/docs/4.0/layout/grid/" target="_blank">Learn more</a>
      </p>

    </section>

</article>
