---
layout: app/app-layout
pagename: forms
---
<div class="title-block">
	<h3 class="title">
		Forms
	</h3>
	<p class="title-description">
		Sample form elements
	</p>
</div>

<div class="subtitle-block">
	<h3 class="subtitle">
		Modular Admin Inputs
	</h3>
</div>

<section class="section">
	<div class="row sameheight-container">
		<div class="col-md-6">
			{{> app/forms/underlined/underlined}}
		</div>
		<div class="col-md-6">
			{{> app/forms/underlined-validation/underlined-validation}}
		</div>
	</div>
</section>

<section class="section">
	<div class="row sameheight-container">
		<div class="col-md-6">
			{{> app/forms/boxed/boxed}}
		</div>
		<div class="col-md-6">
			{{> app/forms/boxed-validation/boxed-validation}}
		</div>
	</div>
</section>

<section class="section">
	<div class="row sameheight-container">
		<div class="col-md-6">
			{{> app/forms/radios/radios}}					
		</div>
		<div class="col-md-6">
			{{> app/forms/checboxes/checboxes}}
		</div>
	</div>
</section>


<div class="subtitle-block">
	<h3 class="subtitle">
		Bootstrap Inputs
	</h3>
</div>

<section class="section">
	<div class="row sameheight-container">
		<div class="col-md-6">
			{{> app/forms/default-bootstrap/default-bootstrap}}
		</div>
		<div class="col-md-6">
			{{> app/forms/default-bootstrap-validation/default-bootstrap-validation}}
		</div>
	</div>
</section>

<section class="section">
	<div class="row sameheight-container">
		<div class="col-md-6">
			{{> app/forms/input-groups/input-groups}}
		</div>
		<div class="col-md-6">
			<div class="card card-block">
				<div class="panel-title-block">
					<h3 class="title">
						Custom Bootstrap Select/File
					</h3>
				</div>

			</div>
		</div>
	</div>
</section>


<div class="subtitle-block">
	<h3 class="subtitle">
		Input Sizing
	</h3>
</div>

<section class="section">
	<div class="row sameheight-container">
		<div class="col-md-6">
			{{> app/forms/control-sizing/control-sizing}}
		</div>
		<div class="col-md-6">
			{{> app/forms/column-sizing/column-sizing}}
		</div>
	</div>
</section>

<div class="subtitle-block">
	<h3 class="subtitle">
		Form Layouts
	</h3>
</div>

<section class="section">
	<div class="row sameheight-container">
		<div class="col-md-6">
			{{> app/forms/basic-form/basic-form}}
		</div>
		<div class="col-md-6">
			{{> app/forms/using-grid-form/using-grid-form}}
		</div>
	</div>
</section>

<section class="section">
	<div class="row sameheight-container">
		<div class="col-md-12">
			{{> app/forms/inline-form/inline-form}}
		</div>
	</div>
</section>