<footer id="SidebarFooter" class="SidebarFooter">
  <nav class="SidebarFooterNav">
    <a
      href="#"
      id="SidebarToggleCustomize"
      class="NavLink LinkCustomize"
      data-placement="top"
      data-trigger="hover"
      title="Customize theme">
      <i class="pe-7s-edit Icon" aria-hidden="true"></i>
    </a>
    <a
      href=""
      id="SidebarToggleHelpLink"
      class="NavLink LinkToggleHelp"
      data-placement="top"
      data-trigger="hover"
      title="Help">
      <i class="pe-7s-help1 Icon" aria-hidden="true"></i>
    </a>
    <a
      href=""
      id="SidebarToggleCompactLink"
      class="NavLink LinkToggleCompact"
      data-placement="top"
      data-trigger="hover"
      title="Toggle sidebar">
      <i class="pe-7s-angle-left Icon" aria-hidden="true"></i>
    </a>
  </nav>
</footer>
