<footer class="SidebarFooter">
  <nav class="SidebarFooterNav">
    <a
      href="#"
      id="SidebarToggleCustomize"
      class="NavLink LinkCustomize"
      data-toggle="tooltip"
      data-placement="auto"
      data-trigger="hover"
      title="Customize theme">
      <i class="pe-7s-edit Icon" aria-hidden="true"></i>
    </a>
    <a
      href=""
      id="SidebarToggleCompactLink"
      class="NavLink LinkToggleCompact"
      data-toggle="tooltip"
      data-placement="auto"
      data-trigger="hover"
      title="Toggle sidebar">
      <i class="pe-7s-angle-left Icon" aria-hidden="true"></i>
    </a>
  </nav>
</footer>
