.Sidebar {

  $SidebarPaddingHorizontal: 20px;

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  z-index: 1;
  color: var(--SidebarColorText);
  background-color: var(--SidebarColorBg);
  box-shadow: var(--SidebarShadow);
  transition: background-color .3s ease;


  @include media-down(sm) {
    box-shadow: none;

    .-sidebar-open-mobile & {
      box-shadow: var(--SidebarShadow);
    }
  }

  @include media(md) {
    box-shadow: none;

    .-sidebar-open-tablet & {
      box-shadow: var(--SidebarShadow);
    }
  }

  @include media-up(lg) {
    .-sidebar-closed-desktop & {
      box-shadow: none;
    }
  }

  // Sidebar background image
  &:before {
    position: absolute;
    width: 100%;
    height:100%;
    left:0;
    top:0;
    display: block;
    content: ' ';
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    background-image: var(--SidebarBgImage);
    opacity: var(--SidebarBgImageOpacity);
    z-index: -1;
  }

  /*----------  Sidebar Header  ----------*/

  .SidebarHeader {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 $SidebarPaddingHorizontal;
    flex-shrink: 0;
    height: var(--AppHeaderHeight);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    transition: all .3s ease;

    .-rtl & {
      flex-direction: row-reverse;
    }

    @include media(md) {
      .-sidebar-compact-tablet & {
        padding-left: 11px;
      }
    }

    @include media-up(lg) {
      .-sidebar-compact-desktop & {
        padding-left: 11px;
      }
    }
  }

  .Logo {
    width: 38px;
    height: 38px;
    display: block;

    // https://stackoverflow.com/questions/6088409/svg-drop-shadow-using-css3
    // https://github.com/Schepp/CSS-Filters-Polyfill
    -webkit-filter: drop-shadow( 0 0 3px rgba(0, 0, 0, 0.3) );
            filter: drop-shadow( 0 0 3px rgba(0, 0, 0, 0.3) );

    .path {
      transition: all .3s ease;
    }

    .outline {
      fill: var(--colorPrimary);
    }

    .letter {
      fill: #fff;
      opacity: .75;
    }

    &:hover {
      .outline {

      }

      .letter {
        opacity: 1;
      }
    }
  }

  .LogoLink {
    margin-left: 5px;
    margin-right: 12px;

    .-rtl & {
      margin-left: 12px;
      margin-right: 5px;
    }
  }

  .Title {
    margin: 0;
    font-size: 1rem;
    color: #fff;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    opacity: 1;
    transition: all .3s ease;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.4);

    .Link {
      text-decoration: none;
      color: inherit;
      display: flex;
    }

    .Version {
      color: $colorText-muted;
      margin-left: 5px;
    }

    .Platform {
      position: absolute;
      display: block;
      text-decoration: none;
      top: 100%;
      margin-top: 2px;
      right: 0;
      font-size: 9px;
      font-weight: bold;
      color: $colorText-muted;
      transition: color .3s ease;
      text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);

      &:hover {
        color: #fff;
      }
    }

    @include media(md) {
      .-sidebar-compact-tablet & {
          opacity: 0;
      }
    }

    @include media-up(lg) {
      .-sidebar-compact-desktop & {
        opacity: 0;
      }
    }
  }

  /*----------  Sidebar Content  ----------*/

  .SidebarContent {
    flex: 1;
    overflow-x: visible;
    overflow-y: auto;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);

    &::-webkit-scrollbar {
      width: 14px;
      height: 18px;
      // background-color: rgba(0, 0, 0, 0);
      background:transparent;
      // background-color: none;
    }

    &::-webkit-scrollbar-thumb {
      height: 6px;
      border: 4px solid rgba(0, 0, 0, 0);
      background-clip: padding-box;
      -webkit-border-radius: 7px;
      -webkit-box-shadow: none;
      background-color: rgba(0, 0, 0, 0.1);
    }

    &:hover {
      &::-webkit-scrollbar-thumb {
        background-color: var(--colorPrimary);
        -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
      }
    }

    @include media-down(md) {
      &::-webkit-scrollbar-thumb {
        background-color: var(--colorPrimary);
        -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
      }
    }
  }


  /*----------  Sidebar Footer  ----------*/

  .SidebarFooter {

    $height: $AppFooterHeight;

    height: $height;
    flex-shrink: 0;
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;

    .SidebarFooterNav {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      display: flex;
      flex-direction: row;

      a {
        font-weight: normal;
        display: flex;
        align-items: center;
        text-decoration: none;
        transition: background-color .3s ease, color .3s ease;
        color: var(--SidebarNavColorText);
        background-color: rgba(255, 255, 255, 0.09);


        &:hover {
          color: var(--SidebarNavColorText-active);
          background-color: rgba(255, 255, 255, 0.05);
        }
      }

      .-rtl & {
        flex-direction: row-reverse;
      }

      .LinkCustomize {
        flex: 1;

        justify-content: flex-start;
        padding: 0 $SidebarPaddingHorizontal 0 $SidebarPaddingHorizontal + 31px;
        border-right: 1px solid rgba(255, 255, 255, 0.1);
        flex-grow: 3.5;

        .Icon {
          position: absolute;
          font-size: 20px;
          width: 26px;
          height: $height;
          display: flex;
          align-items: center;
          justify-content: center;
          left: $SidebarPaddingHorizontal;
          top: 0;
        }


        .-rtl & {
          border-right: none;
          border-left: 1px solid rgba(255, 255, 255, 0.1);

          .Icon {
            left: auto;
            right: $SidebarPaddingHorizontal;
          }
        }
      }

      .LinkToggleCompact {
        justify-content: center;
        flex-grow: 1;

        @include media-down(sm) {
          display: none;
        }

        @include media(md) {
          .-sidebar-compact-tablet:not(.-rtl) & {
            .Icon {
              transform: rotate(180deg);
            }
          }
        }

        @include media-up(lg) {
          .-sidebar-compact-desktop:not(.-rtl) & {
            .Icon {
              transform: rotate(180deg);
            }
          }
        }

      }

    }

  }

  // End of Sidebar Footer

}
