<aside class="AppSidebar">

  {{> App/_common/AppSidebar/SidebarHeader}}

  <div class="SidebarContent">

    {{> App/_common/AppSidebar/SidebarNav}}

  </div>

  {{> App/_common/AppSidebar/SidebarFooter}}

</aside>
