<div class="panel sameheight-item">
	<div class="title-block">
		<h4 class="title">
			Stats
		</h4>
		<p class="subtitle">
			Website metrics for
			<a href="http://modularteam.github.io/modularity-free-admin-dashboard-theme-html/">
				your awesome project
			</a>
		</p>
	</div>

	<div class="row">
		<div class="col-sm-6 col-md-6 col-lg-4">
			<div class="stat">
				<div class="value">
					5407
				</div>
				<div class="name">
					Active items
				</div>
			</div>
		</div>

		<div class="col-sm-6 col-md-6 col-lg-4">
			<div class="stat">
				<div class="value">
					78464
				</div>
				<div class="name">
					Items sold
				</div>
			</div>
		</div>

		<div class="col-sm-6 col-md-6 col-lg-4">
			<div class="stat">
				<div class="value">
					$80.560
				</div>
				<div class="name">
					Monthly income
				</div>
			</div>
		</div>

		

		<div class="col-sm-6 col-md-6 col-lg-4">
			<div class="stat">
				<div class="value">
					359
				</div>
				<div class="name">
					Total users
				</div>
			</div>
		</div>


		<div class="col-sm-6 col-md-6 col-lg-4">
			<div class="stat">
				<div class="value">
					59
				</div>
				<div class="name">
					Tickets closed
				</div>
			</div>
		</div>

		<div class="col-sm-6 col-md-6 col-lg-4">
			<div class="stat">
				<div class="value">
					$780.064
				</div>
				<div class="name">
					Total income
				</div>
			</div>
		</div>


	</div>


</div>