<div class="card card-block sameheight-item">
	<div class="title-block">
		<h3 class="title">
			Underlined Inputs
		</h3>
	</div>
	<form role="form">
		<div class="form-group">
			<label class="control-label">Input Text</label>			        
			<input type="text" class="form-control underlined">
		</div>
		<div class="form-group">
			<label class="control-label">Input Password</label>
			<input type="password" class="form-control underlined">
		</div>
		<div class="form-group">
			<label class="control-label">Placeholder Input</label>
			<input type="text" class="form-control underlined" placeholder="Placeholder text">
		</div>
		<div class="form-group">
			<label class="control-label">Disabled Input</label>
			<input type="text" disabled="disabled" class="form-control underlined" placeholder="Disabled input text">
		</div>
		<div class="form-group">
			<label class="control-label">Static control</label>
			<p class="form-control-static underlined">email@example.com</p>
		</div>
		<div class="form-group">
			<label class="control-label">Readonly Input</label>
			<input type="text" readonly="readonly" class="form-control underlined" value="Readonly input text">
		</div>
		<div class="form-group">
			<label class="control-label">Textarea</label>
			<textarea rows="3" class="form-control underlined"></textarea>
		</div>
	</form>
</div>