/*************************************************************
*					App variables
**************************************************************/

@color-primary: #59c2e6;
@color-primary-dark: darken(#4f5f6f, 10%);
@color-primary-darker: darken(@color-primary-dark, 5%);				//#40505f;

@color-divider: #d7dde4;
@color-bg: #f0f3f6;

@color-text: #4f5f6f;
@color-text-light: #7e8e9f;
@color-text-inverse: #ffffff;

@color-success: #4bcf99;
@color-info: #59c2e6;
@color-warning: #fe974b;
@color-danger: #fc4c7a;


@header-height: 70px;
@sidebar-width: 230px;



/**************************************************************
*				Bootstrap variables overwrite
**************************************************************/

//== Colors
//
//## Gray and brand colors for use across Bootstrap.

@gray-base:              #000;
@gray-darker:            lighten(@gray-base, 13.5%); // #222
@gray-dark:              lighten(@gray-base, 20%);   // #333
@gray:                   lighten(@gray-base, 33.5%); // #555
@gray-light:             lighten(@gray-base, 46.7%); // #777
@gray-lighter:           lighten(@gray-base, 93.5%); // #eee

@brand-primary:         @color-primary;
@brand-success:         @color-success;
@brand-info:            @color-info;
@brand-warning:         @color-warning;
@brand-danger:          @color-danger;


//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
@body-bg:               #fff;
//** Global text color on `<body>`.
@text-color:            @color-text;

//** Global textual link color.
@link-color:            @brand-primary;
//** Link hover color set via `darken()` function.
@link-hover-color:      darken(@link-color, 15%);
//** Link hover decoration.
@link-hover-decoration: underline;


//** Load fonts from this directory.
@icon-font-path:          "../assets/";
//** File name for all font files.
@icon-font-name:          "glyphicons-halflings-regular";
//** Element ID within SVG icon file.
@icon-font-svg-id:        "glyphicons_halflingsregular";