a:not(.btn) {
	// display: inline-block;
	// position: relative;
	// overflow: hidden;
	// vertical-align: top;
	// z-index: 0;
	transition: $link-transition;
	text-decoration: $link-decoration;
	color: $link-color;

	// &:before {
	// 	&:extend(.underline-animation);
	// }

	&:hover{
		text-decoration: $link-hover-decoration;
		color: $link-hover-color;

		&:before {
			transform: scaleX(1);
		}
	}

	&:focus {
		text-decoration: none;
	}
}

span a {
	vertical-align: text-bottom;   		
} 


[class^='nav'],
[class*=' nav'] {
	li > a {
		// Display these anchors as block
		display: block;

		// Hide underline in anchors which are inside LI tag
		&:before {
			display: none;
		}
	}
}


.nav {
	&.nav-tabs-bordered {
		border-color: $color-primary;

		& + .tab-content {
			border-style: solid;
		    border-width: 0 1px 1px 1px;
		    border-color: $color-primary;
		    padding: 10px 20px 0;
		}

		.nav-item {

			.nav-link {
				text-decoration: none;

				&:hover {
					color: #ffffff;	
					background-color: $color-primary;
					border: 1px solid $color-primary;
				}

				&.active {
					border-color: $color-primary;
					border-bottom-color: transparent;

					&:hover {
						background-color: #ffffff;
						color: inherit;
					}
				}
			}
		}
	}

	&.nav-pills {

		& + .tab-content {
			border: 0;
			padding: 5px;
		}

		.nav-item {

			.nav-link {
				text-decoration: none;
				
				&:hover {
					color: $color-text;	
					background-color: transparent;
					border: 0;
				}

				&.active {
					border-color: $color-primary;
					border-bottom-color: transparent;
					background-color: $color-primary;

					&:hover {
						background-color: $color-primary;
						color: #ffffff;	
					}
				}
			}
		}
	}
}