<aside class="DashboardSidebar">

  {{> Dashboard/_common/DashboardSidebar/SidebarHeader/SidebarHeader}}

  <div class="SidebarContent">

    {{> Dashboard/_common/DashboardSidebar/SidebarNav/SidebarNav}}

  </div>

  {{> Dashboard/_common/DashboardSidebar/SidebarFooter/SidebarFooter}}

</aside>
