<div class="card sameheight-item sales-breakdown" data-exclude="xs,sm,lg">
	<div class="card-header">
		<div class="header-block">
			<h3 class="title">
				Sales breakdown
			</h3>
		</div>
	</div>
    <div class="card-block">
        <div class="dashboard-sales-breakdown-chart" id="dashboard-sales-breakdown-chart"></div>
    </div>
</div>