<div class="card sameheight-item" data-exclude="xs">
	<div class="card-header">
		<div class="header-block">
			<h3 class="title">
				Sales breakdown
			</h3>
		</div>
	</div>
    <div class="card-block">
        <div id="sales-chart"></div>
    </div>
</div>