<header class="Header">
  <div class="HeaderBlock">

    <button class="Button -primary -lg SidebarToggleButton">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </button>

  </div>
  <div class="HeaderBlock">

  </div>
  <div class="HeaderBlock">

  </div>
</header>
