.Header {

  $HeaderPaddingHorizontal: 35px;

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--HeaderColorBg);
  box-shadow: var(--HeaderShadow);
  border-bottom: var(--HeaderBorderBottom);
  padding: 0 $HeaderPaddingHorizontal;
}
