---
page: cards
---
{{#extend "app/app-layout"}}
	{{#content "body"}}
		<div class="title-block">
			<h3 class="title">
				Cards
			</h3>
			<p class="title-description">
				Cards can contain almost any kind of element inside
			</p>
		</div>

		<section class="section">
			<div class="row">
			    <div class="col-xl-4">
			        <div class="card card-default">
			            <div class="card-header">
			                Default card
			            </div>
			            <div class="card-block">
			                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
			            </div>
			            <div class="card-footer">
			                Card Footer
			            </div>
			        </div>
			    </div>
			    <!-- /.col-xl-4 -->
			    <div class="col-xl-4">
			        <div class="card card-primary">
			            <div class="card-header">
			                Primary card
			            </div>
			            <div class="card-block">
			                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
			            </div>
			            <div class="card-footer">
			                Card Footer
			            </div>
			        </div>
			    </div>
			    <!-- /.col-xl-4 -->
			    <div class="col-xl-4">
			        <div class="card card-success">
			            <div class="card-header">
			                Success card
			            </div>
			            <div class="card-block">
			                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
			            </div>
			            <div class="card-footer">
			                Card Footer
			            </div>
			        </div>
			    </div>
			    <!-- /.col-xl-4 -->
			</div>
			<!-- /.row -->
			<div class="row">
			    <div class="col-xl-4">
			        <div class="card card-info">
			            <div class="card-header">
			                Info card
			            </div>
			            <div class="card-block">
			                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
			            </div>
			            <div class="card-footer">
			                Card Footer
			            </div>
			        </div>
			    </div>
			    <!-- /.col-xl-4 -->
			    <div class="col-xl-4">
			        <div class="card card-warning">
			            <div class="card-header">
			                Warning card
			            </div>
			            <div class="card-block">
			                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
			            </div>
			            <div class="card-footer">
			                Card Footer
			            </div>
			        </div>
			    </div>
			    <!-- /.col-xl-4 -->
			    <div class="col-xl-4">
			        <div class="card card-danger">
			            <div class="card-header">
			                Danger card
			            </div>
			            <div class="card-block">
			                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
			            </div>
			            <div class="card-footer">
			                Card Footer
			            </div>
			        </div>
			    </div>
			    <!-- /.col-xl-4 -->
			</div>
			<!-- /.row -->
			
		</section>

		<section class="section">
			<div class="row">
			    <div class="col-xl-12">
			        <div class="card">
			            <!-- .card-header -->
			            <div class="card-block">
			            	<div class="card-title-block">
								<h3 class="title">
									Collapsible Accordion card Group
								</h3>
							</div>
			                <div class="card-group" id="accordion" role="tablist" aria-multiselectable="true">
							<div class="card card-default">
							<div class="card-header" role="tab" id="headingOne">
							<h4 class="card-title">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							Collapsible Group Item #1
							</a>
							</h4>
							</div>
							<div id="collapseOne" class="card-collapse collapse in" role="tabcard" aria-labelledby="headingOne">
							<div class="card-block">
							Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
							</div>
							</div>
							</div>
							<div class="card card-default">
							<div class="card-header" role="tab" id="headingTwo">
							<h4 class="card-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							Collapsible Group Item #2
							</a>
							</h4>
							</div>
							<div id="collapseTwo" class="card-collapse collapse" role="tabcard" aria-labelledby="headingTwo">
							<div class="card-block">
							Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
							</div>
							</div>
							</div>
							<div class="card card-default">
							<div class="card-header" role="tab" id="headingThree">
							<h4 class="card-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
							Collapsible Group Item #3
							</a>
							</h4>
							</div>
							<div id="collapseThree" class="card-collapse collapse" role="tabcard" aria-labelledby="headingThree">
							<div class="card-block">
							Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
							</div>
							</div>
							</div>
							</div>
	            </div>
			            <!-- .card-block -->
			        </div>
			        <!-- /.card -->
			    </div>
			    <!-- /.col-xl-12 -->
			</div>
		</section>

		<section class="section">
			<div class="row">
			    <div class="col-xl-6">
			        <div class="card">
			            <div class="card-block">
			                <!-- Nav tabs -->
				            <div class="card-title-block">
								<h3 class="title">
									Basic Tabs
								</h3>
							</div>
			                <ul class="nav nav-tabs">
			                    <li class="active"><a href="#home" data-target="#home" data-toggle="tab" aria-controls="home" role="tab" >Home</a>
			                    </li>
			                    <li><a href="#profile" data-target="#profile" aria-controls="profile" data-toggle="tab" role="tab" >Profile</a>
			                    </li>
			                    <li><a href="" data-target="#messages" aria-controls="messages" data-toggle="tab" role="tab" >Messages</a>
			                    </li>
			                    <li><a href="" data-target="#settings" aria-controls="settings" data-toggle="tab" role="tab" >Settings</a>
			                    </li>
			                </ul>

			                <!-- Tab panes -->
			                <div class="tab-content">
			                    <div class="tab-pane fade in active" id="home">
			                        <h4>Home Tab</h4>
			                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			                    </div>
			                    <div class="tab-pane fade" id="profile">
			                        <h4>Profile Tab</h4>
			                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			                    </div>
			                    <div class="tab-pane fade" id="messages">
			                        <h4>Messages Tab</h4>
			                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			                    </div>
			                    <div class="tab-pane fade" id="settings">
			                        <h4>Settings Tab</h4>
			                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			                    </div>
			                </div>
			            </div>
			            <!-- /.card-block -->
			        </div>
			        <!-- /.card -->
			    </div>
			    <!-- /.col-xl-6 -->
			    <div class="col-xl-6">
			        <div class="card">
			            <div class="card-block">
			            	<div class="card-title-block">
								<h3 class="title">
									Pill Tabs
								</h3>
							</div>
			                <!-- Nav tabs -->
			                <ul class="nav nav-pills">
			                    <li class="active"><a href="" data-target="#home-pills" aria-controls="home-pills" data-toggle="tab" role="tab" >Home</a>
			                    </li>
			                    <li><a href="" data-target="#profile-pills" aria-controls="profile-pills" data-toggle="tab" role="tab"  >Profile</a>
			                    </li>
			                    <li><a href="" data-target="#messages-pills" aria-controls="messages-pills" data-toggle="tab" role="tab" >Messages</a>
			                    </li>
			                    <li><a href="" data-target="#settings-pills" aria-controls="settings-pills" data-toggle="tab" role="tab" >Settings</a>
			                    </li>
			                </ul>

			                <!-- Tab panes -->
			                <div class="tab-content">
			                    <div class="tab-pane fade in active" id="home-pills">
			                        <h4>Home Tab</h4>
			                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			                    </div>
			                    <div class="tab-pane fade" id="profile-pills">
			                        <h4>Profile Tab</h4>
			                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			                    </div>
			                    <div class="tab-pane fade" id="messages-pills">
			                        <h4>Messages Tab</h4>
			                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			                    </div>
			                    <div class="tab-pane fade" id="settings-pills">
			                        <h4>Settings Tab</h4>
			                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			                    </div>
			                </div>
			            </div>
			            <!-- /.card-block -->
			        </div>
			        <!-- /.card -->
			    </div>
			    <!-- /.col-xl-6 -->
			</div>
		</section>

		<section class="section">
			<div class="row">
			    <div class="col-xl-4">
			        <div class="well">
			            <h4>Normal Well</h4>
			            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
			        </div>
			    </div>
			    <!-- /.col-xl-4 -->
			    <div class="col-xl-4">
			        <div class="well well-lg">
			            <h4>Large Well</h4>
			            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
			        </div>
			    </div>
			    <!-- /.col-xl-4 -->
			    <div class="col-xl-4">
			        <div class="well well-sm">
			            <h4>Small Well</h4>
			            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
			        </div>
			    </div>
			    <!-- /.col-xl-4 -->
			</div>
		</section>

		<section class="section">
			<div class="row">
				<div class="col-xl-12">
					<div class="jumbotron">
			            <h1>Jumbotron</h1>
			            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing.</p>
			            <p><a class="btn btn-primary btn-lg" role="button">Learn more</a>
			            </p>
			        </div>
				</div>
			</div>
		</section>
	{{/content}}
{{/extend}}