---
layout: app/app-layout
pagename: error-500
---
<section class="section">
	<div class="error-card">
		<div class="error-title-block">
			<h1 class="error-title">500</h1>
			<h2 class="error-sub-title">
				Internal Server Error.
			</h2>
		</div>
		<div class="error-container">
		    <p>Why not try refreshing your page? or you can contact support</p>
		    <a class="btn btn-primary" href="index.html">
		    	<i class="fa fa-angle-left"></i>
		    	Back to Dashboard
		    </a>
		</div>
	</div>
</section>