---
layout: _main-layout
themeTitle: ModularAdmin
---
<div class="main-wrapper">
  <div class="app" id="app">
    {{!-- Default header block --}}
    {{> app/_common/header/header}}

    {{!-- Default sidebar block --}}
    {{> app/_common/sidebar/sidebar}}

    {{!-- Content section --}}
    <article class="content {{pagename}}-page">
      {{{body}}}
    </article>

    {{!-- Default footer block --}}
    {{> app/_common/footer/footer}}

    {{> app/_common/modals/modals}}
  </div>
</div>  