---
layout: main.layout
titleSeparator: '-'
titleName: 'ModularAdmin | HTML version'
---

<!--
  You may use the following felper classes on the .App element

  -dafault                    Default layout options

  -header-fixed               Fixed header on all viewports
  -header-fixed-mobile        Fixed header on all viewports
  -sidebar-compact-tablet     Compact sidebar on tablet viewports
  -sidebar-open-tablet        Open sidebar on tabler viewports
  -sidebar-compact-desktop    Compact sidebar on desktop viewports
  -customize-open             Open customize menu panel
-->
<div
  id="App"
  class="
    App
    -sidebar-compact-tablet
    -sidebar-open-tablet
  " >

  <div class="HeaderContainer">
    {{> App/_common/AppHeader/AppHeader}}
  </div>
  <div class="SidebarContainer">
    {{> App/_common/AppSidebar/AppSidebar}}
  </div>
  <div class="SidebarOverlay" id="SidebarOverlay"></div>
  <div class="ContentContainer {{pagename}}">
    {{!-- <div class="ContentBackground"></div> --}}
    <div class="Content">
      {{{body}}}
    </div>
  </div>

  <div class="FooterContainer" >
    {{> App/_common/AppFooter/AppFooter}}
  </div>

  {{> App/_common/AppSearch/AppSearch}}

  <div class="CustomizeContainer">
    {{> App/_common/AppCustomize/AppCustomize}}
  </div>

</div>
