@import 'bootstrap/scss/variables';
@import '_main/variables.scss';
@import '_common/_styles/mixins.scss';

.app {
	position: relative;
	width: 100%;
	padding-left: $sidebar-width;
	min-height: 100vh;
	margin: 0 auto;
	left: 0;
	background-color: $color-bg;
	box-shadow: 0 0 3px #ccc;
	transition: left 0.3s ease; 
	overflow: hidden;

	.boxed & {
		// max-width: $screen-lg-min;
	}

	.content {

		$padding-x: $content-padding-x-md;
		$padding-y: $content-padding-y-md;

		padding: $header-height + $padding-y $padding-x $padding-y $padding-x;
		min-height: 100vh;	

		@include mq(xl) {
			$padding-x: $content-padding-x-lg;
			$padding-y: $content-padding-y-lg;

			padding: $header-height + $padding-y $padding-x $padding-y $padding-x;
		}

		@include mq(lg) {
			$padding-x: $content-padding-x-md;
			$padding-y: $content-padding-y-md;

			padding: $header-height + $padding-y $padding-x $padding-y $padding-x;
		}

		@include mq(md) {
			$padding-x: $content-padding-x-sm;
			$padding-y: $content-padding-y-sm;

			padding: $header-height + $padding-y $padding-x $padding-y $padding-x;
		}

		@include mq(sm) {
			$padding-x: $content-padding-x-xs;
			$padding-y: $content-padding-y-xs;

			padding: $header-height-xs + $padding-y $padding-x $padding-y $padding-x;
		}
	}


	@include mq-down(md) {
		// background-color: #ccc;
		left: -$sidebar-width;
		width: calc(100% + #{$sidebar-width});
	}
	
	&.sidebar-open {
		// Disable content scrolling when sidebar is open
		@include mq-down(md) {
			left: 0;
			position: absolute;
			height: 100%;
			overflow: hidden;
		}
	}

}