.main-app {
	display: block;
	position: relative;
	padding-left: @sidebar-width;
	min-height: 100vh;
	background-color: @color-bg;
	box-shadow: 0 0 3px #ccc;
	margin: 0 auto;
	transition: padding-left 0.3s ease;

	.accelerate();

	.boxed & {
		max-width: @screen-lg-min;
	}

	@media @xs {
		padding-left: 0;
	}

	@media @sm {
		padding-left: 0;
	}

	&.sidebar-collapsed {
		padding-left: 0;

		@media @xs {
			padding-left: @sidebar-width;
		}

		@media @sm {
			padding-left: @sidebar-width;
		}
	}

	&.sidebar-opened {
		padding-left: @sidebar-width;

		@media @xs {
			padding-left: 0;
		}

		@media @sm {
			padding-left: 0;
		}

	}
}