.Button {
  background-color: transparent;
  padding: 7px 14px;
  border-radius: 0;
  border: 1px solid transparent;
  box-shadow: none;
  cursor: pointer;
  transition: all .2s ease;
  display: inline-block;
  vertical-align: middle;
  outline: none;

  &.-raized {
    box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 6px, rgba(0, 0, 0, 0.08) 0px 1px 4px;
  }

  &.-outline {
    background-color: #fff;
  }

  &:hover {
    background-color: #f5f5f5;
  }

  &:focus {
    box-shadow: rgba(0, 0, 0, 0.09) 0px 1px 8px, rgba(0, 0, 0, 0.09) 0px 1px 6px;
  }

  &.-default {
    color: var(--colorDivider);
    background-color: #efefef;
    border-color: var(--colorDivider);

    &:hover {
      color: var(--colorDivider-darker);
      border-color: var(--colorDivider-darker);
    }
  }

  &.-primary {
    color: var(--colorPrimary);


    &.-raized:not(&.outline) {
      color: var(--colorText-inverse);
      background-color: var(--colorPrimary);
      border-color: var(--colorPrimary);
    }

    &.-outline {
      border-color: var(--colorPrimary);
    }
  }

  &.-secondary {
    color: var(--colorSecondary);


    &.-raized {
      color: var(--colorText-inverse);
      background-color: var(--colorSecondary);
      border-color: var(--colorSecondary);
    }


    &.-outline {
      border-color: var(--colorSecondary);
    }
  }






  &.-lg {
    font-size: 1.16em;
    padding: 8px 16px;
  }

  &.-xl {
    font-size: 1.3em;
    padding: 9px 18px;
  }

  &.-rounded {
    border-radius: .3em;
  }
}
