<footer class="footer">
	<div class="footer-block buttons">
		<iframe class="footer-github-btn"
			src="https://ghbtns.com/github-btn.html?user=modularcode&repo=modular-admin-html&type=star&count=true&size=large" 
			frameborder="0" scrolling="0" width="140px" height="30px"></iframe>
	</div>
	<div class="footer-block author">
		created by 
		<a href="https://github.com/modularcode">ModularCode</a> | 
		<a href="https://github.com/modularcode/modular-admin-html#get-in-touch">get in touch</a>
	</div>
</footer>