<div class="card card-block sameheight-item">
	<div class="title-block">
		<h3 class="title">
			Default Bootstrap Inputs Validation
		</h3>
	</div>
	<form role="form">
		<div class="form-group has-success">
			<label class="control-label" for="inputSuccess1">Input with success</label>
			<input type="text" class="form-control" id="inputSuccess1">
			<span class="has-success">Success message.</span>
		</div>
		<div class="form-group has-warning">
			<label class="control-label" for="inputWarning1">Input with warning</label>
			<input type="text" class="form-control" id="inputWarning1">
			<span class="has-warning">Warning message.</span>
		</div>
		<div class="form-group has-error">
			<label class="control-label" for="inputError1">Input with error</label>
			<input type="text" class="form-control" id="inputError1">
			<span class="has-error">Error message.</span>
		</div>
		<div class="form-group has-success  has-feedback">
			<label class="control-label" for="inputSuccess2">Input with success icon</label>
			<input type="text" class="form-control" id="inputSuccess2">
			<span class="fa fa-check form-control-feedback"></span>
		</div>
		<div class="form-group has-warning  has-feedback">
			<label class="control-label" for="inputWarning2">Input with warning icon</label>
			<input type="text" class="form-control" id="inputWarning2">
			<span class="fa fa-exclamation form-control-feedback"></span>
		</div>
		<div class="form-group has-error  has-feedback">
			<label class="control-label" for="inputError2">Input with error icon</label>
			<input type="text" class="form-control" id="inputError2">
			<span class="fa fa-times form-control-feedback"></span>
		</div>
	</form>
</div>