.Dashboard .SalesBreakdown {

  margin-bottom: 0;

  .CardBlock {
    justify-content: center;
    align-items: center;
  }

  #DashboardSalesBreakdownChart {
    width: 280px;
    height: 280px;
  }
}
