<div class="Card SalesBreakdown">
  <div class="CardHeader -bordered">
    <div class="HeaderBlock">
      <h4 class="Title">
        Sales breakdown
      </h4>
    </div>
  </div>
  <div class="CardBlock">
    <div id="DashboardSalesBreakdownChart"></div>
  </div>
</div>
