{{!-- Profile --}}

<li class="profile dropdown">
	<a href="" data-toggle="dropdown">
		<div class="img" style="background-image: url('https://avatars3.githubusercontent.com/u/3959008?v=3&s=40')">
			 
		</div>

		<span class="name">
			John Doe
		</span>

		<span class="arrow">
			<i class="fa fa-angle-down"></i>
		</span>
	</a>

	<ul class="dropdown-menu profile-dropdown-menu">
		<li>
			<a href="">
				<div class="col-xs-2 profile-dropdown-menu-icon">
					<i class="fa fa-user"></i>
				</div>
				<div class="col-xs-10 profile-dropdown-menu-topic">
					<span>Profile</span>
				</div>
			</a>
		</li>
		<li>
			<a href="">
				<div class="col-xs-2 profile-dropdown-menu-icon">
					<i class="fa fa-bell"></i>
				</div>
				<div class="col-xs-10 profile-dropdown-menu-topic">
					<span>Notifications</span>
				</div>
			</a>
		</li>
		<li>
			<a href="">
				<div class="col-xs-2 profile-dropdown-menu-icon">
					<i class="fa fa-gear"></i>
				</div>
				<div class="col-xs-10 profile-dropdown-menu-topic">
					<span>Settings</span>
				</div>
			</a>
		</li>
		<li class="divider"></li>
		<li class="logout">
			<a href="/login.html">
				<div class="col-xs-2 profile-dropdown-menu-icon">
					<i class="fa fa-power-off"></i>
				</div>
				<div class="col-xs-10 profile-dropdown-menu-topic">
					<span>Logout</span>
				</div>
			</a>
		</li>
	</ul>

</li>