{{!-- Profile --}}

<li class="profile dropdown">
	<a href="" data-toggle="dropdown">
		<div class="img" style="background-image: url('https://avatars3.githubusercontent.com/u/3959008?v=3&s=40')">
			 
		</div>

		<span class="name">
			John Doe
		</span>

		<span class="arrow">
			<i class="fa fa-angle-down"></i>
		</span>
	</a>

	<ul class="dropdown-menu profile-dropdown-menu">
		<li>
			<a href="">
				<i class="fa fa-user"></i>
				Profile
			</a>
		</li>
		<li>
			<a href="">
				<i class="fa fa-bell"></i>
				Notifications
			</a>
		</li>
		<li>
			<a href="">
				<i class="fa fa-gear"></i>
				Settings
			</a>
		</li>
		<li class="divider"></li>
		<li class="login.html">
			<a href="">
				<i class="fa fa-power-off"></i>
				Logout
			</a>
		</li>
	</ul>

</li>