<div class="card card-block sameheight-item">
	<div class="title-block">
		<h3 class="title">
			Input Groups
		</h3>
	</div>
	<form>
        <div class="form-group">
            <label class="control-label">Input Text</label>
            <div class="input-group">
                <span class="input-group-addon">@</span>
                <input type="text" class="form-control" placeholder="Some text here">
            </div>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Some text here">
                <span class="input-group-addon">.00</span>
            </div>

            <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="text" class="form-control" placeholder="Some text here">
                <span class="input-group-addon">.00</span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Input Sizing</label>
            <div class="input-group input-group-lg">
                <span class="input-group-addon">@</span>
                <input type="text" class="form-control" placeholder="Username">
            </div>

            <div class="input-group">
                <span class="input-group-addon">@</span>
                <input type="text" class="form-control" placeholder="Username">
            </div>

            <div class="input-group input-group-sm">
                <span class="input-group-addon">@</span>
                <input type="text" class="form-control" placeholder="Username">
            </div>
        </div>
    </form>
</div>