<div class="header-block header-block-buttons" >
	<a href="https://github.com/modularcode/modular-admin-html" 
		class="btn btn-sm header-btn">
		<i class="fa fa-github-alt"></i>
		<span>View on GitHub</span>
	</a>

	<a href="https://github.com/modularcode/modular-admin-html/stargazers" 
		class="btn btn-sm header-btn">
		<i class="fa fa-star"></i>
		<span>Star Us</span>
	</a>

	<a href="https://github.com/modularcode/modular-admin-html/releases/download/v{{pkg.version}}/modular-admin-html-{{pkg.version}}.zip" 
		class="btn btn-sm header-btn">
		<i class="fa fa-cloud-download"></i>
		<span>Download .zip</span>
	</a>
	{{!-- <button type="button" class="btn btn-default btn-sm rounded-s buttons header-btn">
		<i class="fa fa-share-alt"></i>
		Share
	</button> --}}
</div>