.header .header-block-buttons {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	white-space: nowrap;

	.btn.header-btn {
		background-color: transparent;
		border: 1px solid lighten($color-text, 10%);
		color: lighten($color-text, 10%);
		margin: 0 5px;

		&:hover,
		&:focus {
			border: 1px solid darken($color-text, 10%);
			color: darken($color-text, 10%);
		}
	}

	@include media-down(sm) {
		display: none;
	}
}