<div class="header-block header-block-buttons">
	<button type="button" class="btn btn-secondary btn-sm rounded-s buttons">
		<i class="fa fa-github-alt"></i>
		View on GitHub
	</button>
	<button type="button" class="btn btn-secondary btn-sm rounded-s buttons">
		<i class="fa fa-cloud-download"></i>
		Download .zip
	</button>
	<button type="button" class="btn btn-secondary btn-sm rounded-s buttons">
		<i class="fa fa-share-alt"></i>
		Share
	</button>
</div>