.header .header-block-buttons {
	text-align: center;
	margin-left: auto;
	margin-right: auto;

	.header-btn {
		border: 1px solid $color-text;
		color: $color-text;
	}

	.header-btn:hover {
		border: 1px solid $color-primary;
		color: #ffffff;
	}

	.header-btn:focus {
		border: 1px solid $color-primary;
		color: #ffffff;
	}
}