.header .header-block-buttons {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	white-space: nowrap;

	.btn.header-btn {
		background-color: transparent;
		border: none;
		color: lighten($color-text, 10%);

		&:hover,
		&:focus {
			color: darken($color-text, 10%);
		}
	}
}