<div class="header-block header-block-buttons">
	<a href="https://github.com/modularcode/modular-admin-html" class="btn btn-primary-outline btn-sm rounded-s header-btn">
		<i class="fa fa-github-alt"></i>
		View on GitHub
	</a>
	<a href="https://github.com/modularcode/modular-admin-html/archive/master.zip" class="btn btn-primary-outline btn-sm rounded-s header-btn">
		<i class="fa fa-cloud-download"></i>
		Download .zip
	</a>
	<button type="button" class="btn btn-primary-outline btn-sm rounded-s buttons header-btn">
		<i class="fa fa-share-alt"></i>
		Share
	</button>
</div>