<div class="panel sameheight-item">
	<div class="panel-body">

		<div class="panel-title-block">
			<h3 class="title">
				Button types
			</h3>
		</div>
		<section class="section">
        
         <p>Pill left</p>
         <p>
            <button type="button" class="btn btn-pill-left btn-default">Default</button>
            <button type="button" class="btn btn-pill-left btn-primary">Primary</button>
            <button type="button" class="btn btn-pill-left btn-success">Success</button>
            <button type="button" class="btn btn-pill-left btn-info">Info</button>
            <button type="button" class="btn btn-pill-left btn-warning">Warning</button>
            <button type="button" class="btn btn-pill-left btn-danger">Danger</button>
            <button type="button" class="btn btn-pill-left btn-inverse">Inverse</button>
         </p>
         <p>Pill right</p>
         <p>
            <button type="button" class="btn btn-pill-right btn-default">Default</button>
            <button type="button" class="btn btn-pill-right btn-primary">Primary</button>
            <button type="button" class="btn btn-pill-right btn-success">Success</button>
            <button type="button" class="btn btn-pill-right btn-info">Info</button>
            <button type="button" class="btn btn-pill-right btn-warning">Warning</button>
            <button type="button" class="btn btn-pill-right btn-danger">Danger</button>
            <button type="button" class="btn btn-pill-right btn-inverse">Inverse</button>
         </p>
         <p>Oval</p>
         <p>
            <button type="button" class="btn btn-oval btn-default">Default</button>
            <button type="button" class="btn btn-oval btn-primary">Primary</button>
            <button type="button" class="btn btn-oval btn-success">Success</button>
            <button type="button" class="btn btn-oval btn-info">Info</button>
            <button type="button" class="btn btn-oval btn-warning">Warning</button>
            <button type="button" class="btn btn-oval btn-danger">Danger</button>
            <button type="button" class="btn btn-oval btn-inverse">Inverse</button>
         </p> 
		</section>
	</div>
</div>