<div class="card sameheight-item">
	<div class="card-block">

		<div class="card-title-block">
			<h3 class="title">
				Button types
			</h3>
		</div>
		<section class="section">
        
         <p>Pill left</p>
         <p>
            <button type="button" class="btn btn-pill-left btn-primary">Primary</button>
            <button type="button" class="btn btn-pill-left btn-secondary">Secondary</button>
            <button type="button" class="btn btn-pill-left btn-success">Success</button>
            <button type="button" class="btn btn-pill-left btn-info">Info</button>
            <button type="button" class="btn btn-pill-left btn-warning">Warning</button>
            <button type="button" class="btn btn-pill-left btn-danger">Danger</button>
         </p>
         <p>Pill right</p>
         <p>
            <button type="button" class="btn btn-pill-right btn-primary">Primary</button>
            <button type="button" class="btn btn-pill-right btn-secondary">Secondary</button>
            <button type="button" class="btn btn-pill-right btn-success">Success</button>
            <button type="button" class="btn btn-pill-right btn-info">Info</button>
            <button type="button" class="btn btn-pill-right btn-warning">Warning</button>
            <button type="button" class="btn btn-pill-right btn-danger">Danger</button>
         </p>
         <p>Oval</p>
         <p>
            <button type="button" class="btn btn-oval btn-primary">Primary</button>
            <button type="button" class="btn btn-oval btn-secondary">Secondary</button>
            <button type="button" class="btn btn-oval btn-success">Success</button>
            <button type="button" class="btn btn-oval btn-info">Info</button>
            <button type="button" class="btn btn-oval btn-warning">Warning</button>
            <button type="button" class="btn btn-oval btn-danger">Danger</button>
         </p> 
		</section>
	</div>
</div>