.dropdown-menu {
	float: left;
	box-shadow: 2px 3px 6px $dropbown-color-border;
	border: 1px solid $dropbown-color-border;
	border-top-left-radius: 0;
	border-top-right-radius: 0;


	.dropdown-item {
		display: block;
		padding: 0px 15px;
		clear: both;
		font-weight: normal;
		color: $color-text;
		white-space: nowrap;
		transition: none;

		i {
			margin-right: 2px;
		}

		&:hover {
			color: $color-primary !important;
			background: none;
			background-color: darken(#fff, 4%);
		}
	}
}