<header class="SidebarHeader">

  <a
    class="LogoLink"
    href="/">
    {{> _common/Logo/Logo}}
  </a>

  <h2 class="Title">
    <a class="Link" href="/">
      <span>Modular</span>
      <span class="-color-primary">Admin</span>
      <span class="Version">
        2
      </span>
    </a>
    <a
      class="Platform -html"
      href="https://github.com/modularcode/modular-admin-html"
      target="_blank">
      HTML version
    </a>
  </h2>
</header>
