{{#extend "auth/auth-layout"}}
	{{#content "body"}}
	
		<div class="auth-container">
			<h1 class="auth-title">Modularity</h1>

			<div class="auth-content">
				<form id="login-form"   action="/index.html" method="GET" novalidate="">
					<div class="form-group">
						<label for="username" class="control-label">Username</label>
						<input type="email" class="form-control" name="username" id="username" placeholder="Your email address" required>
					</div>
					<div class="form-group">
						<label for="password" class="control-label">Password</label>
						<input type="password" class="form-control" name="password" id="password" placeholder="Your password" required>
					</div>
					<div class="form-group">
						<div class="checkbox">
							<label for="remember">
								<input class="form-checkbox" id="remember" type="checkbox"> 
								<span>Remember me</span>
							</label>

							<a href="/reset.html" class="forgot-btn pull-right">Forgot password?</a>
						</div>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-block btn-primary">Sign in</button>
					</div>
					<div class="form-group">
						<p class="text-muted text-center"><small>Do not have an account?</small> <a href="/signup.html">Sign Up!</a></p>
					</div>
				</form>
			</div>
		</div>

	{{/content}}
{{/extend}}