{{#extend "auth/auth-layout"}}
	{{#content "body"}}
	
		<div class="auth-container">
			<div class="panel">
				<header class="auth-header">
					<h1 class="auth-title">Modularity</h1>
				</header>
				<div class="auth-content">
					<p class="text-center">LOGIN TO CONTINUE</p>
					<form id="login-form"  action="/index.html" method="GET" novalidate="">
						<div class="form-group">
							<label for="username" >Username</label>
							<input type="email" class="form-control" name="username" id="username" placeholder="Your email address" required>
						</div>
						<div class="form-group">
							<label for="password" >Password</label>
							<input type="password" class="form-control" name="password" id="password" placeholder="Your password" required>
						</div>
						<div class="form-group">
							<div class="checkbox">
								<label for="remember">
									<input class="form-checkbox" id="remember" type="checkbox"> 
									<span>Remember me</span>
								</label>

								<a href="/reset.html" class="forgot-btn pull-right">Forgot password?</a>
							</div>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-block btn-primary">Sign in</button>
						</div>
						<div class="form-group">
							<p class="text-muted text-center"><small>Do not have an account?</small> <a href="/signup.html">Sign Up!</a></p>
						</div>
					</form>
				</div>
			</div>
			<div class="text-center">
				<a href="index.html">
					Back to dashboard
				</a>
			</div>
		</div>

	{{/content}}
{{/extend}}