---
layout: main.layout
dirname: Auth
titleSeparator: '-'
titleName: 'ModularAdmin | HTML version'
---

<div class="Auth">
  <div class="AuthCard">

    <div class="AuthHeader">
      <h1 class="AuthTitle">
        {{> _common/Logo/Logo}}ModularAdmin
      </h1>
    </div>

    <div class="AuthContent">
      <p class="TextCentr">LOGIN TO CONTINUE</p>

      <form id="LoginForm"  action="/index.html" method="GET" novalidate="">

				<div class="FormGroup">
					<label for="username">Username</label>
					<input type="email" class="form-control underlined" name="username" id="username" placeholder="Your email address" required>
				</div>

				<div class="FormGroup">
					<label for="password">Password</label>
					<input type="password" class="form-control underlined" name="password" id="password" placeholder="Your password" required>
				</div>

				<div class="FormGroup">
					<label for="remember">
						<input class="checkbox" id="remember" type="checkbox">
						<span>Remember me</span>
					</label>
					<a href="reset.html" class="forgot-btn pull-right">Forgot password?</a>
				</div>

				<div class="FormGroup">
					<button type="submit" class="Button-Login">Login</button>
				</div>

				<div class="FormGroup">
					<p class="text-muted text-center">Do not have an account? <a href="signup.html">Sign Up!</a></p>
				</div>

			</form>
    </div>


  </div>
  <div class="BackButton">
		<a href="/" class="ButtonSecondary">
			<i class="fa fa-arrow-left"></i> Back to dashboard
		</a>
	</div>
</div>

