<div class="panel sameheight-item">
	<div class="panel-body">

		<div class="panel-title-block">
			<h3 class="title">
				Button colors
			</h3>
		</div>
		<section class="section">
            <button type="button" class="btn btn-default">Default</button>

            <button type="button" class="btn btn-primary">Primary</button>

            <button type="button" class="btn btn-success">Success</button>

            <button type="button" class="btn btn-info">Info</button>

            <button type="button" class="btn btn-warning">Warning</button>

            <button type="button" class="btn btn-danger">Danger</button>

            <button type="button" class="btn btn-inverse">Inverse</button>

            <br>
            <br>
            
            <a href="javascript:void(0);" class="btn btn-link">Button Link</a>

            <button type="button" class="btn btn-default">
               <strong>button tag</strong>
            </button>
            
            <a href="javascript:void(0);" class="btn btn-default">
               <strong>anchor tag</strong>
            </a>

		</section>

	</div>
</div>