<div class="card sameheight-item">
	<div class="card-block">

		<div class="card-title-block">
			<h3 class="title">
				Button colors
			</h3>
		</div>
		<section class="section">
            <button type="button" class="btn btn-primary">Primary</button>

            <button type="button" class="btn btn-secondary">Secondary</button>

            <button type="button" class="btn btn-success">Success</button>

            <button type="button" class="btn btn-info">Info</button>

            <button type="button" class="btn btn-warning">Warning</button>

            <button type="button" class="btn btn-danger">Danger</button>

            <a href="javascript:void(0);" class="btn btn-link">Button Link</a>

		</section>

	</div>
</div>