<aside class="sidebar">
	<div class="brand">
		Modularity
	</div>
	<nav class="menu">
		<ul class="nav metismenu" id="sidebar-menu">

			<li {{#is page "===" "dashboard"}}class="active"{{/is}} >
				<a href="index.html">
					<i class="fa fa-home"></i> Dashboard
				</a>
			</li>


			<li {{#is page "in" "items-list,items-editor"}}class="active open"{{/is}} >

				<a href="">
					<i class="fa fa-th-large"></i> Items CRUD
					<i class="fa arrow"></i>
				</a>

				<ul>
					<li {{#is page "===" "items-list"}}class="active"{{/is}} >
						<a href="items-list.html">
							Item List
						</a>
					</li>

					<li {{#is page "===" "items-editor"}}class="active"{{/is}} >
						<a href="items-editor.html">
							Items Editor
						</a>
					</li>
				</ul>
			</li>

			<li {{#is page "in" "charts-flot,charts-morris"}}class="active open"{{/is}} >
				<a href="">
					<i class="fa fa-bar-chart"></i> Charts 
					<i class="fa arrow"></i>
				</a>

				<ul>
					<li {{#is page "===" "charts-flot"}}class="active"{{/is}} >
						<a href="charts-flot.html">
							Flot Chart
						</a>
					</li>

					<li {{#is page "===" "charts-morris"}}class="active"{{/is}} >
						<a href="charts-morris.html">
							Morris Chart
						</a>
					</li>
				</ul>
			</li>

			<li {{#is page "in" "static-tables,responsive-tables,dynamic-tables"}}class="active open"{{/is}} >
				<a href="">
					<i class="fa fa-table"></i> Tables
					<i class="fa arrow"></i>
				</a>

				<ul>
					<li {{#is page "===" "static-tables"}}class="active"{{/is}} >
						<a href="static-tables.html">
							Static Tables
						</a>
					</li>

					<li {{#is page "===" "responsive-tables"}}class="active"{{/is}} >
						<a href="responsive-tables.html">
							Responsive Tables
						</a>
					</li>

					<li {{#is page "===" "dynamic-tables"}}class="active"{{/is}} >
						<a href="dynamic-tables.html">
							Dynamic Tables
						</a>
					</li>
				</ul>
			</li>

			<li {{#is page "===" "forms"}}class="active"{{/is}} >
				<a href="forms.html">
					<i class="fa fa-pencil-square-o"></i> Forms
				</a>
			</li>

			<li {{#is page "===" "ui-elements"}}class="active"{{/is}} >
				<a href="ui-elements.html">
					<i class="fa fa-desktop"></i> UI Elements
				</a>
			</li>

			<li {{#is page "in" "login,signup,error-404,error-500"}}
					class="active open"
				{{/is}} >

				<a href="">
					<i class="fa fa-file-text-o"></i> Pages
					<i class="fa arrow"></i>
				</a>

				<ul>
					<li {{#is page "===" "login"}}class="active"{{/is}}>
						<a href="login.html">
							Login
						</a>
					</li>
					
					<li {{#is page "===" "signup"}}class="active"{{/is}}>
						<a href="signup.html">
							Sign Up
						</a>
					</li>

					<li {{#is page "===" "error-404"}}class="active"{{/is}}>
						<a href="error-404.html">
							404 Error 
						</a>
					</li>

					<li {{#is page "===" "error-404-alt"}}class="active"{{/is}}>
						<a href="error-404-alt.html">
							404 alt
						</a>
					</li>

					<li {{#is page "===" "error-500"}}class="active"{{/is}}>
						<a href="error-500.html">
							500 Error 
						</a>
					</li>

					<li {{#is page "===" "error-500-alt"}}class="active"{{/is}}>
						<a href="error-500-alt.html">
							500 alt
						</a>
					</li>
				</ul>
			</li>

			<li {{#is page "===" "docs"}}class="active"{{/is}} >
				<a href="docs.html">
					<i class="fa fa-file-text-o"></i> Theme Docs
				</a>
			</li>


		</ul>
	</nav>

	<footer class="sidebar-footer">

	</footer>
</aside>
<div class="sidebar-overlay" id="sidebar-overlay"></div>