<nav class="SidebarNav" id="SidebarNav">

  <a
    href="/"
    class="NavLink {{#is pagename "===" "Dashboard"}}-active{{/is}}">
    <i class="fa fa-home NavIcon"></i>
    <span>
      Dashboard
    </span>
  </a>

  <div
    class="NavGroup {{#is pagename "in" "Items/List,Items/Editor"}}-open{{/is}}">
    <a
      href=""
      class="NavLink">
      <i class="fa fa-th-large NavIcon"></i>
      <span>
        Items Manager
      </span>
    </a>
    <nav class="Nav">
      <div class="CompactNavGroupHeader">
        <h4 class="NavTitle">
          Items Manager
        </h4>
        <a href="" class="Button -dismiss DismissBtn">
          <i class="fa fa-times Icon"></i>
        </a>
      </div>
      <a
        href="/Items/List.html"
        class="NavLink {{#is pagename "===" "Items/List"}}-active{{/is}}" >
        Items List
      </a>

      <a
        href="/Items/Editor.html"
        class="NavLink {{#is pagename "===" "Items/Editor"}}-active{{/is}}">
        Items Editor
      </a>
    </nav>
  </div>

  {{!-- <a href="/">
    <i class="fa fa-bar-chart-o NavIcon"></i>
    Metrics
  </a>

  <div class="NavGroup">
    <a href="">
      <i class="fa fa-envelope NavIcon"></i>
      Email
    </a>
    <nav>
      <a href="" >
        Inbox
      </a>

      <a href="" >
        Single Mail
      </a>

      <a href="" >
        Compose
      </a>

      <a href="" >
        Email Templates
      </a>
    </nav>
  </div>

  <div class="NavGroup">
    <a href="">
      <i class="fa fa-university NavIcon"></i>
      Forum
    </a>
    <nav>
      <a href="" >
        Main
      </a>

      <a href="" >
        Thread
      </a>

      <a href="" >
        Post
      </a>
    </nav>
  </div>

  <a href="">
    <i class="fa fa-comments NavIcon"></i>
    Chat
  </a>

  <a href="">
    <i class="fa fa-plane fa-flip-vertical NavIcon"></i>
    Landing Page
  </a> --}}

  <a href="/" class="NavLink">
    <i class="fa fa-file-text-o NavIcon"></i>
    <span>
      Other Pages
    </span>
  </a>

  <div class="Divider"></div>

  <div class="NavGroup {{#is pagename "in" "Forms"}}-open{{/is}}">
    <a href="" class="NavLink">
      <i class="fa fa-edit NavIcon"></i>
      <span>
        Forms
      </span>
    </a>
    <nav class="Nav">
      <h4 class="CompactNavGroupName">
        Forms
        <a href="" class="Button ButtonDismiss DismissBtn">
          <i class="fa fa-times Icon"></i>
        </a>
      </h4>
      <a
        href="Forms.html"
        class="NavLink {{#is pagename "===" "Forms"}}-active{{/is}}" >
        <span>
          Basic Forms
        </span>
      </a>
    </nav>
  </div>

  <div class="NavGroup">
    <a href="" class="NavLink">
      <i class="fa fa-table NavIcon"></i>
      <span>
        Tables
      </span>
    </a>
    <nav class="Nav">
      <h4 class="CompactNavGroupName">
        Tables
        <a href="" class="DismissBtn">
          <i class="fa fa-times Icon"></i>
        </a>
      </h4>
      <a href="" class="NavLink" >
        <span>
          Basic Tables
        </span>
      </a>
    </nav>
  </div>

  <div class="NavGroup {{#is pagename "in" "Charts/ChartJS,Charts/Morris"}}-open{{/is}}">
    <a href="" class="NavLink {{#is pagename "in" "aCharts/ChartJS,aCharts/Morris"}}-active{{/is}}">
      <i class="fa fa-area-chart NavIcon" ></i>
      <span>
        Charts
      </span>
    </a>
    <nav class="Nav">
      <h4 class="CompactNavGroupName">
        Charts
        <a href="" class="Button ButtonDismiss DismissBtn">
          <i class="fa fa-times Icon"></i>
        </a>
      </h4>
      <a
        href="Charts/ChartJS.html"
        class="NavLink {{#is pagename "===" "Charts/ChartJS"}}-active{{/is}}" >
        <span>
          ChartJS
        </span>
      </a>
      <a
        href="Charts/Morris.html"
        class="NavLink {{#is pagename "===" "Charts/Morris"}}-active{{/is}}" >
        <span>
          Morris
        </span>
      </a>
    </nav>
  </div>


  <div class="NavGroup">

    <a href="/" class="NavLink">
      <i class="fa fa-desktop NavIcon"></i>
      <span>
        UI Components
      </span>
    </a>
    <nav class="Nav">
      <h4 class="CompactNavGroupName">
        UI Components
        <a href="" class="Button ButtonDismiss DismissBtn">
          <i class="fa fa-times Icon"></i>
        </a>
      </h4>
      <a href="" class="NavLink">
        Color Palette
      </a>

      <a href="" class="NavLink">
        Typography
      </a>

      <a href="" class="NavLink">
        Buttons
      </a>

      <a href="" class="NavLink">
        Tables
      </a>

      <a href="" class="NavLink">
        Cards
      </a>
    </nav>
  </div>

  <div class="NavGroup">
    <a href="" class="NavLink">
      <i class="fa fa-sitemap NavIcon"></i>
      <span>
        Multi Level Menu
      </span>
    </a>
    <nav class="Nav">
      <h4 class="CompactNavGroupName">
        Multi Level Menu
        <a href="" class="Button ButtonDismiss DismissBtn">
          <i class="fa fa-times Icon"></i>
        </a>
      </h4>

      <a href="" class="NavLink" >
        Level Two
      </a>

      <div class="NavGroup">
        <a href="" class="NavLink">
          Level Two
        </a>

        <nav class="Nav">
          <div class="NavGroup">
            <a href="" class="NavLink">
              Level Three
            </a>

            <nav class="Nav">
              <a href="" class="NavLink">
                Level Four
              </a>

              <a href="" class="NavLink">
                Level Four
              </a>
            </nav>
          </div>

          <a href="" class="NavLink">
            Level Three
          </a>
        </nav>
      </div>
      
    </nav>
  </div>

  <div class="Divider"></div>

  <a href="/" class="NavLink">
    <i class="fa fa-github-alt NavIcon -color-light-green-400"></i>
    <span>
      Theme Docs
    </span>
  </a>

  <a href="" class="NavLink">
    <i class="fa fa-code NavIcon -color-light-blue-300"></i>
    <span>
      Other Versions
    </span>
  </a>

</nav>
