<aside class="sidebar">
	<div class="sidebar-container">

		{{> app/_common/sidebar/header/header}}

		<nav class="menu">
			<ul class="nav metismenu" id="sidebar-menu">

				<li {{#is pagename "===" "dashboard"}}class="active"{{/is}} >
					<a href="index.html">
						<i class="fa fa-home"></i> Dashboard
					</a>
				</li>


				<li {{#is pagename "in" "items-list,item-editor"}}class="active open"{{/is}} >

					<a href="">
						<i class="fa fa-th-large"></i> Items Manager
						<i class="fa arrow"></i>
					</a>

					<ul>
						<li {{#is pagename "===" "items-list"}}class="active"{{/is}} >
							<a href="items-list.html">
								Items List
							</a>
						</li>

						<li {{#is pagename "===" "item-editor"}}class="active"{{/is}} >
							<a href="item-editor.html">
								Item Editor
							</a>
						</li>
					</ul>
				</li>

				<li {{#is pagename "in" "charts-flot,charts-morris"}}class="active open"{{/is}} >
					<a href="">
						<i class="fa fa-bar-chart"></i> Charts 
						<i class="fa arrow"></i>
					</a>

					<ul>
						<li {{#is pagename "===" "charts-flot"}}class="active"{{/is}} >
							<a href="charts-flot.html">
								Flot Charts
							</a>
						</li>

						<li {{#is pagename "===" "charts-morris"}}class="active"{{/is}} >
							<a href="charts-morris.html">
								Morris Charts
							</a>
						</li>
					</ul>
				</li>

				<li {{#is pagename "in" "static-tables,responsive-tables"}}class="active open"{{/is}} >
					<a href="">
						<i class="fa fa-table"></i> Tables
						<i class="fa arrow"></i>
					</a>

					<ul>
						<li {{#is pagename "===" "static-tables"}}class="active"{{/is}} >
							<a href="static-tables.html">
								Static Tables
							</a>
						</li>

						<li {{#is pagename "===" "responsive-tables"}}class="active"{{/is}} >
							<a href="responsive-tables.html">
								Responsive Tables
							</a>
						</li>

					</ul>
				</li>

				<li {{#is pagename "===" "forms"}}class="active"{{/is}} >
					<a href="forms.html">
						<i class="fa fa-pencil-square-o"></i> Forms
					</a>
				</li>

				<li {{#is pagename "in" "buttons,grid,icons,cards,typography"}}
						class="active open"
					{{/is}} >
					<a href="">
						<i class="fa fa-desktop"></i> UI Elements
						<i class="fa arrow"></i>
					</a>

					<ul>
						<li {{#is pagename "===" "buttons"}}class="active"{{/is}}>
							<a href="buttons.html">
								Buttons
							</a>
						</li>
						
						<li {{#is pagename "===" "cards"}}class="active"{{/is}}>
							<a href="cards.html">
								Cards
							</a>
						</li>

						<li {{#is pagename "===" "typography"}}class="active"{{/is}}>
							<a href="typography.html">
								Typography
							</a>
						</li>

						<li {{#is pagename "===" "icons"}}class="active"{{/is}}>
							<a href="icons.html">
								Icons
							</a>
						</li>

						<li {{#is pagename "===" "grid"}}class="active"{{/is}}>
							<a href="grid.html">
								Grid
							</a>
						</li>
					</ul>
				</li>

				<li {{#is pagename "in" "login,signup,reset,error-404,error-500"}}
						class="active open"
					{{/is}} >

					<a href="">
						<i class="fa fa-file-text-o"></i> Pages
						<i class="fa arrow"></i>
					</a>

					<ul>
						<li {{#is pagename "===" "login"}}class="active"{{/is}}>
							<a href="login.html">
								Login
							</a>
						</li>
						
						<li {{#is pagename "===" "signup"}}class="active"{{/is}}>
							<a href="signup.html">
								Sign Up
							</a>
						</li>

						<li {{#is pagename "===" "reset"}}class="active"{{/is}}>
							<a href="reset.html">
								Reset
							</a>
						</li>

						<li {{#is pagename "===" "error-404"}}class="active"{{/is}}>
							<a href="error-404.html">
								Error 404 App
							</a>
						</li>

						<li {{#is pagename "===" "error-404-alt"}}class="active"{{/is}}>
							<a href="error-404-alt.html">
								Error 404 Global
							</a>
						</li>

						<li {{#is pagename "===" "error-500"}}class="active"{{/is}}>
							<a href="error-500.html">
								Error 500 App
							</a>
						</li>

						<li {{#is pagename "===" "error-500-alt"}}class="active"{{/is}}>
							<a href="error-500-alt.html">
								Error 500 Global
							</a>
						</li>
					</ul>
				</li>

				<li {{#is pagename "===" "docs"}}class="active"{{/is}} >
					<a href="https://github.com/modularcode/modular-admin-html">
						<i class="fa fa-github-alt"></i> Theme Docs
					</a>
				</li>


			</ul>
		</nav>

	</div>

	{{> app/_common/sidebar/customize/customize}}

</aside>
<div class="sidebar-overlay" id="sidebar-overlay"></div>