.sidebar {
	background-color: $color-sidebar-primary;
	width: $sidebar-width;
	padding-bottom: 60px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	transition: left 0.3s ease;
	z-index: 20;


	@include media-down(md) {
		left: -$sidebar-width;
	}

	.sidebar-open & {
		left: 0;
		overflow-y: auto;
		overflow-x: hidden;
	}

	.sidebar-fixed & {
		position: fixed;
	}

	.brand {
		color: #fff;
		text-align: left;
		padding-left: 25px;
		line-height: $header-height;
		font-size: 16px;

		.logo {
			display: inline-block;
			width: 45px;
			height: 25px;
			vertical-align: middle;
			margin-right: 5px;
			// background-color: fade(#fff, 10%);
			position: relative;

			.l {
				width: 11px;
				height: 11px;
				border-radius: 50%;
				background-color: $color-primary;
				position: absolute;

				&.l1 {
					bottom: 0;
					left: 0;
				}

				&.l2 {
					width: 7px;
					height: 7px;
					bottom: 13px;
					left: 10px;
				}

				&.l3 {
					width: 7px;
					height: 7px;
					bottom: 4px;
					left: 17px;
				}

				&.l4 {
					bottom: 13px;
					left: 25px;
				}

				&.l5 {
					bottom: 0;
					left: 34px;
				}
			}
		}

		@include media-down(sm) {
			line-height: $header-height-xs;
			font-size: 16px;
		}
	}


	.nav {

		font-size: 14px;

		// Common styles
		li {
			a:focus,
			.open & a:focus {
				background-color: inherit;
			}
		}

		// Second + menu items
		ul {
			padding: 0;
			height: 0px;
			overflow: hidden;

			.loaded & {
				height: auto;
			}
		}

		li.active ul {
			height: auto;
		}


		// All links which are not active
		// have subdued color
		li a {
			color: $color-sidebar-text;
		}

		// All links which are not active
		// On hover bg become darker
		// Their color become lighter
		li a:hover,
		li.open > a,
		li.open a:hover {
			color: $color-sidebar-text-active;
			background-color: $color-sidebar-secondary;
		}


		// First level items
		&> li {

			// First level items links
			& > a {
				padding-top: 15px;
				padding-bottom: 15px;
				padding-left: 20px;
				padding-right: 10px;
			}

			// First level active links have primary background
			&.active > a,
			&.active > a:hover {
				background-color: $color-primary !important;
				color: $color-text-inverse !important;
			}

			// First level active links have bit darker background
			&.open > a {
				background-color: darken($color-sidebar-primary, 3%);
			}

			// Open items links
			&.open > a {
				i.arrow {
					transform: rotate(90deg);
				}
			}

			// First level item links arrow 
			& > a {
				i {
					margin-right: 5px;
					font-size: 16px;

					&.arrow {
						float: right;
						font-size: 20px;
						line-height: initial;
						transition: all 0.3s ease;

						&:before {
							content: "\f105" !important;
						}
					}
				}
			}

		}

		// Second level items
		& > li > ul > li {

			// Second level and deeper items links
			// Have bit darker background and more padding 
			// from left side
			a {
				padding-top: 10px;
				padding-bottom: 10px;
				padding-left: 50px;
				background-color: darken($color-sidebar-primary, 3%);
			}

			// Second level active items links
			// Have brighter color
			&.active a {
				color: $color-sidebar-text;
			}
		}
	}

}

.sidebar-overlay {
	position: absolute;
	display: none;
	left: 200vw;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 5;
	opacity: 0;
	transition: opacity 0.3s ease;
	z-index: 15;

	@include media-down(md) {
		display: block;
	}

	@include media-down(sm) {
		background-color: fade-out(#000, 0.3);
	}


	.sidebar-open & {
		@include media-down(md) {
			left: 0;
			opacity: 1;
		}
	}
}

.customize {
	// height: 200px;
	width: 100%;
	color: rgba(255, 255, 255, 0.5);
	padding: 5px 15px;
	text-align: center;

	.customize-header{
		margin-bottom: 10px;
	}
}