<aside class="Sidebar">

  {{> App/_common/Sidebar/SidebarHeader}}

  <div class="SidebarContent">

    {{> App/_common/Sidebar/SidebarNav}}

  </div>

  {{> App/_common/Sidebar/SidebarFooter}}

</aside>
