<aside class="sidebar">
	<div class="brand">
		<div class="logo">
			<span class="l l1"></span>
			<span class="l l2"></span>
			<span class="l l3"></span>
			<span class="l l4"></span>
			<span class="l l5"></span>
		</div>
		{{themeTitle}}
	</div>
	<nav class="menu">
		<ul class="nav metismenu" id="sidebar-menu">

			<li {{#is page "===" "dashboard"}}class="active"{{/is}} >
				<a href="index.html">
					<i class="fa fa-home"></i> Dashboard
				</a>
			</li>


			<li {{#is page "in" "items-list,item-editor"}}class="active open"{{/is}} >

				<a href="">
					<i class="fa fa-th-large"></i> Items Manager
					<i class="fa arrow"></i>
				</a>

				<ul>
					<li {{#is page "===" "items-list"}}class="active"{{/is}} >
						<a href="items-list.html">
							Items List
						</a>
					</li>

					<li {{#is page "===" "item-editor"}}class="active"{{/is}} >
						<a href="item-editor.html">
							Item Editor
						</a>
					</li>
				</ul>
			</li>

			<li {{#is page "in" "charts-flot,charts-morris"}}class="active open"{{/is}} >
				<a href="">
					<i class="fa fa-bar-chart"></i> Charts 
					<i class="fa arrow"></i>
				</a>

				<ul>
					<li {{#is page "===" "charts-flot"}}class="active"{{/is}} >
						<a href="charts-flot.html">
							Flot Chart
						</a>
					</li>

					<li {{#is page "===" "charts-morris"}}class="active"{{/is}} >
						<a href="charts-morris.html">
							Morris Chart
						</a>
					</li>
				</ul>
			</li>

			<li {{#is page "in" "static-tables,responsive-tables,dynamic-tables"}}class="active open"{{/is}} >
				<a href="">
					<i class="fa fa-table"></i> Tables
					<i class="fa arrow"></i>
				</a>

				<ul>
					<li {{#is page "===" "static-tables"}}class="active"{{/is}} >
						<a href="static-tables.html">
							Static Tables
						</a>
					</li>

					<li {{#is page "===" "responsive-tables"}}class="active"{{/is}} >
						<a href="responsive-tables.html">
							Responsive Tables
						</a>
					</li>

					<li {{#is page "===" "dynamic-tables"}}class="active"{{/is}} >
						<a href="dynamic-tables.html">
							Dynamic Tables
						</a>
					</li>
				</ul>
			</li>

			<li {{#is page "===" "forms"}}class="active"{{/is}} >
				<a href="forms.html">
					<i class="fa fa-pencil-square-o"></i> Forms
				</a>
			</li>

			<li {{#is page "in" "buttons,grid,icons,panels,typography,animations"}}
					class="active open"
				{{/is}} >
				<a href="">
					<i class="fa fa-desktop"></i> UI Elements
					<i class="fa arrow"></i>
				</a>

				<ul>
					<li {{#is page "===" "buttons"}}class="active"{{/is}}>
						<a href="buttons.html">
							Buttons
						</a>
					</li>
					
					<li {{#is page "===" "panels"}}class="active"{{/is}}>
						<a href="panels.html">
							Panels
						</a>
					</li>

					<li {{#is page "===" "typography"}}class="active"{{/is}}>
						<a href="typography.html">
							Typography
						</a>
					</li>

					<li {{#is page "===" "icons"}}class="active"{{/is}}>
						<a href="icons.html">
							Icons
						</a>
					</li>

					<li {{#is page "===" "animations"}}class="active"{{/is}}>
						<a href="animations.html">
							Animations
						</a>
					</li>

					<li {{#is page "===" "grid"}}class="active"{{/is}}>
						<a href="grid.html">
							Grid
						</a>
					</li>
				</ul>
			</li>

			<li {{#is page "in" "login,signup,reset,error-404,error-500"}}
					class="active open"
				{{/is}} >

				<a href="">
					<i class="fa fa-file-text-o"></i> Pages
					<i class="fa arrow"></i>
				</a>

				<ul>
					<li {{#is page "===" "login"}}class="active"{{/is}}>
						<a href="login.html">
							Login
						</a>
					</li>
					
					<li {{#is page "===" "signup"}}class="active"{{/is}}>
						<a href="signup.html">
							Sign Up
						</a>
					</li>

					<li {{#is page "===" "reset"}}class="active"{{/is}}>
						<a href="reset.html">
							Reset
						</a>
					</li>

					<li {{#is page "===" "error-404"}}class="active"{{/is}}>
						<a href="error-404.html">
							Error 404 App
						</a>
					</li>

					<li {{#is page "===" "error-404-alt"}}class="active"{{/is}}>
						<a href="error-404-alt.html">
							Error 404 Global
						</a>
					</li>

					<li {{#is page "===" "error-500"}}class="active"{{/is}}>
						<a href="error-500.html">
							Error 500 App
						</a>
					</li>

					<li {{#is page "===" "error-500-alt"}}class="active"{{/is}}>
						<a href="error-500-alt.html">
							Error 500 Global
						</a>
					</li>
				</ul>
			</li>

			<li {{#is page "===" "docs"}}class="active"{{/is}} >
				<a href="https://github.com/modularcode/modular-admin-html">
					<i class="fa fa-file-text-o"></i> Theme Docs
				</a>
			</li>


		</ul>
	</nav>

	<footer class="sidebar-footer">

	</footer>
</aside>
<div class="sidebar-overlay" id="sidebar-overlay"></div>