.ItemsEditorContent {
  padding: 20px;
}

.form-control:focus {
  border-color: #85CE36;
}

.form-control {
  border: 1 px solid black;
  box-shadow: none !important;
  border-radius: 0;
}

.FormGroup {
  margin-bottom: 15px;
}

.ql-editor {
  border: 1px solid #d7dde4;
  height: 120px !important;
}



