---
dirname: Items # output dirname
pagename: ItemsEditor
layout: Dashboard/Dashboard.layout
---
<article class="Page ItemsEditor">
  <div class="PageContainer">

    <header class="PageHeader">
      <h1 class="PageTitle">Add new item</h1>
    </header>

    <div class="Card">

      <div class="FormGroup row">
        <label class="col-md-2">
          Name:
        </label>
        <div class="col-md-10">
          <input type="text" class="form-control" placeholder="">
        </div>
      </div>

      <div class="FormGroup row">
        <label class="col-md-2">
          Content:
        </label>
        <div class="col-md-10">

        </div>
      </div>

    </div>

  </div>
</article>
