---
dirname: Items # output dirname
pagename: ItemsEditor
layout: Dashboard/Dashboard.layout
---
<article class="Page ItemsEditor">
  <div class="PageContainer">

    <header class="PageHeader">
      <h1 class="PageTitle">Add new item</h1>
    </header>


  </div>
</article>
