---
dirname: Items # output dirname
pagename: ItemsEditor
layout: Dashboard/Dashboard.layout
---
<article class="Page ItemsEditor">
  <div class="PageContainer">

    <header class="PageHeader">
      <h1 class="PageTitle">Add new item</h1>
    </header>

    <div class="Card">
      <div class="ItemsEditorContent">

        <div class="FormGroup row">
          <label class="col-md-2">
            Name:
          </label>
          <div class="col-md-10">
            <input type="text" class="form-control" placeholder="">
          </div>
        </div>

        <div class="FormGroup row">
          <label class="col-md-2">
            Content:
          </label>
          <div class="col-md-10">
            <div class="EditorContainer">
              <div id="Editor" class="Editor"> </div>
            </div>
          </div>
        </div>

        <div class="FormGroup row">
          <label class="col-md-2">
            Category:
          </label>
          <div class="col-md-10">
            <select class="form-control">
              <option selected>Select Category</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>

        <div class="FormGroup row">
          <label class="col-md-2">
            Image:
          </label>
          <div class="col-md-10">

          </div>
        </div>

      </div>
    </div>

  </div>
</article>
