<div class="card card-block">
	<div class="title-block">
		<h3 class="title">
			Radio Types
		</h3>
	</div>
	<form role="form">
		<div class="form-group">
            <label class="control-label">Radios</label>
            <div>
                <label>
                    <input class="radio" name="radios" type="radio">
                    <span>Option one</span>
                </label>
            </div>
            <div>
                <label>
                    <input class="radio" type="radio" name="radios" checked="checked">
                    <span>Option two checked</span>
                </label>
            </div>
            <div>
                <label>
                    <input class="radio" type="radio" name="disabled-radios" disabled="disabled" checked="checked">
                    <span>Option three checked and disabled</span>
                </label>
            </div>
            <div>
                <label>
                    <input class="radio" type="radio" name="disabled-radios" disabled="disabled" >
                    <span>Option four disabled</span>
                </label>
            </div>
        </div>
        <div class="form-group">
             <label class="control-label">Inline Radios</label>
             <div>
                 <label>
                    <input class="radio" name="inline-radios" type="radio">
                    <span>a</span>
                </label>
                <label>
                    <input class="radio" name="inline-radios" type="radio">
                    <span>b</span>
                </label>
                <label>
                    <input class="radio" name="inline-radios" type="radio">
                    <span>c</span>
                </label>
             </div>
        </div>
        <div class="form-group">
             <label class="control-label">Squared Radios</label>
             <div>
                 <label>
                    <input class="radio squared"  name="squared-radios" checked="checked" type="radio">
                    <span>Checked</span>
                </label>
                <label>
                    <input class="radio squared"  name="squared-radios" type="radio">
                    <span>Unchecked</span>
                </label>
             </div>
        </div>
	</form>
</div>