.modal-body.modal-tab-container {
    padding: 0;

    .modal-tabs {
        padding-left: 0;
        margin-bottom: 0;
        list-style:none;
        background-color: #ffffff;
        border-bottom: 1px solid #ddd;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);

        .nav-link {
            padding: 10px 20px;
            border: none;

            &:hover,
            &.active {
                color: $color-primary;
                border-bottom: 2px solid  $color-primary;
            }

            &.active {
                font-weight: 600;
            }
        }
    }
}