.Card {
  background-color: var(--CardColorBg);
  box-shadow: var(--CardShadow);
  width: 100%;
  margin-bottom: var(--CardMarginBottom);

  .CardHeader {

  }

  .CardBlock {
    padding: $CardBlockPaddingVertical $CardBlockPaddingHorizontal;

    @include media-down(sm) {
      padding: $CardBlockPaddingVertical-sm $CardBlockPaddingHorizontal-sm;
    }

    @include media-up(xl) {
      padding: $CardBlockPaddingVertical-xl $CardBlockPaddingHorizontal-xl;
    }
  }
}
