.Dashboard .Stats {

  .StatCol {
    margin-bottom: 20px;
    white-space: nowrap;
    overflow: hidden;
  }

  .Icon {
    color: #ccc;
    display: inline-block;
    font-size: 26px;
    text-align: center;
    vertical-align: middle;
    width: 50px;
  }

  .Stat {
    display: inline-block;
    vertical-align: middle;
  }

  .Value {
    font-size: 20px;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
  }

  .Name {
    font-size: 14px;
    color: $colorText-light;
  }

}
