<div class="Card Stats">
  <div class="CardBlock">

    <div class="TitleBlock">
      <h4 class="Title">Stats</h4>
      <p class="TitleDescription">
        Website metrics for
        <a
          href="https://github.com/modularcode/modular-admin-html"
          target="_blank">your awesome project</a>
      </p>
    </div>

    <div class="row -row-compact -row-minimal-lg StatsRow">

      <div class="col-xs-12 col-sm-6 StatCol">
        <div class="StatGroup">
          <div class="Icon">
            <i class="fa fa-rocket"></i>
          </div>
          <div class="Stat">
            <div class="Value">
              5407
            </div>
            <div class="Name">
              Active items
            </div>
          </div>
          <div class="Progress -sm">
            <div class="Bar" style="width: 75%;"></div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 StatCol">
        <div class="StatGroup">
          <div class="Icon">
            <i class="fa fa-shopping-cart"></i>
          </div>
          <div class="Stat">
            <div class="Value">
              78464
            </div>
            <div class="Name">
              Items sold
            </div>
          </div>

          <div class="Progress -sm -blue">
            <div class="Bar" style="width: 25%;"></div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 StatCol">
        <div class="StatGroup">
          <div class="Icon">
            <i class="fa fa-line-chart"></i>
          </div>
          <div class="Stat">
            <div class="Value">
              $80.560
            </div>
            <div class="Name">
              Monthly income
            </div>
          </div>

          <div class="Progress -sm -orange">
            <div class="Bar" style="width: 60%;"></div>
          </div>
        </div>
      </div>



      <div class="col-xs-12 col-sm-6 StatCol">
        <div class="StatGroup">
          <div class="Icon">
            <i class="fa fa-users"></i>
          </div>
          <div class="Stat">
            <div class="Value">
              359
            </div>
            <div class="Name">
              Total users
            </div>
          </div>

          <div class="Progress -sm -cyan">
            <div class="Bar" style="width: 34%;"></div>
          </div>
        </div>
      </div>


      <div class="col-xs-12 col-sm-6 StatCol">
        <div class="StatGroup">
          <div class="Icon">
            <i class="fa fa-list-alt"></i>
          </div>
          <div class="Stat">
            <div class="Value">
              59
            </div>
            <div class="Name">
              Tickets closed
            </div>
          </div>

          <div class="Progress -sm -purple">
            <div class="Bar" style="width: 49%;"></div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 StatCol">
        <div class="StatGroup">
          <div class="Icon">
            <i class="fa fa-dollar"></i>
          </div>
          <div class="Stat">
            <div class="Value">
              $780.064
            </div>
            <div class="Name">
              Total income
            </div>
          </div>

          <div class="Progress -sm -yellow">
            <div class="Bar" style="width: 15%;"></div>
          </div>
        </div>
      </div>



    </div>

  </div>
</div>
