/* *******************************************
*			Item general styles
********************************************** */

.item-header {
	font-size: 0.8rem;
	font-weight: 700;
	color: #999;
	
	p {
		line-height: 40px;
		margin: 0;
	}
}

.item {
	display: flex;
	flex-direction: column;

	.item-row {
		display: flex;
		align-items: stretch;
		// flex-wrap: nowrap;
		flex-direction: row;
		flex-wrap: wrap;
		min-width: 100%;

		&.nowrap {
			flex-wrap: nowrap;
		}
	}

	.item-row > .item-col {
		background-position: center center;
		background-size: cover;
		// display: flex;
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 10px;
		padding-bottom: 10px;

		// flex: 0 0 auto;
		// flex-grow: 1;
		// flex-shrink: 1;

		// align-items: flex-start;
		// flex-wrap: wrap;

		&.fixed {
			flex-grow: 0;
			flex-shrink: 0;
			flex-basis: auto;
		}

		& > div {
			width: 100%;
		}

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}
	}

	// .item-col+.item-col {
	// 	padding-left: 0;
	// }

	.item-footer {
		align-self: flex-end;
	}
}

/* *******************************************
*				Item components
********************************************** */

.item {
	.item-col-img {
		display: flex;
		width: 60px;

		&.xs{
			width: 35px;
		}

		&.sm {
			width: 45px;
		}

		&.lg {
			width: 95px;
		}

		&.xl {
			width: 115px;
		}

		a {
			flex-grow: 1;
			display: flex;
			align-self: stretch;
		}
	}

	.item-img {
		flex-grow: 1;
		align-self: stretch;
	    background-color: #efefef;
	    padding-bottom: 100%;
		width: 100%;
		height: 0;

	   	@include bg-cover();
	}

	.item-col-title {
		a {
			display: block;
		}
	}

	.item-title {
		margin: 0;
		font-size: 1.1rem;
		font-weight: 600;
		line-height: 30px;

	    &.nowrap {
			overflow: hidden;
	    	text-overflow: ellipsis;
	    	white-space: nowrap;
	    }
	}
}


/* *******************************************
*				Adjustments
********************************************** */

// Item which is located inside card inside items-list
.card .items-list .item > .item-row {
	padding: 0 $card-padding-x;

	@include media(xl) {
		padding: 0 $card-padding-x-xl;
	}

	@include media-down(sm) {
		padding: 0 $card-padding-x-sm;
	}
}




