/* *******************************************
*			Item general styles
********************************************** */

.item-header {
	font-size: 0.8rem;
	font-weight: 700;
	color: #999;
	
	p {
		line-height: 40px;
		margin: 0;
	}
}

.item {
	display: flex;
	flex-direction: column;

	.item-row {
		display: flex;
		align-items: stretch;
		flex-wrap: nowrap;
		flex-direction: row;
	}

	.item-col {
		background-position: center center;
		background-size: cover;
		display: flex;
		padding: 10px;
		flex-grow: 1;
		flex-shrink: 1;
		align-items: flex-start;
		flex-wrap: wrap;

		&.fixed {
			flex-grow: 0;
			flex-shrink: 0;
			flex-basis: auto;
		}

		& > div {
			width: 100%;
		}
	}

	.item-col+.item-col {
		padding-left: 0;
	}

	.item-footer {
		align-self: flex-end;
	}
}

/* *******************************************
*				Item components
********************************************** */

.item {
	.item-col-img {
		//width: 60px;

		&.xs{
			width: 60px;
		}

		&.sm {
			width: 70px;
		}

		&.lg {
			width: 120px;
		}

		&.xl {
			width: 140px;
		}
	}

	.item-img {
		/*width: 60px;
	    height: 60px;*/
	    background-color: #efefef;
	    background-size: cover;
	    background-position: center;
	    background-repeat: no-repeat;

	    .xs &,
	    &.xs {
	    	height: 30px;
	    	width: 30px;
	    }

	    .sm &,
	    &.sm {
	    	width: 40px;
	    	height: 40px;
	    }

	    .lg &,
	    &.lg {
	    	width: 80px;
	    	height: 80px;
	    }
	}
}

.item-title-a {
	width: 100%;

	.item-title {
		display: inline-block;
		font-size: 1.1rem;
		font-weight: 600;
		line-height: 30px;
		overflow: hidden;
	    text-overflow: ellipsis;
	    vertical-align: bottom;
	    white-space: nowrap;
	    width: 100%;
	}

	h4 {
		margin: 0;
	}

	.item-description {
		font-size: 0.9rem;
		margin-bottom: 0.5rem;
	}

	.item-canvas {
		height: 20px;
		width: 50px;
	}
}


/* *******************************************
*				Adjustments
********************************************** */

// Item which is located inside card inside items-list
.card > .items-list .item-col-img {

	padding-left: $card-padding-x;

	@include media(xl) {
		padding-left: $card-padding-x-xl;
	}

	@include media-down(sm) {
		padding-left: $card-padding-x-sm;
	}
}




