.items-list {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-bottom: 15px;

	display: flex;
	flex-flow: column nowrap;

	.items-list-header {
		font-weight: bold;
		border-bottom: 1px solid $color-divider;
		padding-bottom: 0;

		.item-col {
			vertical-align: middle;
		}
	}


	&.striped {
		li {
			border-bottom: 1px solid $color-divider;
		}

		li:nth-child(2n + 1) {
			background-color: lighten($color-divider, 12%);
		}

		.items-list-footer {
			border-bottom: none;
		}
	}


	&.bordered {
		li {
		}
	}

	// .item-row,
	// li {
	// 	display: flex;
	// 	align-items: flex-start;

	// 	width: 100%;
	// 	position: relative;
	// }

	// .item-col {
	// 	display: flex;
	// 	flex-grow: 1;
	// 	flex-basis: 0;
	// 	vertical-align: top;
	// 	padding: 10px 7px;
	// }

	// .img {
	// 	width: 40px; 
	// 	height: 40px; 
	// 	background-color: #efefef;
	// 	@include bg-cover();
	// }
}