<div class="panel sameheight-item">
   <div class="panel-body">

      <div class="panel-title-block">
         <h3 class="title">
            Button dropdowns
         </h3>
      </div>
      <section class="section">
        
          <p>Dropdowns</p>
         <!-- START button group-->
         <div class="btn-group">
            <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle" aria-expanded="false">Default
               <span class="caret"></span>
            </button>
            <ul role="menu" class="dropdown-menu">
               <li><a href="javascript:void(0);">Action</a>
               </li>
               <li><a href="javascript:void(0);">Another action</a>
               </li>
               <li><a href="javascript:void(0);">Something else here</a>
               </li>
               <li class="divider"></li>
               <li><a href="javascript:void(0);">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
         <!-- START button group-->
         <div class="btn-group">
            <button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle" aria-expanded="false">Primary
               <span class="caret"></span>
            </button>
            <ul role="menu" class="dropdown-menu">
               <li><a href="javascript:void(0);">Action</a>
               </li>
               <li><a href="javascript:void(0);">Another action</a>
               </li>
               <li><a href="javascript:void(0);">Something else here</a>
               </li>
               <li class="divider"></li>
               <li><a href="javascript:void(0);">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
         <!-- START button group-->
         <div class="btn-group">
            <button type="button" data-toggle="dropdown" class="btn btn-success dropdown-toggle">Success
               <span class="caret"></span>
            </button>
            <ul role="menu" class="dropdown-menu">
               <li><a href="javascript:void(0);">Action</a>
               </li>
               <li><a href="javascript:void(0);">Another action</a>
               </li>
               <li><a href="javascript:void(0);">Something else here</a>
               </li>
               <li class="divider"></li>
               <li><a href="javascript:void(0);">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
         <!-- START button group-->
         <div class="btn-group">
            <button type="button" data-toggle="dropdown" class="btn btn-info dropdown-toggle">Info
               <span class="caret"></span>
            </button>
            <ul role="menu" class="dropdown-menu">
               <li><a href="javascript:void(0);">Action</a>
               </li>
               <li><a href="javascript:void(0);">Another action</a>
               </li>
               <li><a href="javascript:void(0);">Something else here</a>
               </li>
               <li class="divider"></li>
               <li><a href="javascript:void(0);">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
         <!-- START button group-->
         <div class="btn-group">
            <button type="button" data-toggle="dropdown" class="btn btn-warning dropdown-toggle">Warning
               <span class="caret"></span>
            </button>
            <ul role="menu" class="dropdown-menu">
               <li><a href="javascript:void(0);">Action</a>
               </li>
               <li><a href="javascript:void(0);">Another action</a>
               </li>
               <li><a href="javascript:void(0);">Something else here</a>
               </li>
               <li class="divider"></li>
               <li><a href="javascript:void(0);">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
         <!-- START button group-->
         <div class="btn-group">
            <button type="button" data-toggle="dropdown" class="btn btn-danger dropdown-toggle">Danger
               <span class="caret"></span>
            </button>
            <ul role="menu" class="dropdown-menu">
               <li><a href="javascript:void(0);">Action</a>
               </li>
               <li><a href="javascript:void(0);">Another action</a>
               </li>
               <li><a href="javascript:void(0);">Something else here</a>
               </li>
               <li class="divider"></li>
               <li><a href="javascript:void(0);">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
         <!-- START button group-->
         <div class="btn-group">
            <button type="button" data-toggle="dropdown" class="btn btn-inverse dropdown-toggle">Inverse
               <span class="caret"></span>
            </button>
            <ul role="menu" class="dropdown-menu">
               <li><a href="javascript:void(0);">Action</a>
               </li>
               <li><a href="javascript:void(0);">Another action</a>
               </li>
               <li><a href="javascript:void(0);">Something else here</a>
               </li>
               <li class="divider"></li>
               <li><a href="javascript:void(0);">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->

         <br>
         <br>
         <p>Split Dropdowns</p>
         <!-- START button group-->
         <div class="btn-group">
            <button type="button" class="btn btn-default">Default</button>
            <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">
               <span class="caret"></span>
            </button>
            <ul role="menu" class="dropdown-menu">
               <li><a href="javascript:void(0);">Action</a>
               </li>
               <li><a href="javascript:void(0);">Another action</a>
               </li>
               <li><a href="javascript:void(0);">Something else here</a>
               </li>
               <li class="divider"></li>
               <li><a href="javascript:void(0);">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
         <!-- START button group-->
         <div class="btn-group">
            <button type="button" class="btn btn-primary">Primary</button>
            <button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">
               <span class="caret"></span>
            </button>
            <ul role="menu" class="dropdown-menu">
               <li><a href="javascript:void(0);">Action</a>
               </li>
               <li><a href="javascript:void(0);">Another action</a>
               </li>
               <li><a href="javascript:void(0);">Something else here</a>
               </li>
               <li class="divider"></li>
               <li><a href="javascript:void(0);">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
         <!-- START button group-->
         <div class="btn-group">
            <button type="button" class="btn btn-success">Success</button>
            <button type="button" data-toggle="dropdown" class="btn btn-success dropdown-toggle" aria-expanded="true">
               <span class="caret"></span>
            </button>
            <ul role="menu" class="dropdown-menu">
               <li><a href="javascript:void(0);">Action</a>
               </li>
               <li><a href="javascript:void(0);">Another action</a>
               </li>
               <li><a href="javascript:void(0);">Something else here</a>
               </li>
               <li class="divider"></li>
               <li><a href="javascript:void(0);">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
         <!-- START button group-->
         <div class="btn-group">
            <button type="button" class="btn btn-info">Info</button>
            <button type="button" data-toggle="dropdown" class="btn btn-info dropdown-toggle">
               <span class="caret"></span>
            </button>
            <ul role="menu" class="dropdown-menu">
               <li><a href="javascript:void(0);">Action</a>
               </li>
               <li><a href="javascript:void(0);">Another action</a>
               </li>
               <li><a href="javascript:void(0);">Something else here</a>
               </li>
               <li class="divider"></li>
               <li><a href="javascript:void(0);">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
         <!-- START button group-->
         <div class="btn-group">
            <button type="button" class="btn btn-warning">Warning</button>
            <button type="button" data-toggle="dropdown" class="btn btn-warning dropdown-toggle">
               <span class="caret"></span>
            </button>
            <ul role="menu" class="dropdown-menu">
               <li><a href="javascript:void(0);">Action</a>
               </li>
               <li><a href="javascript:void(0);">Another action</a>
               </li>
               <li><a href="javascript:void(0);">Something else here</a>
               </li>
               <li class="divider"></li>
               <li><a href="javascript:void(0);">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
         <!-- START button group-->
         <div class="btn-group">
            <button type="button" class="btn btn-danger">Danger</button>
            <button type="button" data-toggle="dropdown" class="btn btn-danger dropdown-toggle">
               <span class="caret"></span>
            </button>
            <ul role="menu" class="dropdown-menu">
               <li><a href="javascript:void(0);">Action</a>
               </li>
               <li><a href="javascript:void(0);">Another action</a>
               </li>
               <li><a href="javascript:void(0);">Something else here</a>
               </li>
               <li class="divider"></li>
               <li><a href="javascript:void(0);">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
         <!-- START button group-->
         <div class="btn-group">
            <button type="button" class="btn btn-inverse">Inverse</button>
            <button type="button" data-toggle="dropdown" class="btn btn-inverse dropdown-toggle">
               <span class="caret"></span>
            </button>
            <ul role="menu" class="dropdown-menu">
               <li><a href="javascript:void(0);">Action</a>
               </li>
               <li><a href="javascript:void(0);">Another action</a>
               </li>
               <li><a href="javascript:void(0);">Something else here</a>
               </li>
               <li class="divider"></li>
               <li><a href="javascript:void(0);">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </section>
   </div>
</div>