<footer class="sidebar-footer">
	<ul class="nav metismenu" id="customize-menu">
		<li>
			<ul>
				<li class="customize">
					<div class="customize-item">
						<div class="row customize-header">
							<div class="col-xs-4">
							</div>
							<div class="col-xs-4">
								<label class="title">fixed</label>
							</div>
							<div class="col-xs-4">
								<label class="title">static</label>
							</div>
						</div>
						<div class="row hidden-md-down">
							<div class="col-xs-4">
								<label class="title">Sidebar:</label>
							</div>
							<div class="col-xs-4">
								<label>
			                        <input class="radio" type="radio" name="sidebarPosition" value="sidebar-fixed" >
			                        <span></span>
			                    </label>
							</div>
							<div class="col-xs-4">
								<label>
			                        <input class="radio" type="radio" name="sidebarPosition" value="">
			                        <span></span>
			                    </label>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-4">
								<label class="title">Header:</label>
							</div>
							<div class="col-xs-4">
								<label>
			                        <input class="radio" type="radio" name="headerPosition" value="header-fixed">
			                        <span></span>
			                    </label>
							</div>
							<div class="col-xs-4">
								<label>
			                        <input class="radio" type="radio" name="headerPosition" value="">
			                        <span></span>
			                    </label>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-4">
								<label class="title">Footer:</label>
							</div>
							<div class="col-xs-4">
								<label>
			                        <input class="radio" type="radio" name="footerPosition" value="footer-fixed">
			                        <span></span>
			                    </label>
							</div>
							<div class="col-xs-4">
								<label>
			                        <input class="radio" type="radio" name="footerPosition" value="">
			                        <span></span>
			                    </label>
							</div>
						</div>
					</div>
					<div class="customize-item">
						<ul class="customize-colors">
							<li>
								<span class="color-item color-red" data-theme="red"></span>
							</li>
							<li>
								<span class="color-item color-orange" data-theme="orange"></span>
							</li>
							<li>
								<span class="color-item color-green active" data-theme=""></span>
							</li>
							<li>
								<span class="color-item color-seagreen" data-theme="seagreen"></span>
							</li>
							<li>
								<span class="color-item color-blue" data-theme="blue"></span>
							</li>
							<li>
								<span class="color-item color-purple" data-theme="purple"></span>
							</li>
						</ul>
					</div>
				</li>
			</ul>
			<a href="">
				<i class="fa fa-cog"></i> Customize
			</a>
		</li>
	</ul>
</footer>

