<ul>
	<li class="customize">
		<div class="customize-item">
			<div class="row customize-header">
				<div class="col-xs-4">
				</div>
				<div class="col-xs-4">
					<label class="title">fixed</label>
				</div>
				<div class="col-xs-4">
					<label class="title">static</label>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4">
					<label class="title">Sidebar:</label>
				</div>
				<div class="col-xs-4">
					<label>
                        <input class="radio" type="radio" name="sidebar" checked="checked">
                        <span></span>
                    </label>
				</div>
				<div class="col-xs-4">
					<label>
                        <input class="radio" type="radio" name="sidebar">
                        <span></span>
                    </label>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4">
					<label class="title">Header:</label>
				</div>
				<div class="col-xs-4">
					<label>
                        <input class="radio" type="radio" name="Header" checked="checked">
                        <span></span>
                    </label>
				</div>
				<div class="col-xs-4">
					<label>
                        <input class="radio" type="radio" name="Header">
                        <span></span>
                    </label>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4">
					<label class="title">Footer:</label>
				</div>
				<div class="col-xs-4">
					<label>
                        <input class="radio" type="radio" name="footer" checked="checked">
                        <span></span>
                    </label>
				</div>
				<div class="col-xs-4">
					<label>
                        <input class="radio" type="radio" name="footer">
                        <span></span>
                    </label>
				</div>
			</div>
		</div>
		<div class="customize-item">
			<div class="row customize-header">
				<div class="col-xs-4">
				</div>
				<div class="col-xs-4">
					<label class="title">boxed</label>
				</div>
				<div class="col-xs-4">
					<label class="title">full</label>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4">
					<label class="title">Container:</label>
				</div>
				<div class="col-xs-4">
					<label>
                        <input class="radio" type="radio" name="container" checked="checked">
                        <span></span>
                    </label>
				</div>
				<div class="col-xs-4">
					<label>
                        <input class="radio" type="radio" name="container">
                        <span></span>
                    </label>
				</div>
			</div>
		</div>
		<div class="customize-item">
			<ul class="customize-colors">
				<li>
					<span class="color-item color-red"></span>
				</li>
				<li>
					<span class="color-item color-orange"></span>
				</li>
				<li>
					<span class="color-item color-green"></span>
				</li>
				<li>
					<span class="color-item color-blue active"></span>
				</li>
				<li>
					<span class="color-item color-purple"></span>
				</li>
			</ul>
		</div>
	</li>
</ul>
<a href="">
	<i class="fa fa-cog"></i> Customize
</a>