<div class="card sameheight-item">
	<div class="card-block">

		<div class="card-title-block">
			<h3 class="title">
				Horizontal Form
			</h3>
		</div>
		<section class="section">
			<form class="form-horizontal">
				<div class="form-group">
					<label for="inputEmail3" class="col-sm-2 control-label">Email</label>
					<div class="col-sm-10">
						<input type="email" class="form-control" id="inputEmail3" placeholder="Email">
					</div>
				</div>
				<div class="form-group">
					<label for="inputPassword3" class="col-sm-2 control-label">Password</label>
					<div class="col-sm-10">
						<input type="password" class="form-control" id="inputPassword3" placeholder="Password">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						
						<label>
							<input class="checkbox" type="checkbox">
							<span>Remember me</span>
						</label>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-success">Sign in</button>
						<button type="submit" class="btn btn-default">Cancel</button>
					</div>
				</div>
			</form>
		</section>
		
	</div>
</div>