{{#extend "auth/auth-layout"}}
	{{#content "body"}}
	
		<div class="auth-container">
			<h1 class="auth-title">Modularity</h1>

			<div class="auth-content">
				<form id="signup-form"  action="/index.html" method="GET" novalidate="">
					<div class="form-group inline-block">
						<label for="firstname" class="control-label">Name</label>
						<input type="text" class="form-control" name="firstname" id="firstname" placeholder="Enter firstname" required=""><!--
						--><input type="text" class="form-control" name="lastname" id="lastname" placeholder="Enter lastname" required="">
					</div>
					<div class="form-group">
						<label for="email" class="control-label">Email</label>
						<input type="email" class="form-control" name="email" id="email" placeholder="Enter email address" required>
					</div>
					<div class="form-group inline-block">
						<label for="password" class="control-label">Password</label>
						<input type="password" class="form-control" name="password" id="password" placeholder="Enter password" required=""><!--
						--><input type="password" class="form-control" name="retype_password" id="retype_password" placeholder="Re-type password" required="">
					</div>
					<div class="form-group">
						<div class="checkbox">
							<label for="agree">
								<input class="form-checkbox" name="agree" id="agree" type="checkbox" required> 
								<span id="agree-text">Agree the terms and <a href="#">policy</a></span>
							</label>
						</div>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-block btn-primary">Sign in</button>
					</div>
					<div class="form-group">
						<p class="text-muted text-center"><small>Already have an account?</small> <a href="/login.html">Sign Up!</a></p>
					</div>
				</form>
			</div>
		</div>

	{{/content}}
{{/extend}}