---
layout: main.layout
dirname: Auth
titleSeparator: '-'
titleName: 'ModularAdmin | HTML version'
---

<div class="Auth">
  <div class="AuthCard">

    <div class="AuthHeader">
      <h1 class="AuthTitle">
        {{> _common/Logo/Logo}}ModularAdmin
      </h1>
    </div>

    <div class="AuthContent">
      <p class="Description">SIGNUP TO GET INSTANT ACCESS</p>

      {{!-- <form id="LoginForm"  action="/index.html" method="GET" novalidate=""> --}}

				<div class="FormGroup">
					<label for="firstname">Name</label>

          <div class="row">
            <div class="col-sm-6">
              <input type="text" class="form-control underlined" name="firstname" id="firstname" placeholder="Enter firstname" required="">
            </div>
            <div class="col-sm-6">
              <input type="text" class="form-control underlined" name="lastname" id="lastname" placeholder="Enter lastname" required="">
            </div>
          </div>

				</div>

				<div class="FormGroup">
					<label for="email">Email</label>
					<input type="text" class="form-control underlined" name="email" id="email" placeholder="Enter email address" required="">
				</div>

        <div class="FormGroup">
					<label for="password">Password</label>

          <div class="row">
            <div class="col-sm-6">
              <input type="password" class="form-control underlined" name="password" id="password" placeholder="Enter password" required="">
            </div>
            <div class="col-sm-6">
              <input type="password" class="form-control underlined" name="retype_password" id="retype_password" placeholder="Re-type password" required="">
            </div>
          </div>

				</div>

				<div class="FormGroup">
					<label for="remember">
						<input class="checkbox" name="agree" id="agree" type="checkbox">
						<span>Agree the terms and<a href="#">policy</a></span>
					</label>
				</div>

				<div class="FormGroup">
					<button type="submit" class="AuthButton">Sign Up</button>
				</div>

				<div class="FormGroup">
					<p class="text-muted text-center">Already have an account?<a href="/Auth/Login.html">Login!</a></p>
				</div>

			{{!-- </form> --}}
    </div>


  </div>
  <div class="BackButton">
		<a href="/" class="ButtonSecondary">
			<i class="fa fa-arrow-left"></i> Back to dashboard
		</a>
	</div>
</div>
