---
layout: app/app-layout
pagename: buttons
---
<div class="title-block">
	<h3 class="title">
		Buttons
	</h3>
	<p class="title-description">
		Sample button elements
	</p>
</div>

<section class="section">
	<div class="row sameheight-container">

		<div class="col-md-6">
			{{> app/ui-elements/buttons/button-colors/button-colors}}
		</div>

		<div class="col-md-6">
			{{> app/ui-elements/buttons/button-outline/button-outline}}
		</div>

	</div>
</section>

<section class="section">
	<div class="row sameheight-container">

		<div class="col-md-6">
			{{> app/ui-elements/buttons/button-sizing/button-sizing}}
		</div>

		<div class="col-md-6">
			{{> app/ui-elements/buttons/button-types/button-types}}
		</div>

	</div>
</section>

<section class="section">
	<div class="row sameheight-container">

		<div class="col-md-6">
			{{> app/ui-elements/buttons/button-group/button-group}}
		</div>

		<div class="col-md-6">
			{{> app/ui-elements/buttons/button-dropdowns/button-dropdowns}}
		</div>

	</div>
</section>