// Dashboard page specific styles here

.dashboard-page {

	.stats-col {
		// width: 40%;
	}

	.visits-col {
		// width: 60%;
	}


	.items {
		margin-bottom: 30px;
	}

	.feed {
		margin-bottom: 30px;
	}


	.projects {
		margin-bottom: 30px;
	}

	.tasks {

		.title-block {

			.title {
				align-items: center;
				display: flex;
				justify-content: space-between;
			}

		}

		ul {

			list-style-type: none;
			padding: 0;

			li {

				padding-right: 20px;
				position: relative;

				label {

					width: 100%;

					.checkbox:checked+span {
						text-decoration: line-through;
					}

					span {
						display: inline-block;
						overflow: hidden;
		    			text-overflow: ellipsis;
    					white-space: nowrap; 
    					width: 100%;   					
					}

				}

				.setting {
					color: $color-text-passive;
					
					font-size: 1.25rem;

				}

				.item-actions {
					position: absolute;
					right: 0;
					top: 0;
				}

			}

		}

	}

}