// Dashboard page specific styles here

.dashboard-page {

	.stats-col {
		// width: 40%;
	}

	.visits-col {
		// width: 60%;
	}


	.items {
		margin-bottom: 30px;
	}

	.feed {
		margin-bottom: 30px;
	}


	.projects {
		margin-bottom: 30px;
	}

	.tasks {

		ul {

			list-style-type: none;
			padding: 0;

			li {

				.settings {
					
				}

			}

		}

	}

}