{{#extend "app/app-layout"}}
	{{#content "body"}}


		<div class="title-block">
			<h3 class="title">
				Hi User
			</h3>
			<p class="subtitle">
				Check out you analytics
			</p>	
		</div>

		<section class="section">
			<div class="box">
				<h4 class="title l">
					Load Time
				</h4>
				<p class="subtitle">
					Load time for 
					<a href="http://modularteam.github.io/modularity-free-admin-dashboard-theme-html/">
						your project
					</a>
				</p>

				<br><br><br><br><br><br>
			</div>
		</section>

	{{/content}}
{{/extend}}