---
page: dashboard
---
{{#extend "app/app-layout"}}
	{{#content "body"}}

		{{!-- Analytics --}}
		<section class="section">
			<div class="title-block">
				<h3 class="title">
					Hi User
				</h3>
				<p class="subtitle">
					Check out you analytics
				</p>	
			</div>

			<div class="row sameheight">
				<div class="col-sm-5 col-md-6 col-lg-5">
					{{> app/dashboard/stats/stats}}
				</div>
				<div class="col-sm-7 col-md-6 col-lg-7">
					{{> app/dashboard/visits/visits}}
				</div>
			</div>
		</section>

		{{!-- Activity --}}
		<section class="section dashboard-projects">
			<div class="title-block">
				<h3 class="title">
					Recent Activity
				</h3>
			</div>

			<div class="row sameheight">
				<div class="col-sm-4">
					<div class="panel sameheight-item" data-exclude="xs">
						<div class="panel-body">
							<div class="title-block">
								<h3 class="title">
									Support tickets
								</h3>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="panel sameheight-item" data-exclude="xs">
						<div class="panel-body">
							<div class="title-block">
								<h3 class="title">
									Comments
								</h3>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="panel sameheight-item" data-exclude="xs">
						<div class="panel-body">
							<div class="title-block">
								<h3 class="title">
									Newsfeed
								</h3>
							</div>
						</div>
					</div>
				</div>

			</div>
		</section>

		<section class="section">
			<div class="title-block">
				<h3 class="title">
					Projects
				</h3>
				<p class="subtitle">
					This table will shows you your projects' progress.
				</p>	
			</div>

			{{!-- Projects --}}
			<div class="row sameheight">
				<div class="col-md-8">
					<div class="sameheight-item" data-exclude="xs">
						{{> app/dashboard/projects/projects}}
					</div>
				</div>
				<div class="col-md-4">
					<div class="panel sameheight-item" data-exclude="xs">
						<div class="panel-body">
							<div class="title-block">
								<h3 class="title">
									Support tickets
								</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		


	{{/content}}
{{/extend}}