---
page: dashboard
items: 
  - title: 12 Myths Uncovered About IT & Software
    img: https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg
    author: Meadow Katheryne
    category: Software
    date: 21 SEP 10:45
  - title: 50% of things doesn't really belongs to you
    img: https://s3.amazonaws.com/uifaces/faces/twitter/_everaldo/128.jpg
    author: Alexander Sargssyan
    category: Software
    date: 21 SEP 10:45
  - title: Vestibulum tincidunt amet laoreet mauris sit sem aliquam cras maecenas vel aliquam.
    img: https://s3.amazonaws.com/uifaces/faces/twitter/eduardo_olv/128.jpg
    author: Angela Blaine
    category: Software
    date: 21 SEP 10:45
projects: 
  - title: Project A
    image: https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg
    description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis condimentum fermentum maximus. Integer molestie at sem sit amet rutrum.
    date: Yesterday at 11:20 am
  - title: Project C
    image: https://s3.amazonaws.com/uifaces/faces/twitter/_everaldo/128.jpg
    description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis condimentum fermentum maximus. Integer molestie at sem sit amet rutrum.
    date: 2 days ago
  - title: Project D
    image: https://s3.amazonaws.com/uifaces/faces/twitter/eduardo_olv/128.jpg
    description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis condimentum fermentum maximus. Integer molestie at sem sit amet rutrum.
    date: few minutes ago
  - title: Project K
    image: https://s3.amazonaws.com/uifaces/faces/twitter/why_this/128.jpg
    description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis condimentum fermentum maximus. Integer molestie at sem sit amet rutrum.
    date: Monday at 08:20 pm
  - title: Project W
    image: https://s3.amazonaws.com/uifaces/faces/twitter/w7download/128.jpg
    description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis condimentum fermentum maximus. Integer molestie at sem sit amet rutrum.
    date: 1 week ago
  - title: Project Z
    image: https://s3.amazonaws.com/uifaces/faces/twitter/pankogut/128.jpg
    description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis condimentum fermentum maximus. Integer molestie at sem sit amet rutrum.
    date: a month ago
---
{{#extend "app/app-layout"}}
	{{#content "body"}}

		{{!-- Analytics --}}
		<section class="section">
			<div class="title-block">
				<h3 class="title">
					Hi User
				</h3>
				<p class="title-description">
					Check out you analytics
				</p>	
			</div>

			<div class="row sameheight-container">
				<div class="col col-xs-12 col-sm-6 col-md-6 col-xl-5 stats-col">
					{{> app/dashboard/stats/stats}}
				</div>
				<div class="col col-xs-12 col-sm-6 col-md-6 col-xl-7 visits-col">
					{{> app/dashboard/visits/visits}}
				</div>
			</div>
		</section>

		{{!-- Activity --}}
		<section class="section">
			<div class="title-block">
				<h3 class="title">
					Recent Activity
				</h3>
			</div>

			<div class="row sameheight-container">
				<div class="col-sm-6 col-md-4">
					{{> app/dashboard/items/items}}
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="card sameheight-item comments" data-exclude="xs">
						<div class="card-block">
							<div class="title-block">
								<h3 class="title">
									Comments
								</h3>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-12 col-md-4">
					<div class="card sameheight-item feed" data-exclude="xs">
						<div class="card-block">
							<div class="title-block">
								<h3 class="title">
									Newsfeed
								</h3>
							</div>
						</div>
					</div>
				</div>

			</div>
		</section>

		<section class="section">
			<div class="title-block">
				<h3 class="title">
					Projects
				</h3>
				<p class="title-description">
					This table will shows you your projects' progress.
				</p>	
			</div>

			{{!-- Projects --}}
			<div class="row sameheight-container">
				<div class="col-md-8">
					{{> app/dashboard/projects/projects}}
				</div>
				<div class="col-md-4">
					<div class="card sameheight-item" data-exclude="xs">
						<div class="card-block">
							<div class="title-block">
								<h3 class="title">
									Support tickets
								</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		


	{{/content}}
{{/extend}}