---
layout: app/app-layout
pagename: dashboard
items: 
  - title: 12 Myths Uncovered About IT & Software
    img: https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg
    author: Meadow Katheryne
    category: Software
    date: 21 SEP 10:45
    sales: 4958
  - title: 50% of things doesn't really belongs to you
    img: https://s3.amazonaws.com/uifaces/faces/twitter/_everaldo/128.jpg
    author: Alexander Sargssyan
    category: Software
    date: 21 SEP 10:45
    sales: 192
  - title: Vestibulum tincidunt amet laoreet mauris sit sem aliquam cras maecenas vel aliquam.
    img: https://s3.amazonaws.com/uifaces/faces/twitter/eduardo_olv/128.jpg
    author: Angela Blaine
    category: Software
    date: 21 SEP 10:45
    sales: 2143
  - title: 10 tips of Object Oriented Design
    img: https://s3.amazonaws.com/uifaces/faces/twitter/why_this/128.jpg
    author: Marcus Ulupus
    category: Software
    date: 21 SEP 10:45
    sales: 124
  - title: Sometimes friend tells it is cold
    img: https://s3.amazonaws.com/uifaces/faces/twitter/w7download/128.jpg
    author: Grdon Mrdon
    category: Software
    date: 21 SEP 10:45
    sales: 10214
  - title: New ways of conceptual thinking
    img: https://s3.amazonaws.com/uifaces/faces/twitter/pankogut/128.jpg
    author: Tiko Charbaxo
    category: Software
    date: 21 SEP 10:45
    sales: 3217
tasks:
  - title: Meeting with embassador
    done: true
  - title: Confession
    done: true
  - title: Time to start building an ark
    done: false
  - title: Beer time with dudes
    done: false  
  - title: Meeting new girls
    done: true
  - title: Remember damned home address
    done: false
  - title: Get home before you got sleep
    done: false
  - title: Meeting with embassador
    done: true
  - title: Confession
    done: true
  - title: Time to start building an ark
    done: false
  - title: Beer time with dudes
    done: false  
  - title: Meeting new girls
    done: true
  - title: Remember damned home address
    done: false 
---
<section class="section">
    <div class="row sameheight-container">
        <div class="col col-xs-12 col-sm-12 col-md-6 col-xl-5 stats-col">
            {{> app/dashboard/stats/stats}}
        </div>
        <div class="col col-xs-12 col-sm-12 col-md-6 col-xl-7 history-col">
            {{> app/dashboard/history/history}}
        </div>
    </div>
</section>

<section class="section">
    <div class="row sameheight-container">

        <div class="col-xl-8">
            {{> app/dashboard/items/items}}
        </div>

        <div class="col-xl-4">
             {{> app/dashboard/sales-breakdown/sales-breakdown}}
        </div>
    </div>
</section>
<section class="section map-tasks">
    <div class="row sameheight-container">
        <div class="col-md-8">
            {{> app/dashboard/sales-by-countries/sales-by-countries}}
        </div>
        
        <div class="col-md-4">
            {{> app/dashboard/tasks/tasks}}
        </div>
    </div>
</section>