---
page: dashboard
items: 
  - title: 12 Myths Uncovered About IT & Software
    img: https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg
    author: Meadow Katheryne
    category: Software
    date: 21 SEP 10:45
  - title: 50% of things doesn't really belongs to you
    img: https://s3.amazonaws.com/uifaces/faces/twitter/_everaldo/128.jpg
    author: Alexander Sargssyan
    category: Software
    date: 21 SEP 10:45
  - title: Vestibulum tincidunt amet laoreet mauris sit sem aliquam cras maecenas vel aliquam.
    img: https://s3.amazonaws.com/uifaces/faces/twitter/eduardo_olv/128.jpg
    author: Angela Blaine
    category: Software
    date: 21 SEP 10:45
tasks:
  - title: Meeting with embassador
    done: true
  - title: Cheating with neighbours wifey
    done: true
  - title: Confession
    done: true
  - title: Time to start building an ark
    done: false
  - title: Beer time with dudes
    done: false  
  - title: Meeting new girls
    done: true
  - title: Remember damned home address
    done: false
  - title: Get home before you got sleep
    done: false
---
{{#extend "app/app-layout"}}
    {{#content "body"}}

        {{!-- Analytics --}}
        <section class="section">
            <div class="row sameheight-container">
                <div class="col col-xs-12 col-sm-6 col-md-6 col-xl-5 stats-col">
                    {{> app/dashboard/stats/stats}}
                </div>
                <div class="col col-xs-12 col-sm-6 col-md-6 col-xl-7 visits-col">
                    {{> app/dashboard/visits/visits}}
                </div>
            </div>
        </section>

        <section class="section">
            {{!-- Projects --}}
            <div class="row sameheight-container">

                <div class="col-md-8">
                    {{> app/dashboard/items/items}}
                </div>

                <div class="col-md-4">
                     {{> app/dashboard/sales-by-months/sales-by-months}}
                </div>

                <div class="col-md-8">
                    {{> app/dashboard/sales-by-countries/sales-by-countries}}
                </div>
                
                <div class="col-md-4">
                    {{> app/dashboard/tasks/tasks}}
                </div>
            </div>
        </section>
        


    {{/content}}
{{/extend}}