{{#extend "app/app-layout"}}
	{{#content "body"}}

		<section class="section">

			<div class="title-block">
				<h3 class="title">
					Hi User
				</h3>
				<p class="subtitle">
					Check out you analytics
				</p>	
			</div>

			<div class="row">
				<div class="col-sm-5">

					<div class="panel">
						<h4 class="title l">
							Stats
						</h4>
						<p class="subtitle">
							Website metrics for
							<a href="http://modularteam.github.io/modularity-free-admin-dashboard-theme-html/">
								your awesome project
							</a>
						</p>


						<br><br><br><br><br><br>
					</div>
				</div>
				<div class="col-sm-7">
					<div class="panel">
						<h4 class="title l">
							Visits
						</h4>
						<p class="subtitle">
							Number of unique visits last 30 days
						</p>

						<br><br><br><br><br><br>
					</div>
				</div>
			</div>
		</section>

		<section class="section dashboard-projects">

			<div class="title-block">
				<h3 class="title">
					Projects
				</h3>
				<p class="subtitle">
					This table will shows you your projects' progress.
				</p>	
			</div>

			<div class="item">
				<div class="panel">
					<br><br>
				</div>
			</div>

			<div class="item">
				<div class="panel">
					<br><br>
				</div>
			</div>

			<div class="item">
				<div class="panel">
					<br><br>
				</div>
			</div>

			<div class="item">
				<div class="panel">
					<br><br>
				</div>
			</div>

		</section>

	{{/content}}
{{/extend}}