---
layout: app/app-layout
pagename: dashboard
---
<section class="section">
    <div class="row sameheight-container">
        <div class="col col-12 col-sm-12 col-md-6 col-xl-7 history-col">
             {{> app/dashboard/sales-breakdown/sales-breakdown}}
        </div>
    </div>
</section>
