---
layout: app/app-layout
pagename: urakka
urakat:
  - title: Marjamäki
    img: https://media.newmindmedia.com/TellUs/image/?file=Den-Norske-Opera_Ballett_1__c_VisitOSLO_Thomas-Johannessen_8977006.jpg&dh=533&dw=800&cropX=0&cropY=0&cropH=2787&cropW=4181
    author: Tuomas Kainulainen
    category: Tate
    date: 21 SEP 10:45
    sales: 4958
    items:
      - title: Marjamäki
        img: https://media.newmindmedia.com/TellUs/image/?file=Den-Norske-Opera_Ballett_1__c_VisitOSLO_Thomas-Johannessen_8977006.jpg&dh=533&dw=800&cropX=0&cropY=0&cropH=2787&cropW=4181
        author: Tuomas Kainulainen
        category: Tate
        date: 21 SEP 10:45
        sales: 4958
      - title: Kittelysvaara
        img: https://media.newmindmedia.com/TellUs/image/?file=Den-Norske-Opera_Ballett_1__c_VisitOSLO_Thomas-Johannessen_8977006.jpg&dh=533&dw=800&cropX=0&cropY=0&cropH=2787&cropW=4181
        author: Rami Sariola
        category: Elementit
        date: 21 SEP 10:45
        sales: 192
      - title: Tohmajärvi
        img: https://media.newmindmedia.com/TellUs/image/?file=Den-Norske-Opera_Ballett_1__c_VisitOSLO_Thomas-Johannessen_8977006.jpg&dh=533&dw=800&cropX=0&cropY=0&cropH=2787&cropW=4181
        author: Juha Koskinen
        category: Maarakenne
        date: 21 SEP 10:45
        sales: 192
  - title: Kittelysvaara
    img: https://media.newmindmedia.com/TellUs/image/?file=Den-Norske-Opera_Ballett_1__c_VisitOSLO_Thomas-Johannessen_8977006.jpg&dh=533&dw=800&cropX=0&cropY=0&cropH=2787&cropW=4181
    author: Rami Sariola
    category: Elementit
    date: 21 SEP 10:45
    sales: 192
    items:
      - title: Marjamäki
        img: https://media.newmindmedia.com/TellUs/image/?file=Den-Norske-Opera_Ballett_1__c_VisitOSLO_Thomas-Johannessen_8977006.jpg&dh=533&dw=800&cropX=0&cropY=0&cropH=2787&cropW=4181
        author: Tuomas Kainulainen
        category: Tate
        date: 21 SEP 10:45
        sales: 4958
      - title: Kittelysvaara
        img: https://media.newmindmedia.com/TellUs/image/?file=Den-Norske-Opera_Ballett_1__c_VisitOSLO_Thomas-Johannessen_8977006.jpg&dh=533&dw=800&cropX=0&cropY=0&cropH=2787&cropW=4181
        author: Rami Sariola
        category: Elementit
        date: 21 SEP 10:45
        sales: 192
      - title: Tohmajärvi
        img: https://media.newmindmedia.com/TellUs/image/?file=Den-Norske-Opera_Ballett_1__c_VisitOSLO_Thomas-Johannessen_8977006.jpg&dh=533&dw=800&cropX=0&cropY=0&cropH=2787&cropW=4181
        author: Juha Koskinen
        category: Maarakenne
        date: 21 SEP 10:45
        sales: 192
tasks:
  - title: Meeting with embassador
    done: true
  - title: Confession
    done: true
---
<section class="section">
    <div class="col-xl-8">
        {{> app/dashboard/items/items}}
    </div>
</section>

