.item-editor-page {
	.images-container {
		@include clearfix();

		.image-container {
			float: left;
			margin-right: 10px;
			position: relative;
			border: 1px solid $color-divider;

			&.active {
				border-color: $color-primary;
			}

			.controls {
				transition: opacity .2s ease;
				opacity: 0;
			}

			&:hover {
				.controls {
					opacity: 1;
				}
			}
		}

		.controls {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			@include clearfix();

			.control-btn {
				display: inline-block;
				// border-radius: 3px;
				cursor: pointer;
				width: 30px;
				height: 30px;
				line-height: 30px;
				text-align: center;
				background-color: fade-out(#000, 0.4);
				color: $color-text-inverse;
				opacity: 0.5;
				transition: opacity 0.3s ease;

				&:hover {
					opacity: 1;
				}



				&.move {
					cursor: move;
				}
			}
		}

		.image {
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			width: 80px;
			height: 80px;
			cursor: pointer;
			line-height: 80px;
			text-align: center;
			

			&:active {

			}
		}

		.image-container.new {
			opacity: 0.5;
			transition: opacity 0.3s ease;

			.image {
				background-color: $color-divider;
				color: $color-text-inverse;
				font-size: 0.8rem;
			}

			&:hover {
				opacity: 1;
			}
		}
	}
}