.dashboard-page .tasks {
	display: flex;
	flex-direction: column;
	align-content: stretch;

	.title-block {
		.title {
			align-items: center;
			display: flex;
			justify-content: space-between;
		}
	}



	label {
		width: 100%;
		margin-bottom: 0;

		.checkbox:checked+span {
			text-decoration: line-through;
		}

		span {
			display: inline-block;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap; 
			width: 100%;   					
		}
	}

	.tasks-block {
		max-height: 400px;
		overflow-y: scroll;
		overflow-x: hidden;
		margin: 0;
		margin-right: -5px;
	}

	.item-list {
		.item-col {
			padding-top: 5px;
			padding-bottom: 5px;
		}
	}
}