.dashboard-page .tasks {
	display: flex;
	flex-direction: column;
	align-content: stretch;

	.tasks-list {
		// align-self: stretch;
	}



	.title-block {

		.title {
			align-items: center;
			display: flex;
			justify-content: space-between;
		}

	}

	.tasks-block {
		max-height: 400px;
		overflow-y: scroll;
		overflow-x: hidden;
		margin: 0;
		margin-right: -5px;
	}

	.tasks-list {
		list-style-type: none;
		padding: 0;
		padding-right: 5px;

		.tasks-item {

			padding-right: 20px;
			position: relative;

			label {

				width: 100%;

				.checkbox:checked+span {
					text-decoration: line-through;
				}

				span {
					display: inline-block;
					overflow: hidden;
	    			text-overflow: ellipsis;
					white-space: nowrap; 
					width: 100%;   					
				}

			}

			.setting {
				color: $color-text-passive;
				
				font-size: 1.25rem;

			}
		}

	}


}