<div class="header-block header-block-nav">
	<ul class="nav-profile">

		{{!-- Notifications --}}

		<li class="notifications new">
			<a href="" data-toggle="dropdown">
				<i class="fa fa-bell-o"></i>
				<sup>
					<span class="counter">8</span>
				</sup>
			</a>
			{{!-- <div class="dropdown-menu notifications-dropdown-menu">

				<ul>
					<li>
						<a href="" class="notification-item">
							<div class="img-col">

							</div>
							<div class="body-col">

							</div>
						</a>
					</li>
				</ul>

				<footer>
					<ul>
						<li>
							<a href="">
								View All
							</a>
						</li>
					</ul>
				</footer>
			</div> --}}
		</li>

		{{!-- Profile --}}

		<li class="profile dropdown">
			<a href="" data-toggle="dropdown">
				<div class="img" style="background-image: url('https://avatars3.githubusercontent.com/u/3959008?v=3&s=40')">
					 
				</div>

				<span class="name">
					John Doe
				</span>

				<span class="arrow">
					<i class="fa fa-angle-down"></i>
				</span>
			</a>

			<ul class="dropdown-menu profile-dropdown-menu">
				<li>
					<a href="">
						<i class="fa fa-user"></i>
						Profile
					</a>
				</li>
				<li>
					<a href="">
						<i class="fa fa-gear"></i>
						Settings
					</a>
				</li>
				<li class="divider"></li>
				<li>
					<a href="">
						<i class="fa fa-sign-out"></i>
						Logout
					</a>
				</li>
			</ul>

		</li>
	</ul>
</div>