<div class="header-block header-block-nav">
	<ul class="nav-profile">

		{{!-- Notifications Dropdown --}}
		{{> app/_common/header/nav/notifications/notifications}}

		{{!-- Profile Dropdown --}}
		{{> app/_common/header/nav/profile/profile}}
		
	</ul>
</div>