<div class="Card Items" id="DashboardItems">
  <div class="CardHeader  -bordered -sm">
    <div class="HeaderBlock">
      <h4 class="Title">
        Recent Items
      </h4>
    </div>
  </div>

  <div class="ResponsiveList -striped">
    <div class="ListHeader -hidden-xs -hidden-sm">
      <div class="ItemCol ColImg -size-auto">
        {{!-- Just for size reference --}}
        <div class="Img"></div>
      </div>
      <div class="ItemCol ColName -rel-size-6 ColTitle">
        Name
      </div>
      <div class="ItemCol ColSales -rel-size-2 -size-xs-12 -rel-size-xs-12">
        Sales
      </div>
      <div class="ItemCol ColStats -rel-size-2 -size-xs-12 ColStats">
        Stats
      </div>
      <div class="ItemCol ColDate -rel-size-2 -size-xs-12 ColDate">
        Published
      </div>
    </div>
    <div class="ListContent">
      {{#each items}}
        <div class="ListItem">

          <div class="ItemCol ColImg -size-auto">
            <div class="Img" style="background-image: url({{this.img}})">
            </div>
          </div>

          <div class="ItemCol ColName -rel-size-6 -order-sm--2">
            <div class="ItemValue">
              <a href="" class="Name">
                {{this.name}}
              </a>
            </div>
          </div>

          <div class="Divider -visible-xs -visible-sm -order-sm--1">
          </div>

          <div class="ItemCol ColSales -rel-size-2">
            <div class="ItemLabel -visible-xs">
              Sales
            </div>
            <div class="ItemValue">
              {{this.sales}}
            </div>
          </div>

          <div class="Divider -visible-xs">
          </div>

          <div class="ItemCol ColStats -rel-size-2">
            <div class="ItemLabel -visible-xs">
              Stats
            </div>
            <div class="ItemValue Stats" data-type="bar">
            </div>
          </div>

          <div class="Divider -visible-xs">
          </div>

          <div class="ItemCol ColDate -rel-size-2">
            <div class="ItemLabel -visible-xs">
              Date
            </div>
            <div class="ItemValue">
              {{this.date}}
            </div>
          </div>
        </div>
      {{/each}}

    </div>
    <div class="ListFooter">

    </div>
  </div>

</div>
