@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,800,700,600);

:root {
  // This line will be replaced by computed value of
  // CSS exported string value of '_theme/theme.js'
  // Do not remove this line
  <--themeCSS-->
}


// Main styles
html,
body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  position: relative;
  color: var(--colorText);
  overflow-x: hidden;
  background: var(--BodyColorBg);
  font-family: 'Open Sans', sans-serif;

  &.-rtl {
    text-align: right;
  }
}

a {
  color: var(--LinkColor);
  font-style: var(--LinkFontStyle);


  &:hover {
    color: var(--LinkColor-hover);
    font-style: var(--LinkFontStyle-hover);
  }
}
