@import url('https://fonts.googleapis.com/css?family=Nunito|Nunito+Sans|Indie+Flower|Montserrat|Roboto|Open+Sans');
// @import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
  // This line will be replaced by computed value of
  // CSS exported string value of '_theme/theme.js'
  // Do not remove this line
  <--themeCSS-->
}


// Main styles
html,
body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  position: relative;
  color: var(--colorText);
  overflow-x: hidden;
  background: var(--BodyColorBg);
  font-family: 'Open Sans', sans-serif;

  &.-rtl {
    text-align: right;
  }
}

a {
  color: var(--LinkColor);
  text-decoration: var(--LinkTextDecoration);
  font-weight: var(--LinkFontWeight);


  &:hover {
    color: var(--LinkColor-hover);
    text-decoration: var(--LinkTextDecoration-hover);
  }
}
