.form-group {
	label.control-label {
		font-weight: 600;
		color:  @color-primary;
	}	

	.form-control {
		border: none;
		border-bottom: 1px solid @color-primary;
	    border-radius: 0;
		box-shadow: none;
		padding: 0;

		&:focus {
			border: none;
			box-shadow: none;
			border-bottom: 1px solid @color-primary;
		}
	}
}

.btn {
	background-image: none;

	&.btn-primary {
		.button-variant( @color-text-inverse, @color-primary, @color-primary);
	}

	&.btn-success {
		.button-variant( @color-text-inverse, @color-success, @color-success);
	}

	&.btn-info {
		.button-variant( @color-text-inverse, @color-info, @color-info);
	}

	&.btn-warning {
		.button-variant( @color-text-inverse, @color-warning, @color-warning);
	}

	&.btn-danger {
		.button-variant( @color-text-inverse, @color-danger, @color-danger);
	}
}