.form-group {
	.row {
		margin-left: -10px;
		margin-right: -10px;

		[class^='col'] {
			padding-left: 10px;
			padding-right: 10px;
		}
	}

	&.has-error {
		span.has-error {
			color: @color-danger;
			font-size: 13px;
			display: block !important;
		}
	}
}

label, 
.control-label {
	font-weight: 600;
}	

.form-control {
	border: none;
	border-bottom: 1px solid @color-divider;
    border-radius: 0;
	box-shadow: none;
	padding: 0;

	.has-error &:focus,
	&:focus {
		border: none;
		box-shadow: none;
		border-bottom: 1px solid @color-primary;
	}

	.has-error & {
		box-shadow: none;
		border-color: @color-danger;
	}
}

.checkbox {
	display: none;

	& + span {
		padding: 0;
	}

	& + span:before {
		font-family: FontAwesome;
		font-size: 21px;
		display: inline-block;
		vertical-align: middle;
		letter-spacing: 10px; 
		color: darken(@color-divider, 5%);
		content: "\f0c8";
	}

	&:checked + span:before {
		content: "\f14a";
		color: @color-primary;
	}
}


// Placeholders
.form-control {
	&::-webkit-input-placeholder {
		font-style: italic;
		color: darken(@color-divider, 5%);
	}

	&:-moz-placeholder { /* Firefox 18- */
		font-style: italic;
		color: @color-divider;
	}

	&::-moz-placeholder {  /* Firefox 19+ */
		font-style: italic;
		color: @color-divider;
	}

	&:-ms-input-placeholder {  
		font-style: italic;
		color: @color-divider;
	}
}


