.title-block,
.panel-title-block {
	padding-bottom: 15px;
	margin-bottom: 30px;
	border-bottom: 1px solid @color-divider;

	.clearfix();
}

.section {
	display: block;
	margin-bottom: 30px;
}

.panel {
	background-color: #fff;
	box-shadow: 1px 1px 5px fade(@color-text-light, 10%);
	
	margin-bottom: 10px;
	border-radius: 0;

	.title-block,
	.panel-title-block {
		padding-bottom: 0;
		margin-bottom: 20px;
		border: none;
	}

	.section {
		margin-bottom: 20px;
	}

	.example,
	.section.demo {
		margin-bottom: 40px;
	}
}

.panel-body {
	padding: 20px;

	@media @xs {
		padding: 10px;
	}
}


pre {
	padding: 0;
	border: none;
	background: none;
}

.stat {
	margin-bottom: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	.value {
		font-size: 26px;
		line-height: 32px;
		font-weight: 300;
		overflow: hidden;
		text-overflow: ellipsis;

		@media @sm {
			font-size: 20px;
			line-height: 26px
		}

		@media (min-width: @screen-lg-min) and (max-width: 1500px) {
			font-size: 20px;
			line-height: 26px;
		}
	}

	.name {
		overflow: hidden;
		text-overflow: ellipsis;

		@media @sm {
			font-size: 12px;
		}

		@media (min-width: @screen-lg-min) and (max-width: 1500px) {
			font-size: 12px;
		}
	}

	@media @lg {
		margin-bottom: 30px;
	}
}