.title-block {
	padding-bottom: 15px;
	margin-bottom: 30px;
	border-bottom: 1px solid @color-divider;

	.clearfix();
}

.section {
	display: block;
	margin-bottom: 30px;
}

.box-placeholder {
    margin-bottom: 15px;
    padding: 20px;
    border: 1px dashed #ddd;
    background: #fafafa;
    color: #444;
}

