.underline-animation {
	position: absolute;
	top: auto;
	bottom: 1px;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: @color-primary;
	content: '';
	transition: all 0.2s;
	backface-visibility: hidden;
	transform: scaleX(0);
}

.bar {
	background-color: @color-primary !important;
}

.stat {
	margin-bottom: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	.value {
		font-size: 26px;
		line-height: 32px;
		font-weight: 300;
		overflow: hidden;
		text-overflow: ellipsis;

		@media @sm {
			font-size: 20px;
			line-height: 26px
		}

		@media (min-width: @screen-lg-min) and (max-width: 1500px) {
			font-size: 20px;
			line-height: 26px;
		}
	}

	.name {
		overflow: hidden;
		text-overflow: ellipsis;

		@media @sm {
			font-size: 12px;
		}

		@media (min-width: @screen-lg-min) and (max-width: 1500px) {
			font-size: 12px;
		}
	}

	@media @lg {
		margin-bottom: 30px;
	}
}

.spinner {
	top: 25px !important;
    right: 23px !important;

	.spinner-icon {
		border-top-color: @color-primary !important;
	    border-left-color: @color-primary !important;
    }
}

.list-icon {

	[class^='col'] {
		cursor: pointer;
		
		em {
			font-size: 14px;
			width: 40px;
			vertical-align: middle;
			margin: 0;
			display: inline-block;
			text-align: center;
			-webkit-transition: all .2s;
			-o-transition: all .2s;
			transition: all .2s;
			line-height: 30px;
		}

		&:hover {
			em {
				transform: scale(2,2);
			}
		}
	}
}


.well {
	background-image: none;
	background-color: #fff;
}

.jumbotron {
	background-image: none;
	background-color: #fff;
	padding: 15px 30px;
}