.underline-animation {
	position: absolute;
	top: auto;
	bottom: 1px;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: @color-primary;
	content: '';
	transition: all 0.2s;
	backface-visibility: hidden;
	transform: scaleX(0);
}

.bar {
	background-color: @color-primary !important;
}

.spinner {
	top: 25px !important;
    right: 23px !important;

	.spinner-icon {
		border-top-color: @color-primary !important;
	    border-left-color: @color-primary !important;
    }
}
