.App {
  overflow-x: hidden;
  background-color: var(--AppColorBg);

  .HeaderContainer {
    position: absolute;
    top: 0;
    left: var(--AppSidebarWidth);
    right: 0;
    height: var(--AppHeaderHeight);
    display: flex;
    align-items: 'stretch';
    z-index: 30;

    transition-property: left;
    transition-timing-function: ease;
    transition-duration: var(--AppLayoutTransitionDuration);

    @include media-down(md) {
      left: 0;
    }
  }

  .SidebarContainer {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: var(--AppSidebarWidth);
    display: flex;
    align-items: 'stretch';
    z-index: 40;

    transition-property: left;
    transition-timing-function: ease;
    transition-duration: var(--AppLayoutTransitionDuration);

    @include media-down(md) {
      left: calc(-1 * var(--AppSidebarWidth));
    }
  }

  .SidebarOverlay {
    position: absolute;
    // display: none;
    left: 200vw;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 5;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    z-index: 35;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .FooterContainer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: var(--AppSidebarWidth);
    height: var(--AppFooterHeight);
    display: flex;
    align-items: 'stretch';
    z-index: 20;

    transition-property: left;
    transition-timing-function: ease;
    transition-duration: var(--AppLayoutTransitionDuration);

    @include media-down(md) {
      left: 0;
    }
  }

  .ContentContainer {
    display: flex;
    position: relative;
    padding-top: var(--AppHeaderHeight);
    padding-bottom: var(--AppFooterHeight);
    margin-left: var(--AppSidebarWidth);
    min-height: 100vh;
    align-items: stretch;
    z-index: 10;

    transition-property: margin-left;
    transition-timing-function: ease;
    transition-duration: var(--AppLayoutTransitionDuration);

    @include media-down(md) {
      margin-left: 0;
    }
  }

  .Content {
    width: 100%;
  }

  .ContentBackground {
    position: absolute;
    width: 100%;
    top: var(--AppHeaderHeight);
    bottom: var(--AppFooterHeight);
  }


  // Layout variations
  &.-header-fixed {
    .HeaderContainer {
      position: fixed;
    }
  }


  &.-sidebar-fixed {
    .SidebarContainer {
      position: fixed;
    }
  }

  &.-footer-fixed {
    .FooterContainer {
      position: fixed;
    }
  }


  &.-sidebar-open {
    .HeaderContainer {
      left: var(--AppSidebarWidth);

      @include media-down(md) {
        left: 0;
      }
    }

    .SidebarContainer {
      left: 0;
    }

    .SidebarOverlay {
      left: 0;
      opacity: 1;
    }

    .ContentContainer {
      margin-left: var(--AppSidebarWidth);

      @include media-down(md) {
        margin-left: 0;
      }
    }

    .FooterContainer {
      left: var(--AppSidebarWidth);

      @include media-down(md) {
        left: 0;
      }
    }

    // Blur out content
    .HeaderContainer,
    .ContentContainer,
    .FooterContainer {
      filter: blur(5px);
    }
  }

  &.-sidebar-closed {
    .HeaderContainer {
      left: 0;
    }

    .SidebarContainer {
      left: calc(-1 * var(--AppSidebarWidth));
    }

    .ContentContainer {
      margin-left: 0;
    }

    .FooterContainer {
      left: 0;
    }
  }


  // Background variations
  &.-bg-fixed .ContentBackground {
    background-attachment: fixed;
  }

  &.-bg1 .ContentBackground {
    opacity: 0.4;
    background-size: 100%;
    background-image: url(/assets/page-bg-1.svg);
    background-repeat: no-repeat;
  }

  &.-bg2 .ContentBackground {
    opacity: 0.4;
    background-size: cover;
    background-image: url(/assets/page-bg-2.svg);
    background-repeat: no-repeat;
  }

}
