---
page: animations
animations: 
  - title: Attention Seeker
    effects: 
      - title: Bounce
        classname: bounce
      - title: Flash
        classname: flash
      - title: Pulse
        classname: pulse
      - title: RubberBand
        classname: rubberBand
      - title: Shake
        classname: shake
      - title: Swing
        classname: swing
      - title: Tada
        classname: tada
      - title: Wobble
        classname: wobble
      - title: Jello
        classname: jello
  - title: Bouncing Entrances
    effects: 
      - title: BounceIn
        classname: bounceIn
      - title: BounceInDown
        classname: bounceInDown
      - title: BounceInLeft
        classname: bounceInLeft
      - title: BounceInRight
        classname: bounceInRight
      - title: BounceInUp
        classname: bounceInUp
  - title: Bouncing Exits
    effects: 
      - title: BounceOut
        classname: bounceOut
      - title: BounceOutDown
        classname: bounceOutDown
      - title: BounceOutLeft
        classname: bounceOutLeft
      - title: BounceOutRight
        classname: bounceOutRight
      - title: BounceOutUp
        classname: bounceOutUp
---
{{#extend "app/app-layout"}}
	{{#content "body"}}
		<div class="title-block">
			<h3 class="title">
				Animations
			</h3>
			<p class="subtitle">Animate.css is a bunch of cool, fun, and cross-browser animations</p>
		</div>

		<section class="section">
			<div class="row">
				

				{{#each animations}}
					<div class="col-sm-6 col-md-6">
						<div class="panel">
							<div class="panel-body">

								<div class="panel-title-block">
									<h3 class="title">
										{{title}}
									</h3>
								</div>
								<section class="section">
									<div class="row">
										{{#each effects}}
											<div class="col-sm-6 col-md-4">
												<div class="box-placeholder text-center"
													data-effect="animated {{classname}}">
													{{title}}
												</div>
											</div>
										{{/each}}
								</section>
							</div>
						</div>
					</div>
				{{/each}}
			</div>
		</section>

	{{/content}}
{{/extend}}