.Auth {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #667380;
  flex-direction: column;


  .AuthCard {
    width: 450px;
    background-color: #fff;
  }

  .AuthTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    padding: 20px;
    border-bottom: 1px solid #85CE36;
    background-color: #f2f4ef;
  }

  .Logo {
    margin-right: 5px;
  }

  .Description {
    text-align: center;
  }

  .AuthContent {
    padding: 30px 50px;
  }

  .FormGroup {
    margin-bottom: 20px;
  }

  .form-control {
    border: none;
    border-radius: 0;
    padding-left: 0;
    font-style: italic;
    font-weight: 200;
    border-bottom: 1px solid #d7dde4;
    box-shadow: none !important;
  }

  .form-control:focus {
    border-color: #85CE36;
  }

  label {
    font-weight: 600;
  }

  .AuthButton {
    display: block;
    width: 100%;
    color: #fff;
    line-height: 1.8;
    background-color: #85CE36;
    cursor: pointer;
  }

  .checkbox {
    margin-right: 5px;
  }

  .AuthButton:hover {
    background-color: #76b113;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .BackButton {
    margin: 10px 0;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #fff;
  }

  .DescriptionTitle {
    font-size: 12px;
    text-align: center;
    margin-bottom: 20px;
  }

  .RecoverBottom {
    display: flex;
    justify-content: space-between;
  }

  @include media-down(sm) {

      justify-content: flex-start;

  }

}

