<div class="card sameheight-item" data-exclude="xs">
	<div class="card-block">
		<h4 class="title">
			Visits
		</h4>
		<p class="subtitle">
			Number of unique visits last 30 days
		</p>

		<div id="dashboard-visits-chart"></div>
	</div>
</div>